<div class="ui container" style="width: 200px">
	<div class="ui divided list">
		<div ng-repeat="el in ctrl.elementNames" class="item">
			<div class="content">
				<a ui-sref="main.{{el}}" class="header">{{el}}</a>
				<div class="description">{{el}} description</div>
			</div>
		</div>
	</div>

	<div class="ui divided list">
		<div ng-repeat="coll in ctrl.collectionNames" class="item">
			<div class="content">
				<a ui-sref="main.{{coll}}" class="header">{{coll}}</a>
				<div class="description">{{coll}} description</div>
			</div>
		</div>
	</div>

</div>
<div ui-view=""></div>
