/*--------------
    Distance
---------------*/
$very-close: c-very-close();

#{$ui-rail} {

  &.#{$c-close} {
	width: $close-width;

	&.#{$c-left} {
	  padding: 0 $split-close-distance 0 0;
	  margin: 0 $split-close-distance 0 0;
	}

	&.#{$c-right} {
	  padding: 0 0 0 $split-close-distance;
	  margin: 0 0 0 $split-close-distance;
	}
  }

  &#{$very-close} {
	width: $very-close-width;

	&.#{$c-left} {
	  padding: 0 $split-very-close-distance 0 0;
	  margin: 0 $split-very-close-distance 0 0;
	}

	&.#{$c-right} {
	  padding: 0 0 0 $split-very-close-distance;
	  margin: 0 0 0 $split-very-close-distance;
	}
  }

}