/*--------------
    Dividing
---------------*/

/* Shortcuts */
$ui-dividing-rail: '#{$ui-rail}.#{$c-dividing}';

#{$ui-dividing-rail} {

  width: $dividing-width;

  &.#{$c-left} {
	padding: 0 $split-dividing-distance 0 0;
	margin: 0 $split-dividing-distance 0 0;
	border-right: $dividing-border;
  }

  &.#{$c-right} {
	border-left: $dividing-border;
	padding: 0 0 0 $split-dividing-distance;
	margin: 0 0 0 $split-dividing-distance;
  }
}