/*--------------
 Text Alignment
---------------*/

/* Shortcuts */
$left-aligned: selector-left-aligned();
$right-aligned: selector-right-aligned();
$center-aligned: selector-center-aligned();
$top-aligned: selector-top-aligned();
$middle-aligned: selector-middle-aligned();
$bottom-aligned: selector-bottom-aligned();

#{$ui-table} {

  &#{$left-aligned},
  #{$left-aligned} {
	text-align: left;
  }

  &#{$center-aligned},
  #{$center-aligned} {
	text-align: center;
  }

  &#{$right-aligned},
  #{$right-aligned} {
	text-align: right;
  }

  &#{$top-aligned},
  #{$top-aligned} {
	vertical-align: top;
  }

  &#{$middle-aligned},
  #{$middle-aligned} {
	vertical-align: middle;
  }

  &#{$bottom-aligned},
  #{$bottom-aligned} {
	vertical-align: bottom;
  }
}