/*-------------------
      Attached
--------------------*/

/* Shortcuts */
$top-attached: selector-top-attached();
$bottom-attached: selector-bottom-attached();

/* Middle */
#{$ui-table}.#{$c-attached} {
  top: 0;
  bottom: 0;
  border-radius: 0;
  margin: 0 $attached-horizontal-offset;
  width: $attached-width;
  max-width: $attached-width;
  box-shadow: $attached-box-shadow;
  border: $attached-border;
}

.#{$c-ui}.#{$c-attached} + #{$ui-table}.#{$c-attached}:not(.#{$c-top}) {
  border-top: none;
}

/* Top */
#{$ui-table}#{$top-attached} {
  bottom: 0;
  margin-bottom: 0;
  top: $attached-top-offset;
  margin-top: $vertical-margin;
  border-radius: $border-radius $border-radius 0 0;

  &:first-child {
	margin-top: 0;
  }
}

/* Bottom */
#{$ui-table}#{$bottom-attached} {
  bottom: 0;
  margin-top: 0;
  top: $attached-bottom-offset;
  margin-bottom: $vertical-margin;
  box-shadow: $attached-bottom-box-shadow;
  border-radius: 0 0 $border-radius $border-radius;

  &:last-child {
	margin-bottom: 0;
  }
}