/*--------------
      Basic
---------------*/

/* Shortcuts */
$very-basic: selector-very-basic();

#{$ui-table}.#{$c-basic} {

  background: $basic-table-background;
  border: $basic-table-border;
  box-shadow: $basic-box-shadow;

  thead,
  tfoot {
	box-shadow: none;
  }

  th {
	background: $basic-table-header-background;
	border-left: $basic-table-header-divider;
  }

  tbody tr {
	border-bottom: $basic-table-cell-border;
  }

  td {
	background: $basic-table-cell-background;
  }

  /* Striped Basic Table */
  &.#{$c-striped} {
	tbody tr:nth-child(2n) {
	  background-color: $basic-table-striped-background !important;
	}
  }
}

/* Very Basic Table */
#{$ui-table}#{$very-basic} {
  border: none;

  &:not(.#{$c-sortable}):not(.#{$c-striped}) {
	th,
	td {
	  padding: $basic-table-cell-padding;

	  &:first-child {
		padding-left: 0;
	  }

	  &:last-child {
		padding-right: 0;
	  }
	}

	thead tr:first-child th {
	  padding-top: 0;
	}
  }
}