/*--------------
   Collapsing
---------------*/

#{$ui-table} {

  /* Collapsing Table */
  &.#{$c-collapsing} {
	width: auto;
  }

  th.#{$c-collapsing},
  td.#{$c-collapsing} {
	width: 1px;
	white-space: nowrap;
  }
}

