/*--------------
     Compact
---------------*/

/* Shortcuts */
$very-compact: selector-very-compact();

#{$ui-table}.#{$c-compact} {

  th {
	padding-left: $compact-horizontal-padding;
	padding-right: $compact-horizontal-padding;
  }

  td {
	padding: $compact-vertical-padding $compact-horizontal-padding;
  }
}

/* Very Compact Table */
#{$ui-table}#{$very-compact} {

  th {
	padding-left: $very-compact-horizontal-padding;
	padding-right: $very-compact-horizontal-padding;
  }

  td {
	padding: $very-compact-vertical-padding $very-compact-horizontal-padding;
  }
}