/*--------------
     Compact
---------------*/

.ui.compact.table th {
  padding-left: $compact-horizontal-padding;
  padding-right: $compact-horizontal-padding;
}

.ui.compact.table td {
  padding: $compact-vertical-padding $compact-horizontal-padding;
}

/* Very */
.ui[class*="very compact"].table th {
  padding-left: $very-compact-horizontal-padding;
  padding-right: $very-compact-horizontal-padding;
}

.ui[class*="very compact"].table td {
  padding: $very-compact-vertical-padding $very-compact-horizontal-padding;
}