/*--------------
    Inverted
---------------*/

/* Text Color */
.ui.inverted.table {
  background: $inverted-background;
  color: $inverted-cell-color;
  border: $inverted-border;
}

.ui.inverted.table th {
  background-color: $inverted-header-background;
  border-color: $inverted-header-border-color !important;
  color: $inverted-header-color;
}

.ui.inverted.table tr td {
  border-color: $inverted-cell-border-color !important;
}

.ui.inverted.table tr.disabled td,
.ui.inverted.table tr td.disabled,
.ui.inverted.table tr.disabled:hover td,
.ui.inverted.table tr:hover td.disabled {
  pointer-events: none;
  color: color-text-disabled($inverted: true);
}

/* Definition */
.ui.inverted.definition.table tfoot:not(.full-width) th:first-child,
.ui.inverted.definition.table thead:not(.full-width) th:first-child {
  background: $definition-page-background;
}

.ui.inverted.definition.table tr td:first-child {
  background: $inverted-definition-column-background;
  color: $inverted-definition-column-color;
}