/*--------------
    Inverted
---------------*/

#{$ui-table}.#{$c-inverted} {
  
  background: $inverted-background;
  color: $inverted-cell-color;
  border: $inverted-border;
  
  th {
	background-color: $inverted-header-background;
	border-color: $inverted-header-border-color !important;
	color: $inverted-header-color;
  }
  
  tr td {
	border-color: $inverted-cell-border-color !important;
  }
  
  tr.#{$c-disabled} td,
  tr td.#{$c-disabled},
  tr.#{$c-disabled}:hover td,
  tr:hover td.#{$c-disabled} {
	pointer-events: none;
	color: color-text-disabled($inverted: true);
  }
}