/*--------------
     Padded
---------------*/

/* Shortcuts */
$very-padded: selector-very-padded();

#{$ui-table}.#{$c-padded} {

  th {
	padding-left: $padded-horizontal-padding;
	padding-right: $padded-horizontal-padding;
  }

  th,
  td {
	padding: $padded-vertical-padding $padded-horizontal-padding;
  }
}

/* Very Padded Table */
#{$ui-table}#{$very-padded} {

  th {
	padding-left: $very-padded-horizontal-padding;
	padding-right: $very-padded-horizontal-padding;
  }

  td {
	padding: $very-padded-vertical-padding $very-padded-horizontal-padding;
  }
}