/*--------------
   Selectable
---------------*/

#{$ui-table} {

  /* Selectable */
  &.#{$c-selectable} tbody tr,
  tbody tr td.#{$c-selectable} {

	&:hover {
	  background: $selectable-background !important;
	  color: $selectable-text-color !important;
	}
  }

  /* Selectable Cell Link */
  tbody tr td.#{$c-selectable} {
	padding: 0;

	> a:not(.ui) {
	  display: block;
	  color: inherit;
	  padding: $cell-vertical-padding $cell-horizontal-padding;
	}
  }

  /* Inverted Table */
  &.#{$c-inverted} {

	/* Selectable */
	&.#{$c-selectable} tbody tr,
	tbody tr td.#{$c-selectable} {

	  &:hover {
		background: $selectable-inverted-background !important;
		color: $selectable-inverted-text-color !important;
	  }
	}
  }

  /* Active */
  &.#{$c-selectable} tr.#{$c-active}:hover,
  &.#{$c-selectable} tr:hover td.#{$c-active}
  tr td.#{$c-selectable}.#{$c-active}:hover {
	background: $active-background-color !important;
	color: $active-color !important;
  }
}