/*--------------
   Selectable
---------------*/

.ui.selectable.table tbody tr:hover,
.ui.table tbody tr td.selectable:hover {
  background: $selectable-background !important;
  color: $selectable-text-color !important;
}

.ui.selectable.inverted.table tbody tr:hover,
.ui.inverted.table tbody tr td.selectable:hover {
  background: $selectable-inverted-background !important;
  color: $selectable-inverted-text-color !important;
}

/* Selectable Cell Link */
.ui.table tbody tr td.selectable {
  padding: 0;
}

.ui.table tbody tr td.selectable > a:not(.ui) {
  display: block;
  color: inherit;
  padding: $cell-vertical-padding $cell-horizontal-padding;
}

/* Other States */
/*.ui.selectable.table tr.error:hover,
.ui.table tr td.selectable.error:hover,
.ui.selectable.table tr:hover td.error {
  background: $errorBackgroundHover !important;
  color: $errorColorHover !important;
}*/

/*.ui.selectable.table tr.warning:hover,
.ui.table tr td.selectable.warning:hover,
.ui.selectable.table tr:hover td.warning {
  background: $warningBackgroundHover !important;
  color: $warningColorHover !important;
}*/

/*.ui.selectable.table tr.active:hover,
.ui.table tr td.selectable.active:hover,
.ui.selectable.table tr:hover td.active {
  background: $activeBackgroundColor !important;
  color: $activeColor !important;
}*/

/*.ui.selectable.table tr.positive:hover,
.ui.table tr td.selectable.positive:hover,
.ui.selectable.table tr:hover td.positive {
  background: $positiveBackgroundHover !important;
  color: $positiveColorHover !important;
}*/

/*.ui.selectable.table tr.negative:hover,
.ui.table tr td.selectable.negative:hover,
.ui.selectable.table tr:hover td.negative {
  background: $negativeBackgroundHover !important;
  color: $negativeColorHover !important;
}*/

