/*--------------
    Sortable
---------------*/

#{$ui-table}.#{$c-sortable} {

  thead th {
	cursor: pointer;
	white-space: nowrap;
	border-left: $sortable-border;
	color: $sortable-color;

	&::after {
	  display: none;
	  font-style: normal;
	  font-weight: normal;
	  text-decoration: inherit;
	  content: '';
	  height: 1em;
	  width: $sortable-icon-width;
	  opacity: $sortable-icon-opacity;
	  margin: 0 0 0 $sortable-icon-distance;
	  font-family: $sortable-icon-font;
	}

	&:first-child {
	  border-left: none;
	}

	&:hover {
	  background: $sortable-hover-background;
	  color: $sortable-hover-color;
	}

	&.#{$c-sorted} {
	  background: $sortable-active-background;
	  color: $sortable-active-color;
	  user-select: none;

	  &::after {
		display: inline-block;
	  }

	  &:hover {
		background: $sortable-active-hover-background;
		color: $sortable-active-hover-color;
		user-select: none;
	  }
	}

	&.#{$c-ascending}::after {
	  content: $sortable-icon-ascending;
	}

	&.#{$c-descending}::after {
	  content: $sortable-icon-descending;
	}

	&.#{$c-disabled} {
	  &:hover {
		cursor: auto;
		color: $sortable-disabled-color;
	  }
	}
  }

  /* Inverted Sortable Table */
  &.#{$c-inverted} {

	thead th {
	  border-left-color: $sortable-inverted-border-color;
	  border-right-color: $sortable-inverted-border-color;

	  &:hover {
		background: $sortable-inverted-hover-background;
		color: $sortable-inverted-hover-color;
	  }

	  &.#{$c-sorted} {
		background: $sortable-inverted-active-background;
		color: $sortable-inverted-active-color;
	  }
	}
  }
}