/*--------------
    Stackable
---------------*/

/*@media only screen and (max-width: $largestTabletScreen) {

  .ui[class*="tablet stackable"].table,
  .ui[class*="tablet stackable"].table tbody,
  .ui[class*="tablet stackable"].table tr,
  .ui[class*="tablet stackable"].table tr > th,
  .ui[class*="tablet stackable"].table tr > td {
    display: block !important;
    width: 100% !important;
  }

  .ui[class*="tablet stackable"].table {
    padding: 0;
  }
  .ui[class*="tablet stackable"].table thead {
    display: $responsive-header-display;
  }
  .ui[class*="tablet stackable"].table tfoot {
    display: $responsive-footer-display;
  }
  .ui[class*="tablet stackable"].table tr {
    padding-top: $responsive-row-vertical-padding;
    padding-bottom: $responsive-row-vertical-padding;
    box-shadow: $responsive-row-box-shadow;
  }
  .ui[class*="tablet stackable"].table tr > th,
  .ui[class*="tablet stackable"].table tr > td {
    background: none;
    border: none !important;
    padding: $responsive-cell-vertical-padding $responsive-cell-horizontal-padding;
    box-shadow: $responsive-cell-box-shadow;
  }

  !* Definition Table *!
  .ui.definition[class*="tablet stackable"].table thead th:first-child {
    box-shadow: none !important;
  }
}*/