/*--------------
     Striped
---------------*/

/* Shortcuts */
$selectable: '.#{$c-selectable}.#{$c-selectable}.#{$c-selectable}';

#{$ui-table}.#{$c-striped} {

  /* Table Striping */
  > tr:nth-child(2n),
  tbody tr:nth-child(2n) {
	background-color: $striped-background;
  }

  /* Inverted Striped Table */
  &.#{$c-inverted} {

	/* Stripes */
	> tr:nth-child(2n),
	tbody tr:nth-child(2n) {
	  background-color: $inverted-striped-background;
	}
  }

  /* Selectable Striped Table */
  &#{$selectable} {
	tbody tr.active:hover {
	  background: $active-background-hover !important;
	  color: $active-color-hover !important;
	}
  }
}


/* Allow striped active hover */
/*.ui.striped.selectable.selectable.selectable.table */