/* Prototype */
.ui.table {
  width: 100%;
  background: $background;
  margin: $margin;
  border: $border;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  text-align: $text-align;
  color: $color;
  border-collapse: $border-collapse;
  border-spacing: $border-spacing;
}

.ui.table:first-child {
  margin-top: 0;
}

.ui.table:last-child {
  margin-bottom: 0;
}

/*******************************
             Parts
*******************************/

/* Table Content */
.ui.table th,
.ui.table td {
  transition: $transition;
}

/* Headers */
.ui.table thead {
  box-shadow: $header-box-shadow;
}

.ui.table thead th {
  cursor: auto;
  background: $header-background;
  text-align: $header-align;
  color: $header-color;
  padding: $header-vertical-padding $header-horizontal-padding;
  vertical-align: $header-vertical-align;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  text-transform: $header-text-transform;
  border-bottom: $header-border;
  border-left: $header-divider;
}

.ui.table thead tr > th:first-child {
  border-left: none;
}

.ui.table thead tr:first-child > th:first-child {
  border-radius: $border-radius 0 0 0;
}

.ui.table thead tr:first-child > th:last-child {
  border-radius: 0 $border-radius 0 0;
}

.ui.table thead tr:first-child > th:only-child {
  border-radius: $border-radius $border-radius 0 0;
}

/* Footer */
.ui.table tfoot {
  box-shadow: $footer-box-shadow;
}

.ui.table tfoot th {
  cursor: auto;
  border-top: $footer-border;
  background: $footer-background;
  text-align: $footer-align;
  color: $footer-color;
  padding: $footer-vertical-padding $footer-horizontal-padding;
  vertical-align: $footer-vertical-align;
  font-style: $footer-font-style;
  font-weight: $footer-font-weight;
  text-transform: $footer-text-transform;
}

.ui.table tfoot tr > th:first-child {
  border-left: none;
}

.ui.table tfoot tr:first-child > th:first-child {
  border-radius: 0 0 0 $border-radius;
}

.ui.table tfoot tr:first-child > th:last-child {
  border-radius: 0 0 $border-radius 0;
}

.ui.table tfoot tr:first-child > th:only-child {
  border-radius: 0 0 $border-radius $border-radius;
}

/* Table Row */
.ui.table tr td {
  border-top: $row-border;
}

.ui.table tr:first-child td {
  border-top: none;
}

/* Table Cells */
.ui.table td {
  padding: $cell-vertical-padding $cell-horizontal-padding;
  text-align: $cell-text-align;
}

/* Icons */
.ui.table > .icon {
  vertical-align: $icon-vertical-align;
}

.ui.table > .icon:only-child {
  margin: 0;
}

/* Table Segment */
.ui.table.segment {
  padding: 0;
}

.ui.table.segment:after {
  display: none;
}

.ui.table.segment.stacked:after {
  display: block;
}

/* Responsive */
/*@media only screen and (max-width : $largestMobileScreen) {
  .ui.table:not(.unstackable) {
    width: 100%;
  }
  .ui.table:not(.unstackable) tbody,
  .ui.table:not(.unstackable) tr,
  .ui.table:not(.unstackable) tr > th,
  .ui.table:not(.unstackable) tr > td  {
    display: block !important;
    width: auto !important;
  }

  .ui.table:not(.unstackable) {
    padding: 0;
  }
  .ui.table:not(.unstackable) thead {
    display: $responsive-header-display;
  }
  .ui.table:not(.unstackable) tfoot {
    display: $responsive-footer-display;
  }
  .ui.table:not(.unstackable) tr {
    padding-top: $responsive-row-vertical-padding;
    padding-bottom: $responsive-row-vertical-padding;
    box-shadow: $responsive-row-box-shadow;
  }

  .ui.table:not(.unstackable) tr > th,
  .ui.table:not(.unstackable) tr > td {
    background: none;
    border: none !important;
    padding: $responsive-cell-vertical-padding $responsive-cell-horizontal-padding !important;
    box-shadow: $responsive-cell-box-shadow;
  }
  .ui.table:not(.unstackable) th:first-child,
  .ui.table:not(.unstackable) td:first-child {
    font-weight: bold;
  }

  !* Definition Table *!
  .ui.definition.table:not(.unstackable) thead th:first-child {
    box-shadow: none !important;
  }
}*/

/*******************************
             States
*******************************/

/*--------------
    Positive
---------------*/

/*.ui.table tr.positive,
.ui.table td.positive {
  box-shadow: $positiveBoxShadow;
}
.ui.table tr.positive,
.ui.table td.positive {
  background: $positiveBackgroundColor !important;
  color: $positiveColor !important;
}*/

/*--------------
     Negative
---------------*/

/*.ui.table tr.negative,
.ui.table td.negative {
  box-shadow: $negativeBoxShadow;
}
.ui.table tr.negative,
.ui.table td.negative {
  background: $negativeBackgroundColor !important;
  color: $negativeColor !important;
}*/

/*--------------
      Error
---------------*/

/*.ui.table tr.error,
.ui.table td.error {
  box-shadow: $errorBoxShadow;
}
.ui.table tr.error,
.ui.table td.error {
  background: $errorBackgroundColor !important;
  color: $errorColor !important;
}*/
/*--------------
     Warning
---------------*/

/*.ui.table tr.warning,
.ui.table td.warning {
  box-shadow: $warningBoxShadow;
}
.ui.table tr.warning,
.ui.table td.warning {
  background: $warningBackgroundColor !important;
  color: $warningColor !important;
}*/

/*--------------
     Active
---------------*/

/*.ui.table tr.active,
.ui.table td.active {
  box-shadow: $activeBoxShadow;
}
.ui.table tr.active,
.ui.table td.active {
  background: $activeBackgroundColor !important;
  color: $activeColor !important;
}*/

/*--------------
     Disabled
---------------*/

.ui.table tr.disabled td,
.ui.table tr td.disabled,
.ui.table tr.disabled:hover,
.ui.table tr:hover td.disabled {
  pointer-events: none;
  color: color-text-disabled();
}

/*--------------
  Column Count
---------------*/

@for $i from 1 through $num-columns {

  /* Grid Based */
  .ui.#{number-name($i)}.column.table td {
    width: column($i);
  }
  /* Column Width */
  .ui.table th.#{number-name($i)}.wide,
  .ui.table td.#{number-name($i)}.wide {
    width: wide($i);
  }
}