/* Shortcuts */
$ui-table: selector-ui-table();

/* Prototype */
#{$ui-table} {
  width: 100%;
  background: $background;
  margin: $margin;
  border: $border;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  text-align: $text-align;
  color: $color;
  border-collapse: $border-collapse;
  border-spacing: $border-spacing;

  &:first-child {
	margin-top: 0;
  }

  &:last-child {
	margin-bottom: 0;
  }

  /* Table Content */
  th,
  td {
	transition: $transition;
  }

  /* Headers */
  thead {
	box-shadow: $header-box-shadow;
  }

  thead th {
	cursor: auto;
	background: $header-background;
	text-align: $header-align;
	color: $header-color;
	padding: $header-vertical-padding $header-horizontal-padding;
	vertical-align: $header-vertical-align;
	font-style: $header-font-style;
	font-weight: $header-font-weight;
	text-transform: $header-text-transform;
	border-bottom: $header-border;
	border-left: $header-divider;
  }

  thead tr > th:first-child {
	border-left: none;
  }

  thead tr:first-child > th:first-child {
	border-radius: $border-radius 0 0 0;
  }

  thead tr:first-child > th:last-child {
	border-radius: 0 $border-radius 0 0;
  }

  thead tr:first-child > th:only-child {
	border-radius: $border-radius $border-radius 0 0;
  }

  /* Footer */
  tfoot {
	box-shadow: $footer-box-shadow;
  }

  tfoot th {
	cursor: auto;
	border-top: $footer-border;
	background: $footer-background;
	text-align: $footer-align;
	color: $footer-color;
	padding: $footer-vertical-padding $footer-horizontal-padding;
	vertical-align: $footer-vertical-align;
	font-style: $footer-font-style;
	font-weight: $footer-font-weight;
	text-transform: $footer-text-transform;
  }

  tfoot tr > th:first-child {
	border-left: none;
  }

  tfoot tr:first-child > th:first-child {
	border-radius: 0 0 0 $border-radius;
  }

  tfoot tr:first-child > th:last-child {
	border-radius: 0 0 $border-radius 0;
  }

  tfoot tr:first-child > th:only-child {
	border-radius: 0 0 $border-radius $border-radius;
  }

  /* Table Row */
  tr td {
	border-top: $row-border;
  }

  tr:first-child td {
	border-top: none;
  }

  /* Table Cells */
  td {
	padding: $cell-vertical-padding $cell-horizontal-padding;
	text-align: $cell-text-align;
  }

  /* Icons */
  > .icon {
	vertical-align: $icon-vertical-align;

	&:only-child {
	  margin: 0;
	}
  }
}

/* Table Segment */
#{$ui-table}.#{$c-segment} {
  padding: 0;

  &::after {
	display: none;
  }

  /* Stacked Segment Table */
  &.#{$c-stacked} {
	:after {
	  display: block;
	}
  }
}

/*--------------
     Disabled
---------------*/

#{$ui-table} {
  
  tr.#{$c-disabled} td,
  tr td.#{$c-disabled},
  tr.#{$c-disabled}:hover,
  tr:hover td.#{$c-disabled} {
	pointer-events: none;
	color: color-text-disabled();
  }
}


/*--------------
  Column Count
---------------*/

@for $i from 1 through $num-columns {

  /* Grid Based */
  $num-columns: selector-num-column($i);
  #{$ui-table}#{$num-columns} {
	td {
	  width: column($i);
	}
  }
  
  /* Column Width */
  $num-wide: selector-num-wide($i);
  #{$ui-table} {
	th#{$num-wide},
	td#{$num-wide} {
	  width: wide($i);
	}
  }
}