/* Shortcuts */
$ui-reveal: '.#{$c-ui}.#{$c-reveal}';
$visible-content: '.#{$c-visible}.#{$c-content}';
$hidden-content: '.#{$c-hidden}.#{$c-content}';

#{$ui-reveal} {

  display: inherit;
  position: relative !important;
  font-size: 0 !important;

  & > #{$visible-content} {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	z-index: $top-z-index !important;
	transition: $transition;
  }

  & > #{$hidden-content} {
	position: relative !important;
	z-index: $bottom-z-index !important;
  }

  /* Make sure hovered element is on top of other reveal */
  &.#{$c-active} #{$visible-content},
  &:hover #{$visible-content} {
	z-index: $active-z-index !important;
  }

  /*--------------
      Slide
---------------*/

  &.slide {
	position: relative !important;
	overflow: hidden !important;
	white-space: nowrap;
  }

  &.slide > .#{$c-content} {
	display: block;
	width: 100%;
	float: left;

	margin: 0;
	transition: $slide-transition;
  }

  &.slide > #{$visible-content} {
	position: relative !important;
  }

  &.slide > #{$hidden-content} {
	position: absolute !important;
	left: 0 !important;
	width: 100% !important;
	transform: translateX(100%) !important;
  }

  &.slide.#{$c-active} > #{$visible-content},
  &.slide:hover > #{$visible-content} {
	transform: translateX(-100%) !important;
  }

  &.slide.#{$c-active} > #{$hidden-content},
  &.slide:hover > #{$hidden-content} {
	transform: translateX(0) !important;
  }

  &.slide.#{$c-right} > #{$visible-content} {
	transform: translateX(0) !important;
  }

  &.slide.#{$c-right} > #{$hidden-content} {
	transform: translateX(-100%) !important;
  }

  &.slide.#{$c-right}.#{$c-active} > #{$visible-content},
  &.slide.#{$c-right}:hover > #{$visible-content} {
	transform: translateX(100%) !important;
  }

  &.slide.#{$c-right}.#{$c-active} > #{$hidden-content},
  &.slide.#{$c-right}:hover > #{$hidden-content} {
	transform: translateX(0) !important;
  }

  &.slide.#{$c-up} > #{$hidden-content} {
	transform: translateY(100%) !important;
  }

  &.slide.#{$c-up}.#{$c-active} > #{$visible-content},
  &.slide.#{$c-up}:hover > #{$visible-content} {
	transform: translateY(-100%) !important;
  }

  &.slide.#{$c-up}.#{$c-active} > #{$hidden-content},
  &.slide.#{$c-up}:hover > #{$hidden-content} {
	transform: translateY(0) !important;
  }

  &.slide.#{$c-down} > #{$hidden-content} {
	transform: translateY(-100%) !important;
  }

  &.slide.#{$c-down}.#{$c-active} > #{$visible-content},
  &.slide.#{$c-down}:hover > #{$visible-content} {
	transform: translateY(100%) !important;
  }

  &.slide.#{$c-down}.#{$c-active} > #{$hidden-content},
  &.slide.#{$c-down}:hover > #{$hidden-content} {
	transform: translateY(0) !important;
  }

  /*--------------
		Fade
  ---------------*/

  &.fade > #{$visible-content} {
	opacity: 1;
  }

  &.fade.#{$c-active} > #{$visible-content},
  &.fade:hover > #{$visible-content} {
	opacity: 0;
  }

  /*--------------
		Move
  ---------------*/

  &.move {
	position: relative !important;
	overflow: hidden !important;
	white-space: nowrap;
  }

  &.move > .#{$c-content} {
	display: block;
	float: left;

	margin: 0;
	transition: $move-transition;
  }

  &.move > #{$visible-content} {
	position: relative !important;
  }

  &.move > #{$hidden-content} {
	position: absolute !important;
	left: 0 !important;
	width: 100% !important;
  }

  &.move.#{$c-active} > #{$visible-content},
  &.move:hover > #{$visible-content} {
	transform: translateX(-100%) !important;
  }

  &.move.#{$c-right}.#{$c-active} > #{$visible-content},
  &.move.#{$c-right}:hover > #{$visible-content} {
	transform: translateX(100%) !important;
  }

  &.move.#{$c-up}.#{$c-active} > #{$visible-content},
  &.move.#{$c-up}:hover > #{$visible-content} {
	transform: translateY(-100%) !important;
  }

  &.move.#{$c-down}.#{$c-active} > #{$visible-content},
  &.move.#{$c-down}:hover > #{$visible-content} {
	transform: translateY(100%) !important;
  }

  /*--------------
     Rotate
---------------*/

  &.rotate > #{$visible-content} {
	transition-duration: $transition-duration;
	transform: rotate(0deg);
  }

  &.rotate > #{$visible-content},
  &.rotate.#{$c-right} > #{$visible-content} {
	transform-origin: bottom right;
  }

  &.rotate.#{$c-active} > #{$visible-content},
  &.rotate:hover > #{$visible-content},
  &.rotate.#{$c-right}.#{$c-active} > #{$visible-content},
  &.rotate.#{$c-right}:hover > #{$visible-content} {
	transform: rotate($rotate-degrees);
  }

  &.rotate.#{$c-left} > #{$visible-content} {
	transform-origin: bottom left;
  }

  &.rotate.#{$c-left}.#{$c-active} > #{$visible-content},
  &.rotate.#{$c-left}:hover > #{$visible-content} {
	transform: rotate(-$rotate-degrees);
  }

  /*--------------
     States
---------------*/

  &.#{$c-disabled}:hover > .#{$c-visible}.#{$c-visible}.#{$c-content} {
	position: static !important;
	display: block !important;
	opacity: 1 !important;
	top: 0 !important;
	left: 0 !important;
	right: auto !important;
	bottom: auto !important;
	transform: none !important;
  }

  &.#{$c-disabled}:hover > .#{$c-hidden}.#{$c-hidden}.#{$c-content} {
	display: none !important;
  }

  /*--------------
     Visible
---------------*/

  &.#{$c-visible} {
	overflow: visible;
  }

  /*--------------
	   Instant
  ---------------*/

  &.instant > .#{$c-content} {
	transition-delay: 0s !important;
  }

  /*--------------
	   Sizing
  ---------------*/

  & > .#{$c-content} {
	font-size: size('medium') !important;
  }
}
