/*------------------
  Vertical Aligned
-------------------*/

/* Shortcuts */
$ui-aligned-image: '#{$ui-image}.#{$c-aligned}';
$ui-aligned-image-group: '#{$ui-image-group}.#{$c-aligned}';
$top-aligned: "[class*='#{$c-top} #{$c-aligned}']";
$bottom-aligned: "[class*='#{$c-bottom} #{$c-aligned}']";

#{$ui-aligned-image-group} .#{$c-image},
#{$ui-aligned-image},
#{$ui-aligned-image} svg,
#{$ui-aligned-image} img {
  display: inline-block;
  vertical-align: middle;
}

#{$ui-image-group}#{$top-aligned} .#{$c-image},
#{$ui-image}#{$top-aligned},
#{$ui-image}#{$top-aligned} svg,
#{$ui-image}#{$top-aligned} img {
  vertical-align: top;
}

#{$ui-image-group}#{$bottom-aligned} .#{$c-image},
#{$ui-image}#{$bottom-aligned},
#{$ui-image}#{$bottom-aligned} svg,
#{$ui-image}#{$bottom-aligned} img {
  vertical-align: bottom;
}
