/*--------------
     Avatar
---------------*/

#{$ui-image-group}.#{$c-avatar} > .#{$c-image} > img,
#{$ui-image-group}.#{$c-avatar} > .#{$c-image} > svg,
#{$ui-image-group}.#{$c-avatar} > img,
#{$ui-image-group}.#{$c-avatar} > svg,
#{$ui-image}.#{$c-avatar} > img,
#{$ui-image}.#{$c-avatar} > svg,
img#{$ui-image}.#{$c-avatar} {

  display: inline-block;

  width: $avatar-size;
  height: $avatar-size;
  margin-right: $avatar-margin;

  vertical-align: middle;

  border-radius: $border-radius-circular;
}