/*-------------------
       Floated
--------------------*/

$ui-floated-image: '#{$ui-image}.#{$c-floated}';
$ui-floated-image-group: '#{$ui-image-group}.#{$c-floated}';
$right-floated: c-right-floated();
$ui-centered-image: '#{$ui-image}.#{$c-centered}';
$ui-centered-image-group: '#{$ui-image-group}.#{$c-centered}';

#{$ui-floated-image-group},
#{$ui-floated-image} {

  // default float
  float: left;

  margin-right: $floated-horizontal-margin;
  margin-bottom: $floated-vertical-margin;

  &:last-child {
	margin-bottom: 0;
  }

  &#{$right-floated} {
	float: right;

	margin-left: $floated-horizontal-margin;
	margin-right: 0;
  }
}

#{$ui-centered-image-group},
#{$ui-centered-image} {

  margin-left: auto;
  margin-right: auto;
}
