/*--------------
     Fluid
---------------*/

#{$ui-image-group}.#{$c-fluid} > .#{$c-image},
#{$ui-image-group}.#{$c-fluid},
#{$ui-image}.#{$c-fluid} {

  &,
  > img,
  > svg {
	display: block;
	width: 100%;
	margin: 0;
  }
}