/*--------------
     Rounded
---------------*/

/* Shortcuts */
$ui-rounded-image: '#{$ui-image}.#{$c-rounded}';
$ui-rounded-image-group: '#{$ui-image-group}.#{$c-rounded}';

#{$ui-rounded-image-group} .#{$c-image},
#{$ui-rounded-image-group} .#{$c-image} > *,
#{$ui-rounded-image},
#{$ui-rounded-image} > * {

  border-radius: $rounded-border-radius;
}