/*-------------------
       Spaced
--------------------*/

/* Shortcuts */
$left-spaced: selector-left-spaced();
$right-spaced: selector-right-spaced();

#{$ui-image}.#{$c-spaced} {

  display: inline-block;
  margin-left: $spaced-distance;
  margin-right: $spaced-distance;
}

#{$ui-image}#{$left-spaced} {
  margin-right: 0;
}

#{$ui-image}#{$right-spaced} {
  margin-left: 0;
}