/*-------------------
       Spaced
--------------------*/

/* Shortcuts */
$ui-spaced-image: '#{$ui-image}.#{$c-spaced}';
$left-spaced: "[class*='#{$c-left} #{$c-spaced}']";
$right-spaced: "[class*='#{$c-right} #{$c-spaced}']";

#{$ui-spaced-image} {

  display: inline-block !important;
  margin-left: $spaced-distance;
  margin-right: $spaced-distance;

  &#{$left-spaced} {
	margin-right: 0;
  }

  &#{$right-spaced} {
	margin-left: 0;
  }
}