/* Variations
 *
 * Aligned
 * Fluid
 */

/* Types
 *
 * Text
 */

/* Shortcuts */
$ui-container: selector-ui-container();
$left-aligned: selector-left-aligned();
$right-aligned: selector-right-aligned();
$very-relaxed: selector-very-relaxed();

#{$ui-container} {

  display: block;
  max-width: $max-width;

  width: auto;
  margin-left: auto;
  margin-right: auto;

  /* Grid Container */
  &.#{$c-grid} {

	&,
	&.#{$c-relaxed},
	&#{$very-relaxed} {
	  width: auto;
	}
  }

  $i: 0;
  @each $name, $bp in $bps {
	$i: $i + 1;
	$min-gutter: ($i - 1) + 1em;

	@include breakpoint-from($name) {

	  width: calc(#{$bp - $min-gutter} - #{$scrollbar-width});

	  /* Grid Container */
	  &.#{$c-grid} {
		width: calc(#{$bp - $min-gutter} + #{2rem - $scrollbar-width});

		.#{$c-relaxed} {
		  width: calc(#{$bp - $min-gutter} + #{3rem - $scrollbar-width});
		}
		#{$very-relaxed} {
		  width: calc(#{$bp - $min-gutter} + #{5rem - $scrollbar-width});
		}
	  }
	}
  }

  /* Text Container */
  &.#{$c-text} {
	font-family: $text-font-family;
	max-width: $text-width;
	line-height: $text-line-height;
	font-size: $text-size;
  }

  /* Fluid */
  &.#{$c-fluid} {
	width: 100%;
  }

  &.#{$c-aligned} {
	text-align: center;
  }

  &#{$left-aligned} {
	text-align: left;
  }

  &#{$right-aligned} {
	text-align: right;
  }

  &.#{$c-justified} {
	text-align: justify;
	hyphens: auto;
  }
}

