/*
$color-primary: #8BC34A !default;
$color-primary-dark: #689F38 !default;
$color-primary-light: #DCEDC8 !default;
$color-accent: #FF9800 !default;
$color-icons: #212121 !default;
*/
//$color-text-primary
//$color-text-secondary
//$color-text-inverted
//$color-divider
//$color-divider-inverted

// Google Material Color Names
// -------------------------------

$colors-material: (
		'primary': #8BC34A,
		'primary-dark': #689F38,
		'primary-light': #DCEDC8,
		'accent': #FF9800,
		'icons': #212121,
		'text-primary': #212121,
		'text-secondary': #414141,
		'text-inverted': #DCEDC8,
		'divider': #212121,
		'divider-inverted': #DCEDC8
) !default;

@function color-material($variant) {
  $variant: to-string($variant);

  @if not(map-has_key($colors-material, $variant)) {
	@error 'color-material: invalid $variant #{$variant}';
  }

  @return map-get($colors-material, $variant);
}

$auto-include-colors-material: true;