$c-ui: 'ui';

/* Elements */
$c-button: 'button';
$c-button-group: 'buttons';
$c-button-or: 'or';
$c-container: 'container';
$c-divider: 'divider';
$c-header: 'header';
$c-header-sub: 'sub.header';
$c-icon: 'icon';
$c-icon-group: 'icons';
$c-image: 'image';
$c-image-group: 'images';
$c-input: 'input';
$c-label: 'label';
$c-label-group: 'labels';
$c-link: 'link';
$c-list: 'list';
$c-loader: 'loader';
$c-rail: 'rail';
$c-reveal: 'reveal';
$c-segment: 'segment';
$c-segment-group: 'segments';
$c-step: 'step';
$c-step-group: 'steps';

/* Collections */
$c-breadcrumb: 'breadcrumb';
$c-form: 'form';
$c-grid: 'grid';
$c-menu: 'menu';
$c-message: 'message';
$c-table: 'table';

/* Views */
$c-ad: 'ad';
$c-card: 'card';
$c-card-group: 'cards';
$c-comment: 'comment';
$c-comment-group: 'comments';
$c-feed: 'feed';
$c-item: 'item';
$c-item-group: 'items';
$c-statistic: 'statistic';
$c-statistic-group: 'statistics';

/* Modules */
$c-dimmer: 'dimmer';
$c-dropdown: 'dropdown';
$c-checkbox: 'checkbox';
$c-sidebar: 'sidebar';

/* Sub Elements */
$c-box: 'box';
$c-column: 'col';
$c-content: 'content';
$c-description: 'description';
$c-detail: 'detail';
$c-field: 'field';
$c-field-group: 'fields';
$c-row: 'row';
$c-row-group: 'rows';
$c-section: 'section';
$c-text: 'text';
$c-title: 'title';
$c-reply: 'reply'; // comment
$c-author: 'author'; // comment
$c-event: 'event'; // feed
$c-user: 'user'; // feed
$c-summary: 'summary'; // feed
$c-meta: 'meta'; // feed item card
$c-metadata: 'metadata'; // comment
$c-like: 'like'; // feed
$c-extra: 'extra'; // feed item
$c-date: 'date'; // feed
$c-value: 'value'; // statistic

/* Types */
$c-action: 'action';
$c-action-group: 'actions'; // comment
$c-aligned: 'aligned'; // header, image
$c-attached: 'attached'; // label, step
$c-avatar: 'avatar'; // image
$c-animated: 'animated'; // button list
$c-basic: 'basic'; // button label table
$c-block: 'block';
$c-bordered: 'bordered'; // image, icon
$c-borderless: 'borderless'; // menu
$c-bulleted: 'bulleted'; // list
$c-celled: 'celled'; // list grid table
$c-centered: 'centered'; // image grid
$c-circular: 'circular'; // button, image, icon, segment
$c-clearing: 'clearing'; // divider
$c-collapsed: 'collapsed'; // comment
$c-collapsing: 'collapsing'; // table
$c-compact: 'compact'; // button message table
$c-completed: 'completed'; // step
$c-definition: 'definition'; // table
$c-divided: 'divided'; // list
$c-dividing: 'dividing'; // header
$c-doubling: 'doubling'; // grid
$c-equal: 'equal'; //grid
$c-fade: 'fade'; // reveal
$c-fitted: 'fitted'; // header, divider, list
$c-fixed: 'fixed'; // menu
$c-flipped: 'flipped'; // icon
$c-floated: 'floated'; // button image list grid
$c-floating: 'floating'; // label
$c-fluid: 'fluid'; // button image label step
$c-grouped: 'grouped'; // form
$c-inline: 'inline'; // loader
$c-indeterminate: 'indeterminate'; // loader
$c-internal: 'internal'; // rail
$c-instant: 'instant'; // reveal
$c-inverted: 'inverted';
$c-justified: 'justified'; // header
$c-labeled: 'labeled'; // button
$c-minimal: 'minimal'; // comment
$c-move: 'move'; // reveal
$c-ordered: 'ordered'; // list, step
$c-padded: 'padded'; // segment grid
$c-page: 'page'; // grid
$c-pagination: 'page'; // menu
$c-piled: 'piled'; // segment
$c-pointing: 'pointing'; // label
$c-prompt: 'prompt'; // form
$c-raised: 'raised'; // segment card
$c-relaxed: 'relaxed'; // list
$c-ribbon: 'ribbon'; // label
$c-required: 'required'; // form
$c-reversed: 'reversed'; // grid
$c-rotate: 'rotate'; // reveal
$c-rotated: 'rotated'; // icon
$c-rounded: 'rounded'; // image
$c-search: 'search'; // menu
$c-selectable: 'selectable'; // table
$c-selected: 'selected'; // list
$c-selection: 'selection'; // list
$c-slide: 'slide'; // reveal
$c-sortable: 'sortable'; // table
$c-sorted: 'sorted'; // table
$c-spaced: 'spaced'; // image
$c-stackable: 'stackable'; // step
$c-stacked: 'stacked'; // segment table
$c-stretched: 'stretched'; // grid
$c-striped: 'striped'; // table
$c-structured: 'structured'; // table
$c-square: 'square'; // icon
$c-slider: 'slider'; // checkbox
$c-tabular: 'tabular'; // menu
$c-tag: 'tag'; // label
$c-tall: 'tall'; // segment
$c-threaded: 'threaded'; // comment
$c-toggle: 'toggle'; // button checkbox
$c-unstackable: 'unstackable'; // table
$c-wide: 'wide'; // form

/* States */
$c-visible: 'visible';
$c-hidden: 'hidden';
$c-hover: 'hover';
$c-focus: 'focus';
$c-active: 'active';
$c-disabled: 'disabled';
$c-loading: 'loading';

/* Directions */
$c-horizontal: 'horizontal';
$c-vertical: 'vertical';
$c-horizontally: 'horizontally';
$c-vertically: 'vertically';
$c-left: 'left';
$c-right: 'right';
$c-up: 'up';
$c-down: 'down';
$c-top: 'top';
$c-bottom: 'bottom';
$c-center: 'center';
$c-middle: 'middle';
$c-close: 'close';
$c-corner: 'corner';
$c-ascending: 'ascending'; // table
$c-descending: 'descending'; // table