@function selector-class-strict-order($classes...) {
  $result: '[class*="';

  @for $i from 1 through length($classes) {
	@if ($i > 1) {
	  $result: $result + ' ';
	}
	$result: $result + nth($classes, $i);
  }

  $result: $result + '"]';

  @return $result;
}

@function validate-selector($str) {
  $str: str-replace-recursive($str, '..', '.');

  @if str-slice($str, -1) == '.' {
	@return str-slice($str, 1, -2);
  }
  @return $str;
}

/* UI Selector */
@function selector-element-ui() {
  @return validate-selector('.#{$c-ui}');
}

/* Element Selectors */
@function selector-element-button() {
  @return validate-selector('.#{$c-button}');
}

@function selector-ui-button() {
  @return selector-element-button() + selector-element-ui();
}

@function selector-ui-button-group() {
  @return '.#{$c-button-group}' + selector-element-ui();
}

@function selector-element-container() {
  @return validate-selector('.#{$c-container}');
}

@function selector-ui-container() {
  @return selector-element-container() + selector-element-ui();
}

@function selector-element-content() {
  @return validate-selector('.#{$c-content}');
}

@function selector-element-detail() {
  @return validate-selector('.#{$c-detail}');
}

@function selector-ui-divider() {
  @return '.#{$c-divider}' + selector-element-ui();
}

@function selector-ui-header() {
  @return '.#{$c-header}' + selector-element-ui();
}

@function selector-ui-header-sub() {
  @return '.#{$c-header-sub}' + selector-element-ui();
}

@function selector-element-icon() {
  //@return validate-selector('.#{$c-icon}');
  @return 'i';
}

@function selector-ui-icon() {
  @return validate-selector('i.#{$c-icon}');
}

@function selector-ui-icon-group() {
  @return '.#{$c-icon-group}' + selector-element-ui();
}

@function selector-element-image() {
  @return validate-selector('.#{$c-image}');
}

@function selector-ui-image() {
  @return selector-element-image() + selector-element-ui();
}

@function selector-ui-image-group() {
  @return '.#{$c-image-group}' + selector-element-ui();
}

@function selector-element-input() {
  @return validate-selector('.#{$c-input}');
}

@function selector-ui-input() {
  @return selector-element-input() + selector-element-ui();
}

@function selector-ui-label() {
  @return '.#{$c-label}' + selector-element-ui();
}

@function selector-ui-label-group() {
  @return '.#{$c-label-group}' + selector-element-ui();
}

@function selector-ui-list() {
  @return '.#{$c-list}' + selector-element-ui();
}

@function selector-ui-loader() {
  @return '.#{$c-loader}' + selector-element-ui();
}

@function selector-ui-rail() {
  @return '.#{$c-rail}' + selector-element-ui();
}

@function selector-ui-reveal() {
  @return '.#{$c-reveal}' + selector-element-ui();
}

@function selector-element-segment() {
  @return validate-selector('.#{$c-segment}');
}

@function selector-ui-segment() {
  @return selector-element-segment() + selector-element-ui();
}

@function selector-ui-segment-group() {
  @return '.#{$c-segment-group}' + selector-element-ui();
}

@function selector-ui-step() {
  @return '.#{$c-step}' + selector-element-ui();
}

@function selector-ui-step-group() {
  @return '.#{$c-step-group}' + selector-element-ui();
}

/* Collections Selectors */
@function selector-ui-breadcrumb() {
  @return '.#{$c-breadcrumb}' + selector-element-ui();
}

@function selector-ui-form() {
  @return '.#{$c-form}' + selector-element-ui();
}

@function selector-ui-grid() {
  @return '.#{$c-grid}' + selector-element-ui();
}

@function selector-ui-menu() {
  @return '.#{$c-menu}' + selector-element-ui();
}

@function selector-ui-message() {
  @return '.#{$c-message}' + selector-element-ui();
}

@function selector-ui-table() {
  @return '.#{$c-table}' + selector-element-ui();
}

/* Views */
@function selector-ui-ad() {
  @return '.#{$c-ad}' + selector-element-ui();
}

@function selector-ui-card() {
  @return '.#{$c-card}' + selector-element-ui();
}

@function selector-ui-card-group() {
  @return '.#{$c-card-group}' + selector-element-ui();
}

@function selector-ui-comment() {
  @return '.#{$c-comment}' + selector-element-ui();
}

@function selector-ui-comment-group() {
  @return '.#{$c-comment-group}' + selector-element-ui();
}

@function selector-ui-feed() {
  @return '.#{$c-feed}' + selector-element-ui();
}

@function selector-ui-item() {
  @return '.#{$c-item}' + selector-element-ui();
}

@function selector-ui-item-group() {
  @return '.#{$c-item-group}' + selector-element-ui();
}

@function selector-ui-statistic() {
  @return '.#{$c-statistic}' + selector-element-ui();
}

@function selector-ui-statistic-group() {
  @return '.#{$c-statistic-group}' + selector-element-ui();
}

@function selector-ui-dimmer() {
  @return '.#{$c-dimmer}' + selector-element-ui();
}

@function selector-ui-checkbox() {
  @return '.#{$c-checkbox}' + selector-element-ui();
}

/* Directions */
@function selector-top-attached() {
  @return selector-class-strict-order($c-top, $c-attached);
}

@function selector-bottom-attached() {
  @return selector-class-strict-order($c-bottom, $c-attached);
}

@function selector-left-attached() {
  @return selector-class-strict-order($c-left, $c-attached);
}

@function selector-right-attached() {
  @return selector-class-strict-order($c-right, $c-attached);
}

@function selector-top-left-attached() {
  @return selector-class-strict-order($c-top, $c-left, $c-attached);
}

@function selector-bottom-left-attached() {
  @return selector-class-strict-order($c-bottom, $c-left, $c-attached);
}

@function selector-top-right-attached() {
  @return selector-class-strict-order($c-top, $c-right, $c-attached);
}

@function selector-bottom-right-attached() {
  @return selector-class-strict-order($c-bottom, $c-right, $c-attached);
}

@function selector-top-fixed() {
  @return selector-class-strict-order($c-top, $c-fixed);
}

@function selector-bottom-fixed() {
  @return selector-class-strict-order($c-bottom, $c-fixed);
}

@function selector-left-fixed() {
  @return selector-class-strict-order($c-left, $c-fixed);
}

@function selector-right-fixed() {
  @return selector-class-strict-order($c-right, $c-fixed);
}

@function selector-top-pointing() {
  @return selector-class-strict-order($c-top, $c-pointing);
}

@function selector-bottom-pointing() {
  @return selector-class-strict-order($c-bottom, $c-pointing);
}

@function selector-left-pointing() {
  @return selector-class-strict-order($c-left, $c-pointing);
}

@function selector-right-pointing() {
  @return selector-class-strict-order($c-right, $c-pointing);
}

@function selector-left-floated() {
  @return selector-class-strict-order($c-left, $c-floated);
}

@function selector-right-floated() {
  @return selector-class-strict-order($c-right, $c-floated);
}

@function selector-right-rotated() {
  @return selector-class-strict-order($c-right, $c-rotated);
}

@function selector-top-aligned() {
  @return selector-class-strict-order($c-top, $c-aligned);
}

@function selector-bottom-aligned() {
  @return selector-class-strict-order($c-bottom, $c-aligned);
}

@function selector-left-aligned() {
  @return selector-class-strict-order($c-left, $c-aligned);
}

@function selector-right-aligned() {
  @return selector-class-strict-order($c-right, $c-aligned);
}

@function selector-center-aligned() {
  @return selector-class-strict-order($c-center, $c-aligned);
}

@function selector-middle-aligned() {
  @return selector-class-strict-order($c-middle, $c-aligned);
}

@function selector-left-labeled() {
  @return selector-class-strict-order($c-left, $c-labeled);
}

@function selector-right-labeled() {
  @return selector-class-strict-order($c-right, $c-labeled);
}

@function selector-corner-labeled() {
  @return selector-class-strict-order($c-corner, $c-labeled);
}

@function selector-left-corner() {
  @return selector-class-strict-order($c-left, $c-corner);
}

@function selector-left-corner-labeled() {
  @return selector-class-strict-order($c-left, $c-corner, $c-labeled);
}

@function selector-left-spaced() {
  @return selector-class-strict-order($c-left, $c-spaced);
}

@function selector-right-spaced() {
  @return selector-class-strict-order($c-right, $c-spaced);
}

@function selector-left-action() {
  @return selector-class-strict-order($c-left, $c-action);
}

@function selector-right-ribbon() {
  @return selector-class-strict-order($c-right, $c-ribbon);
}

/* HORIZONTAL / VERTICAL */
@function selector-horizontally-padded() {
  @return selector-class-strict-order($c-horizontally, $c-padded);
}

@function selector-vertically-padded() {
  @return selector-class-strict-order($c-vertically, $c-padded);
}

@function selector-horizontally-fitted() {
  @return selector-class-strict-order($c-horizontally, $c-fitted);
}

@function selector-vertically-fitted() {
  @return selector-class-strict-order($c-vertically, $c-fitted);
}

@function selector-vertically-divided() {
  @return selector-class-strict-order($c-vertically, $c-divided);
}

@function selector-vertically-reversed() {
  @return selector-class-strict-order($c-vertically, $c-reversed);
}

/* NUM */
@function selector-num-column($num) {
  @return selector-class-strict-order(number-name($num), $c-column);
}

@function selector-num-wide($num) {
  @return selector-class-strict-order(number-name($num), $c-wide);
}

@function selector-num-item($num) {
  @return selector-class-strict-order(number-name($num), $c-item);
}

/* VERY */
@function selector-very-relaxed() {
  @return selector-class-strict-order('very', $c-relaxed);
}

@function selector-very-close() {
  @return selector-class-strict-order('very', $c-close);
}

@function selector-very-basic() {
  @return selector-class-strict-order('very', $c-basic);
}

@function selector-very-padded() {
  @return selector-class-strict-order('very', $c-padded);
}

@function selector-very-compact() {
  @return selector-class-strict-order('very', $c-compact);
}