$c-ui: 'ui';

/* Elements */
$c-button: 'button';
$c-button-group: 'buttons';
$c-button-or: 'or';
$c-container: 'container';
$c-divider: 'divider';
$c-header: 'header';
$c-header-sub: 'sub.header';
$c-icon: 'icon';
$c-image: 'image';
$c-input: 'input';
$c-label: 'label';
$c-list: 'list';
$c-loader: 'loader';
$c-rail: 'rail';
$c-reveal: 'reveal';
$c-segment: 'segment';
$c-step: 'step';

/* Collections */
$c-breadcrumb: 'breadcrumb';
$c-form: 'form';
$c-grid: 'grid';
$c-menu: 'menu';
$c-message: 'message';
$c-table: 'table';

/* Views */
$c-ad: 'ad';
$c-card: 'card';
$c-comment: 'comment';
$c-feed: 'feed';
$c-item: 'item';
$c-statistic: 'statistic';

/* Sub Elements */
$c-content: 'content';
$c-row: 'row';
$c-column: 'col';
$c-section: 'section';

/* Types */
$c-stackable: 'stackable';
$c-doubling: 'doubling';
$c-dividing: 'dividing';
$c-basic: 'basic';
$c-compact: 'compact';
$c-animated: 'animated';
$c-inverted: 'inverted';
$c-loading: 'loading';
$c-labeled: 'labeled';
$c-floated: 'floated';
$c-attached: 'attached';
$c-aligned: 'aligned';
$c-fluid: 'fluid';
$c-toggle: 'toggle';
$c-circular: 'circular';
$c-square: 'square';
$c-block: 'block';

/* States */
$c-visible: 'visible';
$c-hidden: 'hidden';
$c-active: 'active';
$c-disabled: 'disabled';

/* Directions */
$c-vertical: 'vertical';
$c-horizontal: 'horizontal';
$c-left: 'left';
$c-right: 'right';
$c-up: 'up';
$c-down: 'down';
$c-top: 'top';
$c-bottom: 'bottom';
$c-center: 'center';