$c-ui: 'ui';

/* Elements */
$c-button: 'button';
$c-button-group: 'buttons';
$c-button-or: 'or';
$c-container: 'container';
$c-divider: 'divider';
$c-header: 'header';
$c-header-sub: 'sub.header';
$c-icon: 'icon';
$c-icon-group: 'icons';
$c-image: 'image';
$c-image-group: 'images';
$c-input: 'input';
$c-label: 'label';
$c-label-group: 'labels';
$c-link: 'link';
$c-list: 'list';
$c-loader: 'loader';
$c-rail: 'rail';
$c-reveal: 'reveal';
$c-segment: 'segment';
$c-segment-group: 'segments';
$c-step: 'step';
$c-step-group: 'steps';

/* Collections */
$c-breadcrumb: 'breadcrumb';
$c-form: 'form';
$c-grid: 'grid';
$c-menu: 'menu';
$c-message: 'message';
$c-table: 'table';

/* Views */
$c-ad: 'ad';
$c-card: 'card';
$c-comment: 'comment';
$c-feed: 'feed';
$c-item: 'item';
$c-statistic: 'statistic';

/* Modules */
$c-dimmer: 'dimmer';
$c-dropdown: 'dropdown';
$c-checkbox: 'checkbox';
$c-sidebar: 'sidebar';

/* Sub Elements */
$c-box: 'box';
$c-column: 'col';
$c-content: 'content';
$c-description: 'description';
$c-detail: 'detail';
$c-field: 'field';
$c-field-group: 'fields';
$c-row: 'row';
$c-row-group: 'rows';
$c-section: 'section';
$c-text: 'text';
$c-title: 'title';

/* Types */
$c-action: 'action';
$c-aligned: 'aligned'; // header, image
$c-attached: 'attached'; // label, step
$c-avatar: 'avatar'; // image
$c-animated: 'animated'; // button list
$c-basic: 'basic'; // button label
$c-block: 'block';
$c-bordered: 'bordered'; // image, icon
$c-borderless: 'borderless'; // menu
$c-bulleted: 'bulleted'; // list
$c-celled: 'celled'; // list grid
$c-centered: 'centered'; // image grid
$c-circular: 'circular'; // button, image, icon, segment
$c-clearing: 'clearing'; // divider
$c-compact: 'compact'; // button
$c-completed: 'completed'; // step
$c-divided: 'divided'; // list
$c-dividing: 'dividing'; // header
$c-doubling: 'doubling'; // grid
$c-equal: 'equal'; //grid
$c-fade: 'fade'; // reveal
$c-fitted: 'fitted'; // header, divider, list
$c-fixed: 'fixed'; // menu
$c-flipped: 'flipped'; // icon
$c-floated: 'floated'; // button image list grid
$c-floating: 'floating'; // label
$c-fluid: 'fluid'; // button image label step
$c-grouped: 'grouped'; // form
$c-inline: 'inline'; // loader
$c-indeterminate: 'indeterminate'; // loader
$c-internal: 'internal'; // rail
$c-instant: 'instant'; // reveal
$c-inverted: 'inverted';
$c-justified: 'justified'; // header
$c-labeled: 'labeled'; // button
$c-move: 'move'; // reveal
$c-ordered: 'ordered'; // list, step
$c-padded: 'padded'; // segment grid
$c-page: 'page'; // grid
$c-pagination: 'page'; // menu
$c-pilled: 'pilled'; // segment
$c-pointing: 'pointing'; // label
$c-prompt: 'prompt'; // form
$c-raised: 'raised'; // segment
$c-relaxed: 'relaxed'; // list
$c-ribbon: 'ribbon'; // label
$c-required: 'required'; // form
$c-reversed: 'reversed'; // grid
$c-rotate: 'rotate'; // reveal
$c-rotated: 'rotated'; // icon
$c-rounded: 'rounded'; // image
$c-selected: 'selected'; // list
$c-selection: 'selection'; // list
$c-slide: 'slide'; // reveal
$c-spaced: 'spaced'; // image
$c-stackable: 'stackable'; // step
$c-stacked: 'stacked'; // segment
$c-stretched: 'stretched'; // grid
$c-square: 'square'; // icon
$c-slider: 'slider'; // checkbox
$c-tabular: 'tabular'; // menu
$c-tag: 'tag'; // label
$c-tall: 'tall'; // segment
$c-toggle: 'toggle'; // button checkbox
$c-wide: 'wide'; // form

/* States */
$c-visible: 'visible';
$c-hidden: 'hidden';
$c-hover: 'hover';
$c-focus: 'focus';
$c-active: 'active';
$c-disabled: 'disabled';
$c-loading: 'loading';

/* Directions */
$c-horizontal: 'horizontal';
$c-vertical: 'vertical';
$c-horizontally: 'horizontally';
$c-vertically: 'vertically';
$c-left: 'left';
$c-right: 'right';
$c-up: 'up';
$c-down: 'down';
$c-top: 'top';
$c-bottom: 'bottom';
$c-center: 'center';
$c-middle: 'middle';
$c-close: 'close';
$c-corner: 'corner';

@function selector-class-strict-order($classes...) {
  $result: '[class*="';

  @for $i from 1 through length($classes) {
	@if ($i > 1) {
	  $result: $result + ' ';
	}
	$result: $result + nth($classes, $i);
  }

  $result: $result + '"]';

  @return $result;
}

/* Element Selectors */
@function selector-ui-button() {
  @return '.#{$c-ui}.#{$c-button}';
}

@function selector-ui-button-group() {
  @return '.#{$c-ui}.#{$c-button-group}';
}

@function selector-ui-container() {
  @return '.#{$c-ui}.#{$c-container}';
}

@function selector-ui-divider() {
  @return '.#{$c-ui}.#{$c-divider}';
}

@function selector-ui-header() {
  @return '.#{$c-ui}.#{$c-header}';
}

@function selector-ui-header-sub() {
  @return '.#{$c-ui}.#{$c-header-sub}';
}

@function selector-ui-icon() {
  @return 'i.#{$c-icon}';
}

@function selector-ui-icon-group() {
  @return 'i.#{$c-icon-group}';
}

@function selector-ui-image() {
  @return '.#{$c-ui}.#{$c-image}';
}

@function selector-ui-image-group() {
  @return '.#{$c-ui}.#{$c-image-group}';
}

@function selector-ui-input() {
  @return '.#{$c-ui}.#{$c-input}';
}

@function selector-ui-label() {
  @return '.#{$c-ui}.#{$c-label}';
}

@function selector-ui-label-group() {
  @return '.#{$c-ui}.#{$c-label}';
}

@function selector-ui-list() {
  @return '.#{$c-ui}.#{$c-list}';
}

@function selector-ui-loader() {
  @return '.#{$c-ui}.#{$c-loader}';
}

@function selector-ui-rail() {
  @return '.#{$c-ui}.#{$c-rail}';
}

@function selector-ui-reveal() {
  @return '.#{$c-ui}.#{$c-reveal}';
}

@function selector-ui-segment() {
  @return '.#{$c-ui}.#{$c-segment}';
}

@function selector-ui-segment-group() {
  @return '.#{$c-ui}.#{$c-segment-group}';
}

@function selector-ui-step() {
  @return '.#{$c-ui}.#{$c-step}';
}

@function selector-ui-step-group() {
  @return '.#{$c-ui}.#{$c-step-group}';
}

/* Collections Selectors */
@function selector-ui-breadcrumb() {
  @return '.#{$c-ui}.#{$c-breadcrumb}';
}

@function selector-ui-form() {
  @return '.#{$c-ui}.#{$c-form}';
}

@function selector-ui-grid() {
  @return '.#{$c-ui}.#{$c-grid}';
}

@function selector-ui-menu() {
  @return '.#{$c-ui}.#{$c-menu}';
}

@function selector-ui-message() {
  @return '.#{$c-ui}.#{$c-message}';
}

@function selector-ui-table() {
  @return '.#{$c-ui}.#{$c-table}';
}

/* Views */
@function selector-ui-ad() {
  @return '.#{$c-ui}.#{$c-ad}';
}

@function selector-ui-card() {
  @return '.#{$c-ui}.#{$c-card}';
}

@function selector-ui-comment() {
  @return '.#{$c-ui}.#{$c-comment}';
}

@function selector-ui-feed() {
  @return '.#{$c-ui}.#{$c-feed}';
}

@function selector-ui-item() {
  @return '.#{$c-ui}.#{$c-item}';
}

@function selector-ui-statistic() {
  @return '.#{$c-ui}.#{$c-statistic}';
}

@function selector-ui-dimmer() {
  @return '.#{$c-ui}.#{$c-dimmer}';
}

@function selector-ui-checkbox() {
  @return '.#{$c-ui}.#{$c-checkbox}';
}

/* Directions */
@function selector-top-attached() {
  @return selector-class-strict-order($c-top, $c-attached);
}

@function selector-bottom-attached() {
  @return selector-class-strict-order($c-bottom, $c-attached);
}

@function selector-left-attached() {
  @return selector-class-strict-order($c-left, $c-attached);
}

@function selector-right-attached() {
  @return selector-class-strict-order($c-right, $c-attached);
}

@function selector-top-left-attached() {
  @return selector-class-strict-order($c-top, $c-left, $c-attached);
}

@function selector-bottom-left-attached() {
  @return selector-class-strict-order($c-bottom, $c-left, $c-attached);
}

@function selector-top-right-attached() {
  @return selector-class-strict-order($c-top, $c-right, $c-attached);
}

@function selector-bottom-right-attached() {
  @return selector-class-strict-order($c-bottom, $c-right, $c-attached);
}

@function selector-top-fixed() {
  @return selector-class-strict-order($c-top, $c-fixed);
}

@function selector-bottom-fixed() {
  @return selector-class-strict-order($c-bottom, $c-fixed);
}

@function selector-left-fixed() {
  @return selector-class-strict-order($c-left, $c-fixed);
}

@function selector-right-fixed() {
  @return selector-class-strict-order($c-right, $c-fixed);
}

@function selector-top-pointing() {
  @return selector-class-strict-order($c-top, $c-pointing);
}

@function selector-bottom-pointing() {
  @return selector-class-strict-order($c-bottom, $c-pointing);
}

@function selector-left-pointing() {
  @return selector-class-strict-order($c-left, $c-pointing);
}

@function selector-right-pointing() {
  @return selector-class-strict-order($c-right, $c-pointing);
}

@function selector-left-floated() {
  @return selector-class-strict-order($c-left, $c-floated);
}

@function selector-right-floated() {
  @return selector-class-strict-order($c-right, $c-floated);
}

@function selector-left-rotated() {
  @return selector-class-strict-order($c-left, $c-rotated);
}

@function selector-right-rotated() {
  @return selector-class-strict-order($c-right, $c-rotated);
}

@function selector-top-aligned() {
  @return selector-class-strict-order($c-top, $c-aligned);
}

@function selector-bottom-aligned() {
  @return selector-class-strict-order($c-bottom, $c-aligned);
}

@function selector-left-aligned() {
  @return selector-class-strict-order($c-left, $c-aligned);
}

@function selector-right-aligned() {
  @return selector-class-strict-order($c-right, $c-aligned);
}

@function selector-center-aligned() {
  @return selector-class-strict-order($c-center, $c-aligned);
}

@function selector-middle-aligned() {
  @return selector-class-strict-order($c-middle, $c-aligned);
}

@function selector-left-labeled() {
  @return selector-class-strict-order($c-left, $c-labeled);
}

@function selector-right-labeled() {
  @return selector-class-strict-order($c-right, $c-labeled);
}

@function selector-corner-labeled() {
  @return selector-class-strict-order($c-corner, $c-labeled);
}

@function selector-left-corner() {
  @return selector-class-strict-order($c-left, $c-corner);
}

@function selector-left-corner-labeled() {
  @return selector-class-strict-order($c-left, $c-corner, $c-labeled);
}

@function selector-left-spaced() {
  @return selector-class-strict-order($c-left, $c-spaced);
}

@function selector-right-spaced() {
  @return selector-class-strict-order($c-right, $c-spaced);
}

@function selector-left-action() {
  @return selector-class-strict-order($c-left, $c-action);
}

@function selector-right-ribbon() {
  @return selector-class-strict-order($c-right, $c-ribbon);
}

/* HORIZONTAL / VERTICAL */
@function selector-horizontally-padded() {
  @return selector-class-strict-order($c-horizontally, $c-padded);
}

@function selector-vertically-padded() {
  @return selector-class-strict-order($c-vertically, $c-padded);
}

@function selector-horizontally-fitted() {
  @return selector-class-strict-order($c-horizontally, $c-fitted);
}

@function selector-vertically-fitted() {
  @return selector-class-strict-order($c-vertically, $c-fitted);
}

@function selector-vertically-divided() {
  @return selector-class-strict-order($c-vertically, $c-divided);
}

@function selector-vertically-reversed() {
  @return selector-class-strict-order($c-vertically, $c-reversed);
}

/* NUM */
@function selector-num-column($num) {
  @return selector-class-strict-order(number-name($num), $c-column);
}

@function selector-num-wide($num) {
  @return selector-class-strict-order(number-name($num), $c-wide);
}

@function selector-num-item($num) {
  @return selector-class-strict-order(number-name($num), $c-item);
}

/* VERY */
@function selector-very-relaxed() {
  @return selector-class-strict-order('very', $c-relaxed);
}

@function selector-very-close() {
  @return selector-class-strict-order('very', $c-close);
}

@function selector-very-basic() {
  @return selector-class-strict-order('very', $c-basic);
}

@function selector-very-padded() {
  @return selector-class-strict-order('very', $c-padded);
}