/*--------------
     Aligned
---------------*/

/* Shortcuts */
$left-aligned: selector-left-aligned();
$right-aligned: selector-right-aligned();
$center-aligned: selector-center-aligned();

#{$ui-card-group} > .#{$c-card},
#{$ui-card} {

  #{$center-aligned},
  .#{$c-aligned} {
	text-align: center;
  }

  #{$left-aligned} {
	text-align: left;
  }

  #{$right-aligned} {
	text-align: right;
  }
}
