/*-------------------
       Colors
--------------------*/

@mixin colors($color-map) {
  @each $name, $color in $color-map {

	#{$ui-card-group}.#{$name} > .#{$c-card},
	#{$ui-card-group} > .#{$c-card}.#{$name},
	#{$ui-card}.#{$name} {
	  box-shadow: $border-shadow, 0 $colored-shadow-distance 0 0 $color, $shadow-box-shadow;

	  &:hover {
		box-shadow: $border-shadow, 0 $colored-shadow-distance 0 0 color-hover($color), $shadow-hover-box-shadow;
	  }

	  > .#{$c-content} {

		.#{$c-icon} {
		  &:hover {
			opacity: $action-hover-opacity;
			color: colorize-text-hovered($color);
		  }
		}

		.#{$c-icon}.#{$c-active} {
		  color: colorize-text-selected($color);
		}
	  }

	}
  }
}
