/*--------------
     Content
---------------*/

/* Shortcuts */
$right-floated: selector-right-floated();

#{$ui-card-group} > .#{$c-card},
#{$ui-card} {

  > .#{$c-content} {
	flex-grow: 1;
	border: $content-border;
	border-top: $content-divider;
	background: $content-background;
	margin: $content-margin;
	padding: $content-padding;
	box-shadow: $content-box-shadow;
	font-size: $content-font-size;
	border-radius: $content-border-radius;

	&::after {
	  display: block;
	  content: ' ';
	  height: 0;
	  clear: both;
	  overflow: hidden;
	  visibility: hidden;
	}

	> .#{$c-header} {
	  display: block;
	  margin: $header-margin;
	  font-family: $heading-font-family;
	  color: $header-color;

	  /* Default Header Size */
	  &:not(.#{$c-ui}) {
		font-weight: $header-font-weight;
		font-size: $header-font-size;
		margin-top: $header-line-height-offset;
		line-height: $heading-line-height;
	  }
	}

	> .#{$c-meta} + .#{$c-description},
	> .#{$c-header} + .#{$c-description} {
	  margin-top: $description-distance;
	}

	img {
	  display: inline-block;
	  vertical-align: $content-image-vertical-align;
	  width: $content-image-width;
	}

	img.#{$c-avatar} {
	  width: $avatar-size;
	  height: $avatar-size;
	  border-radius: $avatar-border-radius;
	}
  }

  .#{$c-floated} {
	float: left;
  }
  #{$right-floated} {
	float: right;
  }
}