/*-------------------
      Doubling
--------------------*/

/* Shortcuts */
$bp-mobile: breakpoint-name(1);

@mixin doubling-card($doubling-value: 0.5) {
  @for $i from 2 through length($card-widths) {

	$card-width: nth($card-widths, ceil($i * $doubling-value));
	$card-spacing: nth($card-spacings, ceil($i * $doubling-value));

	#{$ui-card-group}.#{number-name($i)}.#{$c-doubling} {
	  margin-left: -$card-spacing;
	  margin-right: -$card-spacing;

	  .#{$c-card} {
		width: $card-width;
		margin-left: $card-spacing;
		margin-right: $card-spacing;
	  }
	}
  }
}

/* Mobile Default */
@include doubling-card(0.3);

@include breakpoint-after($bp-mobile) {
  @include doubling-card();
}