/*----------------
  Extra Content
-----------------*/

#{$ui-card-group} > .#{$c-card},
#{$ui-card} {

  > .#{$c-extra} {
	max-width: 100%;
	min-height: 0 !important;
	flex-grow: 0;
	border-top: $extra-divider !important;
	position: $extra-position;
	background: $extra-background;
	width: $extra-width;
	margin: $extra-margin;
	padding: $extra-padding;
	top: $extra-top;
	left: $extra-left;
	color: $extra-color;
	box-shadow: $extra-box-shadow;
	transition: $extra-transition;

	a:not(.#{$c-ui}) {
	  color: $extra-link-color;

	  &:hover {
		color: $extra-link-hover-color;
	  }
	}
  }
}