/*--------------
     Images
---------------*/

#{$ui-card-group} > .#{$c-image},
#{$ui-card} {

  > .#{$c-image} {
	position: relative;
	display: block;
	flex: 0 0 auto;
	padding: $image-padding;
	background: $image-background;
  }

  > .#{$c-image} > img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: inherit;
  }

  > .#{$c-image}:not(.#{$c-ui}) > img {
	border: $image-border;
  }
}