/*--------------
     Labels
---------------*/

/* Icon */

#{$ui-card-group} > .#{$c-card},
#{$ui-card} {

  > .#{$c-content} .#{$c-icon} {
	cursor: pointer;
	opacity: $action-opacity;
	transition: $action-transition;
  }
}