/*--------------
      Links
---------------*/

/* Generic */
#{$ui-card-group} > .#{$c-card},
#{$ui-card} {

  > .#{$c-content} a:not(.#{$c-ui}) {
	color: $content-link-color;
	transition: $content-link-transition;

	&:hover {
	  color: $content-link-hover-color;
	}
  }

  > .#{$c-content} > a.#{$c-header} {
	color: $header-link-color;

	&:hover {
	  color: $header-link-hover-color;
	}
  }

  .#{$c-meta} > a:not(.#{$c-ui}) {
	color: $meta-link-color;

	&:hover {
	  color: $meta-link-hover-color;
	}
  }
}

/*-------------------
        Link
--------------------*/

#{$ui-card-group} a.#{$c-card},
#{$ui-card-group}.#{$c-link} .#{$c-card},
a#{$ui-card},
#{$ui-card}.#{$c-link} {
  transform: none;

  &:hover {
	cursor: pointer;
	z-index: $link-hover-z-index;
	background: $link-hover-background;
	border: $link-hover-border;
	box-shadow: $link-hover-box-shadow;
	transform: $link-hover-transform;
  }
}