/*--------------
      Links
---------------*/

/* Generic */
.ui.cards > .card > .content a:not(.ui),
.ui.card > .content a:not(.ui) {
  color: $content-link-color;
  transition: $content-link-transition;
}

.ui.cards > .card > .content a:not(.ui):hover,
.ui.card > .content a:not(.ui):hover {
  color: $content-link-hover-color;
}

/* Header */
.ui.cards > .card > .content > a.header,
.ui.card > .content > a.header {
  color: $header-link-color;
}

.ui.cards > .card > .content > a.header:hover,
.ui.card > .content > a.header:hover {
  color: $header-link-hover-color;
}

/* Meta */
.ui.cards > .card .meta > a:not(.ui),
.ui.card .meta > a:not(.ui) {
  color: $meta-link-color;
}

.ui.cards > .card .meta > a:not(.ui):hover,
.ui.card .meta > a:not(.ui):hover {
  color: $meta-link-hover-color;
}

/*-------------------
        Link
--------------------*/

.ui.cards a.card,
.ui.link.cards .card,
a.ui.card,
.ui.link.card {
  transform: none;
}

.ui.cards a.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover,
.ui.link.card:hover {
  cursor: pointer;
  z-index: $link-hover-z-index;
  background: $link-hover-background;
  border: $link-hover-border;
  box-shadow: $link-hover-box-shadow;
  transform: $link-hover-transform;
}