/*--------------
      Meta
---------------*/

/* Shortcuts */
$right-floated: selector-right-floated();

#{$ui-card-group} > .#{$c-card},
#{$ui-card} {

  .#{$c-meta} {
	font-size: $meta-font-size;
	color: $meta-color;

	* {
	  margin-right: $meta-spacing;
	}

	:last-child {
	  margin-right: 0;
	}

	#{$right-floated} {
	  margin-right: 0;
	  margin-left: $meta-spacing;
	}
  }
}