/*--------------
  Rounded Edges
---------------*/

#{$ui-card-group} > .#{$c-card},
#{$ui-card} {

  :first-child {
	border-radius: $border-radius $border-radius 0 0 !important;
	border-top: none !important;
  }

  :last-child {
	border-radius: 0 0 $border-radius $border-radius !important;
  }

  :only-child {
	border-radius: $border-radius !important;
  }
}