/* Shortcuts */
$bp-mobile: breakpoint-name(1);

/* Mobile Only */
@include breakpoint-only($bp-mobile) {

  #{$ui-card-group}.#{$c-stackable} {
	display: block !important;

	> .#{$c-card} {
	  display: block !important;
	  height: auto !important;
	  margin: $stackable-row-spacing $stackable-card-spacing;
	  padding: 0 !important;
	  width: $stackable-margin !important;

	  &:first-child {
		margin-top: 0 !important;
	  }
	}
  }
}