@import "math";
@import "sassy-cast";
@import "functions";
@import "colors";
@import "sizes";
@import "media";

// Base
// -------------------------------
$font-context: 14;

@function unit-em($value) {
  @return strip-unit($value) * 1em;
}

@function unit-rem($value) {
  @return strip-unit($value) * 1rem;
}

@function px-em($px) {
  @return (strip-unit($px) / $font-context) * 1em;
}

@function px-rem($px) {
  @return (strip-unit($px) / $font-context) * 1rem;
}

$font-family-sans-serif: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-family-sans-serif-light: '-apple-system', "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light, sans-serif !default;

$font-family: $font-family-sans-serif !default;

$font-size: $font-context * 1px !default;
//$font-size-large: 1.2857 * $font-size !default;
//$font-size-small: 0.7857 * $font-size !default;

$line-height: 1.428571429 !default; // 20/14
$line-height-abs: floor($line-height * $font-size) !default; // ~20px
//$line-height-large: 1.5 !default;
//$line-height-small: 1.33 !default;
$line-height-offset: unit-rem(($line-height - 1) / 2) !default;

// Border
// -------------------------------
$border-radius-default: 0.2307;
$border-radius-circular: 50%;

// Headings
// -------------------------------
$heading-font-family: $font-family !default;
$heading-font-weight: 500 !default;
$heading-line-height: 1.2 !default;

/* Used to match floats with text */
$heading-line-height-offset: unit-rem($heading-line-height - 1) / 2 !default;

/* Header Spacing */
$heading-top-margin: calc(2rem - #{$heading-line-height-offset}) !default;
$heading-bottom-margin: 1rem !default;
$heading-margin: $heading-top-margin 0 $heading-bottom-margin !default;

// Semantic sizes
//$heading-sizes: (2.0, 1.714, 1.28, 1.071, 1.0, 0.85) !default;

// Ionic sizes
$heading-sizes: (2.6, 2.15, 1.70, 1.25, 1.0, 0.85) !default;

@function heading-size($index, $relative: false) {
  $size: nth($heading-sizes, $index);

  @if $relative == true {
	@return unit-em($size);
  } @else {
	@return unit-rem($size);
  }
}

// Paragraphs
// -------------------------------
$paragraph-margin: 0 0 unit-rem($line-height / 2) !default;
$paragraph-line-height: $line-height !default;

// Links
// -------------------------------
$link-color: color-text() !default;
$link-text-decoration: none !default;
$link-hover-color: color-hover($link-color) !default;
$link-hover-text-decoration: none !default;

// Loader
// -------------------------------
$loader-size: size('big');
$loader-speed: 0.6s;
$loader-line-width: 0.2em;
$loader-fill-color: rgba(0, 0, 0, 0.1);
$loader-line-color: grey;

$inverted-loader-fill-color: rgba(255, 255, 255, 0.15);
$inverted-loader-line-color: white;

/* Loaders Position Offset */
$loader-offset: -($loader-size / 2);
$loader-margin: $loader-offset 0 0 $loader-offset;

/* Rendered Scrollbar Width */
$scrollbar-width: px-rem(17);

/* Maximum Single Character Glyph Width, aka Capital "W" */
$glyph-width: 1.1em;

/* Maximum Glyph Width of Icon */
$icon-width: 1.18em;

// Form Input
// -------------------------------
///* This adjusts the default form input across all elements */
$input-background: $color-light;
$input-vertical-padding: px-em(11);
$input-horizontal-padding: px-em(14);
$input-padding: $input-vertical-padding $input-horizontal-padding;

/* Input Text Color */
$input-color: color-text();
$input-placeholder-color: lighten($input-color, 75);
$input-placeholder-focus-color: lighten($input-color, 45);
$input-line-height: 1.2142;

// Focused Input
// -------------------------------
/* Used on inputs, textarea etc */
$focused-form-border-color: #85B7D9;

/* Used on dropdowns, other larger blocks */
$focused-form-muted-border-color: #96C8DA;

// Accents
// -------------------------------
/* Differentiating Neutrals */
$subtle-gradient: linear-gradient(transparent, color-transparent($color-dark));

/* Differentiating Layers */
$subtle-shadow: 0 1px 2px 0 color-divider();
$floating-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
$floating-shadow-hover: 0px 2px 4px 0px rgba(34, 36, 38, 0.15), 0px 2px 10px 0px rgba(34, 36, 38, 0.25);

$duration-default: 0.1s;
$easing-default: ease;

$opacity-disabled: 0.5 !default;