/*-------------------
       Compact
--------------------*/

/* Shortcuts */
$ui-compact-menu: '#{$ui-menu}.#{$c-compact}';

#{$ui-compact-menu} {
  display: inline-flex;
  margin: 0;
  vertical-align: middle;

  &.#{$c-vertical} {
	display: inline-block;
	width: auto !important;

	.#{$c-item}:last-child::before {
	  display: block;
	}
  }

  .#{$c-item} {

	&:last-child {
	  border-radius: 0 $border-radius $border-radius 0;
	}

	:last-child::before {
	  display: none;
	}
  }
}

.ui.compact.menu .#{$c-item}:last-child {
  border-radius: 0 $border-radius $border-radius 0;
}





