/*--------------
    Container
---------------*/

$bp-tablet: map-value-by-index($bps, 1);

@include media('screen', '<#{$bp-tablet}') {
  .ui.menu > .ui.#{$c-container} {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
  }
}

@include media('screen', '>=#{$bp-tablet}') {
  .ui.menu:not(.secondary):not(.#{$c-text}):not(.tabular):not(.borderless) > .#{$c-container} > .#{$c-item}:not(.right):not(.borderless):first-child {
	border-left: $divider-size solid $divider-background;
  }
}

/*----------------
 Grid / Container
-----------------*/

#{$ui-menu} {
  > .#{$c-grid},
  > .#{$c-container} {
	display: flex;
	align-items: inherit;
	flex-direction: inherit;
  }
}