/*----------------
 Grid / Container
-----------------*/

/* Shortcuts */
$bp-mobile: breakpoint-name(1);

#{$ui-menu} {
  > .#{$c-grid},
  > .#{$c-container} {
	display: flex;
	align-items: inherit;
	flex-direction: inherit;
  }
}

/*--------------
    Container
---------------*/

@include breakpoint-only($bp-mobile) {
  #{$ui-menu} > .#{$c-container} {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
  }
}

@include breakpoint-not($bp-mobile) {
  #{$ui-menu}:not(.#{$menu-type-2}):not(.#{$c-text}):not(.#{$c-tabular}):not(.#{$c-borderless}) > .#{$c-container} > .#{$c-item}:not(.#{$c-right}):not(.#{$c-borderless}):first-child {
	border-left: $divider-size solid $divider-background;
  }
}

