/*--------------
     Floated
---------------*/

/* Shortcuts */
$right-floated: selector-right-floated();

#{$ui-menu} {

  &.#{$c-floated} {
	float: left;
	margin: 0 $floated-distance 0 0;

	.#{$c-item}:last-child:before {
	  display: none;
	}
  }

  &#{$right-floated} {
	float: right;
	margin: 0 0 0 $floated-distance;
  }
}

/*------------------
Floated Menu / Item
-------------------*/

#{$ui-menu}:not(.#{$c-vertical}) {

  /* Left Floated */
  .#{$c-left}.#{$c-item},
  .#{$c-left}.#{$c-menu} {
	display: flex;
	margin-right: auto !important;
  }

  /* Right Floated */
  .#{$c-right}.#{$c-item},
  .#{$c-right}.#{$c-menu} {
	display: flex;
	margin-left: auto !important;
  }
}

#{$ui-menu} {

  /* Swapped Borders */
  .#{$c-right}.#{$c-item},
  .#{$c-right}.#{$c-menu} > .#{$c-item} {
	&::before {
	  right: auto;
	  left: 0;
	}
  }
}