/*--------------
    Inverted
---------------*/

#{$ui-menu}.#{$c-inverted} {
  border: $inverted-border;
  background: $inverted-background;
  box-shadow: $inverted-box-shadow;

  /* Menu Item */
  .#{$c-item},
  .#{$c-item} > a:not(.#{$c-ui}) {
	background: $inverted-item-background;
	color: $inverted-item-text-color;
  }

  /* Border */
  .#{$c-item}:before {
	background: $inverted-divider-background;
  }

  /* Menu Item */
  .#{$c-item}.#{$c-menu} {
	background: $inverted-sub-menu-background;
  }

  /* Header Item */
  .#{$c-header}.#{$c-item} {
	margin: 0;
	background: $inverted-header-background;
	box-shadow: none;
  }

  /* Disabled Item */
  .#{$c-item}.#{$c-disabled} {

	&,
	&:hover {
	  color: color-text-disabled($inverted: true);
	}
  }

  /* Link Item */
  &.#{$c-link} .#{$c-item},
  .#{$c-dropdown}.#{$c-item},
  .#{$c-link}.#{$c-item},
  a.#{$c-item} {

	&:hover {
	  background: $inverted-hover-background;
	  color: $inverted-hover-color;
	}

	&:active {
	  background: $inverted-menu-pressed-background;
	  color: $inverted-menu-pressed-color;
	}
  }

  /* Active Item */
  .#{$c-active}.#{$c-item} {
	background: $inverted-active-background;
	color: $inverted-active-color !important;

	&:hover {
	  background: $inverted-active-hover-background;
	  color: $inverted-active-hover-color !important;
	}
  }
}

/* Vertical Inverted Menu */
#{$ui-menu}.#{$c-inverted}.#{$c-vertical} {

  .#{$c-item} {
	&::before {
	  background: $inverted-vertical-divider-background;
	}
  }

  .#{$c-active}.#{$c-item} {
	&::after {
	  background: $inverted-arrow-active-color !important;
	  margin: 0 !important;
	  box-shadow: none !important;
	  border: none !important;
	}
  }

  /* Sub Menu */
  .#{$c-menu} {

	.#{$c-item},
	.#{$c-item} a:not(.#{$c-ui}) {
	  color: $inverted-sub-menu-color;
	}
  }

  .#{$c-item} .#{$c-menu} {

	/* Link Item */
	a.#{$c-item},
	.#{$c-link}.#{$c-item} {

	  &:hover {
		background: $inverted-sub-menu-background;
		color: $inverted-sub-menu-hover-color;
	  }
	}

	/* Active Item */
	.#{$c-active}.#{$c-item} {
	  background: $inverted-sub-menu-active-background;
	  color: $inverted-sub-menu-active-color;
	}
  }
}

/* Inverted Pointing Menu */
#{$ui-menu}.#{$c-inverted}.#{$c-pointing} {

  /* Active Item */
  .#{$c-active}.#{$c-item} {

	&::after {
	  background: $inverted-arrow-active-color !important;
	  margin: 0 !important;
	  box-shadow: none !important;
	  border: none !important;
	}

	&:hover::after {
	  background: $inverted-arrow-active-hover-color !important;
	}
  }
}