/*--------------
   Pagination
---------------*/

.ui.pagination.menu {
  margin: 0;
  display: inline-flex;
  vertical-align: middle;
}

.ui.pagination.menu .#{$c-item}:last-child {
  border-radius: 0 $border-radius $border-radius 0;
}

.ui.compact.menu .#{$c-item}:last-child {
  border-radius: 0 $border-radius $border-radius 0;
}

.ui.pagination.menu .#{$c-item}:last-child:before {
  display: none;
}

.ui.pagination.menu .#{$c-item} {
  min-width: $pagination-min-width;
  text-align: center;
}

.ui.pagination.menu .#{$c-icon}.#{$c-item} #{$ui-icon} {
  vertical-align: top;
}

/* Active */
.ui.pagination.menu .#{$c-active}.#{$c-item} {
  border-top: none;
  padding-top: $item-vertical-padding;
  background-color: $pagination-active-background;
  color: $pagination-active-text-color;
  box-shadow: none;
}