/*--------------
   Pagination
---------------*/

#{$ui-menu}.#{$c-pagination} {
  margin: 0;
  display: inline-flex;
  vertical-align: middle;

  .#{$c-item} {
	min-width: $pagination-min-width;
	text-align: center;

	&:last-child {
	  border-radius: 0 $border-radius $border-radius 0;

	  &:before {
		display: none;
	  }
	}
  }

  /* Active Item */
  .#{$c-active}.#{$c-item} {
	border-top: none;
	padding-top: $item-vertical-padding;
	background-color: $pagination-active-background;
	color: $pagination-active-text-color;
	box-shadow: none;
  }

  /* Icon Item */
  .#{$c-icon}.#{$c-item} #{$ui-icon} {
	vertical-align: top;
  }
}