/*--------------
   Secondary
---------------*/

/* Shortcuts */
$ui-secondary-menu: '#{$ui-menu}.#{$menu-type-2}';

#{$ui-secondary-menu} {

  background: $secondary-background;
  margin-left: -$secondary-item-spacing;
  margin-right: -$secondary-item-spacing;
  border-radius: 0;
  border: none;
  box-shadow: none;

  /* Item */
  .#{$c-item} {
	align-self: center;
	box-shadow: none;
	border: none;
	padding: $secondary-item-padding;
	margin: $secondary-item-margin;
	background: $secondary-item-background;
	transition: $secondary-item-transition;
	border-radius: $secondary-item-border-radius;

	/* No Divider */
	&::before {
	  display: none !important;
	}
  }

  /* Link Item */
  &.#{$c-link} .#{$c-item},
  .#{$c-dropdown}.#{$c-item},
  .#{$c-link}.#{$c-item},
  a.#{$c-item} {

	&:hover {
	  background: $secondary-hover-item-background;
	  color: $secondary-hover-item-color;
	}
  }

  /* Active Item */
  .#{$c-active}.#{$c-item} {
	box-shadow: none;
	background: $secondary-active-item-background;
	color: $secondary-active-item-color;
	border-radius: $secondary-item-border-radius;

	&:hover {
	  box-shadow: none;
	  background: $secondary-active-hover-item-background;
	  color: $secondary-active-hover-item-color;
	}
  }

  /* Header Item */
  .#{$c-item}.#{$c-header} {
	border-radius: 0;
	border-right: $secondary-header-border;
	background: $secondary-header-background;
  }

  /* Image inside Item */
  .#{$c-item} > img:not(.#{$c-ui}) {
	margin: 0;
  }

  /* Inverted Menu */
  &.#{$c-inverted} {

	background-color: transparent;

	/* Link Item */
	.#{$c-dropdown}.#{$c-item},
	.#{$c-link}.#{$c-item},
	a.#{$c-item} {
	  color: $secondary-inverted-color !important;

	  &:hover {
		background: $secondary-inverted-hover-background;
		color: $secondary-inverted-hover-color !important;
	  }
	}

	/* Active */
	.#{$c-active}.#{$c-item} {
	  background: $secondary-inverted-active-background;
	  color: $secondary-inverted-active-color !important;
	}
  }

  /* Item Menu */
  /* Fix item margins */
  &.#{$c-item} {
	margin-left: 0;
	margin-right: 0;

	.#{$c-item}:last-child {
	  margin-right: 0;
	}
  }

  /* Attached Menu */
  &.#{$c-attached} {
	box-shadow: none;
  }

  /* Vertical Menu */
  &.#{$c-vertical} {

	> .#{$c-item} {
	  border: none;
	  margin: $secondary-vertical-item-margin;
	  border-radius: $secondary-vertical-item-border-radius !important;
	}

	> .#{$c-header}.#{$c-item} {
	  border-radius: 0;
	}

	/* Sub Menu */
	.#{$c-item} > .#{$c-menu} .#{$c-item} {
	  background-color: transparent;
	}

	/* Sub Menu */
	.#{$c-item}:not(.#{$c-dropdown}) > .#{$c-menu} {
	  margin: $secondary-menu-sub-menu-margin;

	  > .#{$c-item} {
		margin: $secondary-menu-sub-menu-item-margin;
		padding: $secondary-menu-sub-menu-item-padding;
	  }
	}
  }
}

/* Pointing Menu */
#{$ui-secondary-menu}.#{$c-pointing} {
  margin-left: 0;
  margin-right: 0;
  border-bottom: $secondary-pointing-border-width solid $secondary-pointing-border-color;

  .#{$c-item} {
	border-bottom-color: transparent;
	border-bottom-style: solid;
	border-radius: 0;
	align-self: flex-end;

	margin: 0 0 -$secondary-pointing-border-width;
	padding: $secondary-pointing-item-vertical-padding $secondary-pointing-item-horizontal-padding;
	border-bottom-width: $secondary-pointing-border-width;
	transition: $secondary-item-transition;

	&::after {
	  display: none;
	}
  }

  /* Link Item */
  &.#{$c-link} .#{$c-item},
  .#{$c-dropdown}.#{$c-item},
  .#{$c-link}.#{$c-item},
  a.#{$c-item} {
	&:hover {
	  background-color: transparent;
	  color: $secondary-pointing-hover-text-color;
	}
	&:active {
	  background-color: transparent;
	  border-color: $secondary-pointing-border-color;
	}
  }

  /* Active Item */
  .#{$c-active}.#{$c-item} {
	background-color: transparent;
	box-shadow: none;
	border-color: $secondary-pointing-active-border-color;
	font-weight: $secondary-pointing-active-font-weight;
	color: $secondary-pointing-active-text-color;

	&:hover {
	  border-color: $secondary-pointing-active-hover-border-color;
	  color: $secondary-pointing-active-hover-text-color;
	}
  }

  /* Active Dropdown */
  .#{$c-active}.#{$c-dropdown}.#{$c-item} {
	border-color: $secondary-pointing-active-dropdown-border-color;
  }

  /* Header Item */
  .#{$c-header}.#{$c-item} {
	color: $secondary-pointing-header-color !important;
  }

  /* Text Item */
  .#{$c-text}.#{$c-item} {
	box-shadow: none !important;
  }

  /* Vertical Pointing Menu */
  &.#{$c-vertical} {
	border-bottom-width: 0;
	border-right-width: $secondary-pointing-border-width;
	border-right-style: solid;
	border-right-color: $secondary-pointing-border-color;

	.#{$c-item} {
	  border-bottom: none;
	  border-right-style: solid;
	  border-right-color: transparent;
	  border-radius: 0 !important;
	  margin: $secondary-vertical-pointing-item-margin;
	  border-right-width: $secondary-pointing-border-width;
	}

	/* Active Item */
	.#{$c-active}.#{$c-item} {
	  border-color: $secondary-pointing-active-border-color;
	}
  }

  /* Inverted Pointing Menu */
  &.#{$c-inverted} {
	border-width: $secondary-pointing-border-width;
	border-color: $secondary-pointing-inverted-border-color;

	.#{$c-item} {
	  color: $secondary-pointing-inverted-item-text-color;
	}

	/* Link Item */
	&.#{$c-link} .#{$c-item},
	.#{$c-dropdown}.#{$c-item},
	.#{$c-link}.#{$c-item},
	a.#{$c-item} {
	  &:hover {
		color: $secondary-pointing-inverted-item-hover-text-color;
	  }
	}

	/* Active Item */
	.#{$c-active}.#{$c-item} {
	  border-color: $secondary-pointing-inverted-active-border-color;
	  color: $secondary-pointing-inverted-active-color;
	}

	/* Header Item */
	.#{$c-header}.#{$c-item} {
	  color: $secondary-pointing-inverted-item-header-color !important;
	}
  }
}