/*--------------
	Stackable
---------------*/

/* Shortcuts */
$ui-stackable-menu: '#{$ui-menu}.#{$c-stackable}';
$bp-mobile: breakpoint-name(1);

@include breakpoint-only($bp-mobile) {

  #{$ui-stackable-menu} {

	flex-direction: column;

	.#{$c-item} {
	  width: 100% !important;

	  &::before {
		position: absolute;
		content: '';
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		height: $divider-size;
		background: $vertical-divider-background;
	  }
	}

	.#{$c-left}.#{$c-menu},
	.#{$c-left}.#{$c-item} {
	  margin-right: 0 !important;
	}

	.#{$c-right}.#{$c-menu},
	.#{$c-right}.#{$c-item} {
	  margin-left: 0 !important;
	}
  }
}