/*--------------
     Tabular
---------------*/

#{$ui-menu}.#{$c-tabular} {
  border-radius: 0;
  box-shadow: none !important;
  border: none;
  background: $tabular-background;
  border-bottom: $tabular-border-width solid $tabular-border-color;

  .#{$c-item} {
	background: transparent;
	border-bottom: none;

	border-left: $tabular-border-width solid transparent;
	border-right: $tabular-border-width solid transparent;
	border-top: $tabular-opposite-border-width solid transparent;
	padding: $tabular-vertical-padding $tabular-horizontal-padding;
	color: $tabular-text-color;

	&::before {
	  display: none;
	}

	&:hover {
	  background-color: transparent;
	  color: $tabular-hovered-text-color;
	}
  }

  /* Active Item */
  .#{$c-active}.#{$c-item} {
	background: $tabular-active-background;
	color: $tabular-active-color;
	border-top-width: $tabular-border-width;
	border-color: $tabular-border-color;
	font-weight: $tabular-active-weight;
	margin-bottom: -$tabular-border-width;
	box-shadow: $tabular-active-box-shadow;
	border-radius: $tabular-border-radius $tabular-border-radius 0 0 !important;
  }

  /* Active Dropdown Item */
  .#{$c-active}.#{$c-dropdown}.#{$c-item} {
	margin-bottom: 0;
	border-left: $tabular-border-width solid transparent;
	border-right: $tabular-border-width solid transparent;
	border-top: $tabular-opposite-border-width solid transparent;
	border-bottom: none;
  }
}

#{$ui-menu}.#{$c-tabular}.#{$c-fluid} {
  width: $tabular-fluid-width !important;
}

/* Vertical Tabular (Left) */
#{$ui-menu}.#{$c-tabular}.#{$c-vertical} {
  background: $tabular-vertical-background;
  border-radius: 0;
  box-shadow: none !important;
  border-bottom: none;
  border-right: $tabular-border-width solid $tabular-border-color;

  .#{$c-item} {
	background: none;
	border-left: $tabular-border-width solid transparent;
	border-bottom: $tabular-border-width solid transparent;
	border-top: $tabular-border-width solid transparent;
	border-right: none;
  }

  .#{$c-active}.#{$c-item} {
	background: $tabular-active-background;
	color: $tabular-active-color;
	border-color: $tabular-border-color;
	margin: 0 -$tabular-border-width 0 0;
	border-radius: $tabular-border-radius 0 0 $tabular-border-radius !important;
  }
}

/* Vertical Right Tabular */
#{$ui-menu}.#{$c-tabular}.#{$c-vertical}.#{$c-right} {
  background: $tabular-vertical-background;
  border-radius: 0;
  box-shadow: none !important;
  border-bottom: none;
  border-right: none;
  border-left: $tabular-border-width solid $tabular-border-color;

  .#{$c-item} {
	background: none;
	border-right: $tabular-border-width solid transparent;
	border-bottom: $tabular-border-width solid transparent;
	border-top: $tabular-border-width solid transparent;
	border-left: none;
  }

  .#{$c-active}.#{$c-item} {
	background: $tabular-active-background;
	color: $tabular-active-color;
	border-color: $tabular-border-color;
	margin: 0 0 0 -$tabular-border-width;
	border-radius: 0 $tabular-border-radius $tabular-border-radius 0 !important;
  }
}

/* Bottom Vertical Tabular */
#{$ui-menu}.#{$c-tabular}.#{$c-bottom} {
  background: $tabular-background;
  border-radius: 0;
  box-shadow: none !important;
  border-bottom: none;
  border-top: $tabular-border-width solid $tabular-border-color;

  .#{$c-item} {
	background: none;
	border-left: $tabular-border-width solid transparent;
	border-right: $tabular-border-width solid transparent;
	border-bottom: $tabular-border-width solid transparent;
	border-top: none;
  }

  .#{$c-active}.#{$c-item} {
	background: $tabular-active-background;
	color: $tabular-active-color;
	border-color: $tabular-border-color;
	margin: -$tabular-border-width 0 0 0;
	border-radius: 0 0 $tabular-border-radius $tabular-border-radius !important;
  }
}