/*--------------
  Text Content
---------------*/
#{$ui-menu} {

  .#{$c-item}.#{$c-text} > *,
  .#{$c-item} > a:not(.#{$c-ui}),
  .#{$c-item} > p:only-child {
	user-select: text;
	line-height: $text-line-height;
  }

  .#{$c-item} > p:first-child {
	margin-top: 0;
  }

  .#{$c-item} > p:last-child {
	margin-bottom: 0;
  }
}

/*--------------
    Text Menu
---------------*/

#{$ui-menu}.#{$c-text} {
  background: none transparent;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin: $text-menu-margin;

  .#{$c-item} {
	border-radius: 0;
	box-shadow: none;
	align-self: center;
	margin: $text-menu-item-margin;
	padding: $text-menu-item-padding;
	font-weight: $text-menu-item-font-weight;
	color: $text-menu-item-color;
	transition: $text-menu-item-transition;

	&:hover {
	  opacity: 1;
	  background-color: transparent;
	}
  }

  /* Border */
  .#{$c-item}::before,
  .#{$c-menu} .#{$c-item}::before {
	display: none !important;
  }

  .#{$c-active}.#{$c-item} {
	background-color: transparent;
	border: none;
	box-shadow: none;
	font-weight: $text-menu-active-item-font-weight;
	color: $text-menu-active-item-color;

	&:hover {
	  background-color: transparent;
	}
  }

  /* Header Item */
  .#{$c-header}.#{$c-item} {
	background-color: transparent;
	opacity: 1;
	color: $text-menu-header-color;
	font-size: $text-menu-header-size;
	text-transform: $text-menu-header-text-transform;
	font-weight: $text-menu-header-font-weight;
  }

  /* Image inside Item */
  .#{$c-item} > img:not(.#{$c-ui}) {
	margin: 0;
  }

  /* Item Text Menu */
  &.#{$c-item} .#{$c-item} {
	margin: 0;
  }

  /* Vertical Text Menu */
  &.#{$c-vertical} {
	margin: $text-vertical-menu-margin;

	&:first-child {
	  margin-top: 0;
	}

	:last-child {
	  margin-bottom: 0;
	}

	.#{$c-item} {
	  margin: $text-vertical-menu-item-margin;
	  padding-left: 0;
	  padding-right: 0;
	}

	.#{$c-item} > .#{$c-icon} {
	  float: $text-vertical-menu-icon-float;
	  margin: $icon-margin;
	}

	.#{$c-header}.#{$c-item} {
	  margin: $text-vertical-menu-header-margin;
	}

	/* Vertical Sub Menu */
	.#{$c-item}:not(.#{$c-dropdown}) > .#{$c-menu} {
	  margin: $text-menu-sub-menu-margin;

	  > .#{$c-item} {
		margin: $text-menu-sub-menu-item-margin;
		padding: $text-menu-sub-menu-item-padding;
	  }
	}
  }

  /* Pointing Text Menu */
  &.#{$c-pointing} {

	.#{$c-active}.#{$c-item}:after {
	  box-shadow: none;
	}
  }

  /* Attached Text Menu */
  &.#{$c-attached} {
	box-shadow: none;
  }

  /* Inverted Text Menu */
  &.#{$c-inverted} {

	&,
	.#{$c-item},
	.#{$c-item}:hover,
	.#{$c-active}.#{$c-item} {
	  background-color: transparent !important;
	}
  }

  /* Fluid Text Menu */
  &.#{$c-fluid} {
	margin-left: 0;
	margin-right: 0;
  }
}