/*--------------
    Vertical
---------------*/

#{$ui-menu}.#{$c-vertical} {
  display: block;
  flex-direction: column;
  background: $vertical-background;
  box-shadow: $vertical-box-shadow;

  > .#{$c-item} {

	&:first-child {
	  border-radius: $border-radius $border-radius 0 0;
	}
	&:last-child {
	  border-radius: 0 0 $border-radius $border-radius;
	}
  }

  .#{$c-item} {
	display: block;
	background: $vertical-item-background;
	border-top: none;
	border-right: none;

	/* Border */
	&:before {
	  position: absolute;
	  content: '';
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: $divider-size;
	  background: $vertical-divider-background;
	}

	&:first-child::before {
	  display: none !important;
	}
  }

  /* Active Item */
  .#{$c-active}.#{$c-item} {
	background: $active-item-background;
	box-shadow: $vertical-active-box-shadow;
  }

  /* Label */
  .#{$c-item} > .#{$c-label} {
	float: right;
	text-align: center;
  }

  /* Icon */
  .#{$c-item} > #{$ui-icon} {
	width: $icon-width;
	float: $vertical-icon-float;
	margin: $vertical-icon-margin;
  }

  /* Label then Icon */
  .#{$c-item} > .#{$c-label} + #{$ui-icon} {
	float: $label-and-icon-float;
	margin: $label-and-icon-margin;
  }

  /* Sub Menu */
  .#{$c-item} > .#{$c-menu} {
	margin: $sub-menu-margin;
  }

  .#{$c-menu} .#{$c-item} {
	background: none;
	padding: $sub-menu-vertical-padding $sub-menu-horizontal-padding;
	font-size: $sub-menu-font-size;
	color: $sub-menu-text-color;

	&::before {
	  display: none;
	}
  }

  .#{$c-item} .#{$c-menu} {
	a.#{$c-item},
	.#{$c-link}.#{$c-item} {
	  &:hover {
		color: color-text();
	  }
	}
  }

  .#{$c-active}.#{$c-item} .#{$c-menu} .#{$c-active}.#{$c-item} {
	border-left: none;
  }

  .#{$c-item} .#{$c-menu} .#{$c-active}.#{$c-item} {
	background-color: $sub-menu-active-background;
	font-weight: $sub-menu-active-font-weight;
	color: $sub-menu-active-text-color;
  }
}