/* Resize large sizes */
$sizes: map-zip(map-keys($sizes), (
		px-em(11),
		px-em(12),
		px-em(13),
		px-em(14),
		px-em(15),
		px-em(16),
		px-em(17),
		px-em(18)
));

$widths: map-zip(map-keys($sizes), (
		9rem,
		11rem,
		13rem,
		15rem,
		18rem,
		20rem,
		22rem,
		25rem
));

@function menu-width($variant) {
  $variant: to-string($variant);

  @if not(map-has-key($widths, $variant)) {
	@error 'menu-width: invalid $variant #{$variant}';
  }

  @return map-get($widths, $variant);
}


/* Menu */
$vertical-margin: size('medium');
$horizontal-margin: 0;
$margin: $vertical-margin $horizontal-margin;
$item-vertical-padding: size('small');
$item-horizontal-padding: size('large');
$background: #FFFFFF;
//$font-family: $page-font;
$text-color: color-text();
$item-background: none;
$font-weight: normal;
$border-width: 1px;
$border: $border-width solid color-divider();
$box-shadow: $subtle-shadow;
$border-radius: unit-rem($border-radius-default);
$min-height: ($item-vertical-padding * 2) + 1rem;

/* Menu Item */
$item-text-transform: none;
$item-transition: background $duration-default $easing-default,
box-shadow $duration-default $easing-default,
color $duration-default $easing-default;
$item-font-weight: normal;
$item-text-color: color-text();

/* Divider */
$divider-size: 1px;
$divider-background: color-divider-internal();

/* Sub Menu */
$sub-menu-distance: 0.5em;
$sub-menu-margin: $sub-menu-distance (-$item-horizontal-padding) 0;
$sub-menu-font-size: size('tiny');
$sub-menu-text-color: rgba(0, 0, 0, 0.5);

$sub-menu-indent: 0;
$sub-menu-horizontal-padding: ($item-horizontal-padding / size('tiny')) + $sub-menu-indent;
$sub-menu-vertical-padding: 0.5em;

/* Text Item */
$text-line-height: 1.3;

/*--------------
    Elements
---------------*/

/* Icon */
$icon-float: none;
$icon-margin: 0 px-em(5) 0 0;
$icon-opacity: 0.9;

/* Dropdown Icon */
$dropdown-icon-float: right;
$dropdown-icon-distance: 1em;

/* Header */
$header-background: '';
$header-weight: bold;
$header-text-transform: normal;

/* Vertical Icon */
$vertical-icon-float: right;
$vertical-icon-margin: 0 0 0 0.5em;

/* Vertical Header */
$vertical-header-margin: 0 0 0.5em;
$vertical-header-font-size: size('medium');
$vertical-header-font-weight: bold;

/* Pointing Arrow */
$arrow-size: px-em(8);
$arrow-border-width: 1px;
$arrow-border: $arrow-border-width solid color-divider-solid();
$arrow-transition: background $duration-default $easing-default;
$arrow-z-index: 2;

$arrow-hover-color: #F2F2F2;
$arrow-active-color: $arrow-hover-color;
$arrow-active-hover-color: $arrow-active-color;

$arrow-vertical-hover-color: $arrow-hover-color;
$arrow-vertical-active-color: $arrow-active-color;
$arrow-vertical-sub-menu-color: $color-light;

/*--------------
    Couplings
---------------*/

/* Button */
$button-size: size('medium');
$button-offset: 0;
$button-margin: -0.5em 0;
$button-vertical-padding: size('mini');

/* Input */
$input-size: size('medium');
$input-vertical-margin: -0.5em;
$input-offset: 0;
$input-vertical-padding: px-em(8);

/* Image */
$image-margin: -0.3em 0;
$image-width: 2.5em;
$vertical-image-width: auto;

/* Label */
$label-offset: -0.15em;
$label-background: #999999;
$label-text-color: $color-light;

$label-text-margin: 1em;
$label-vertical-padding: 0.3em;
$label-horizontal-padding: size('mini');

$label-and-icon-float: none;
$label-and-icon-margin: 0 0.5em 0 0;

/* Dropdown in Menu */
$dropdown-menu-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);

$dropdown-background: #FFFFFF;
$dropdown-menu-distance: 0;
$dropdown-menu-border-radius: $border-radius;

$dropdown-item-font-size: size('medium');
$dropdown-item-padding: size('mini') size('large');
$dropdown-item-background: transparent;
$dropdown-item-color: color-text();
$dropdown-item-text-transform: none;
$dropdown-item-font-weight: normal;
$dropdown-item-box-shadow: none;
$dropdown-item-transition: none;

$dropdown-item-icon-float: none;
$dropdown-item-icon-font-size: size('medium');
$dropdown-item-icon-margin: 0 0.75em 0 0;

$dropdown-hovered-item-background: color-transparent($color-dark);
$dropdown-hovered-item-color: color-text-selected();

/* Dropdown Variations */
$dropdown-vertical-menu-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
$secondary-dropdown-menu-distance: px-em(5);
$pointing-dropdown-menu-distance: 0.75em;
$inverted-selection-dropdown-color: color-text($inverted: true);

/*--------------
     States
---------------*/

/* Hovered Item */
$hover-item-background: color-transparent-subtle($color-dark);
$hover-item-text-color: color-text-selected();

/* Pressed Item */
$pressed-item-background: color-transparent-subtle($color-dark);
$pressed-item-text-color: $hover-item-text-color;

/* Active Item */
$active-item-background: color-transparent($color-dark);
$active-item-text-color: color-text-selected();
$active-item-font-weight: normal;
$active-icon-opacity: 1;
$active-item-box-shadow: none;

/* Active Hovered Item */
$active-hover-item-background: color-transparent($color-dark);
$active-hover-item-color: color-text-selected();

/* Selected Dropdown */
$dropdown-selected-item-background: color-transparent($color-dark);
$dropdown-selected-item-color: color-text-selected();

/* Active Dropdown */
$dropdown-active-item-background: color-transparent-subtle($color-dark);
$dropdown-active-item-color: color-text-selected();
$dropdown-active-item-font-weight: bold;

/* Active Sub Menu */
$sub-menu-active-background: transparent;
$sub-menu-active-text-color: $active-item-text-color;
$sub-menu-active-font-weight: bold;

/*--------------
     Types
---------------*/

/* Vertical */
$vertical-box-shadow: $box-shadow;
$vertical-pointer-width: 2px;
$vertical-background: #FFFFFF;
$vertical-item-background: none;
$vertical-divider-background: $divider-background;

$vertical-active-box-shadow: none;

/* Secondary */
$secondary-item-spacing: px-em(5);
$secondary-background: none;
$secondary-margin: 0 -$secondary-item-spacing;
$secondary-item-background: none;
$secondary-item-margin: 0 $secondary-item-spacing;
$secondary-item-vertical-padding: size('mini');
$secondary-item-horizontal-padding: size('small');
$secondary-item-padding: size('mini') size('small');
$secondary-item-border-radius: unit-rem($border-radius-default);
$secondary-item-transition: color $duration-default $easing-default;
$secondary-item-color: color-text-unselected();

$secondary-hover-item-background: color-transparent($color-dark);
$secondary-hover-item-color: color-text-selected();

$secondary-active-item-background: color-transparent($color-dark);
$secondary-active-item-color: color-text-selected();
$secondary-active-hover-item-background: color-transparent($color-dark);
$secondary-active-hover-item-color: color-text-selected();

$secondary-active-hovered-item-background: color-transparent($color-dark);
$secondary-active-hovered-item-color: color-text-selected();

$secondary-header-background: none transparent;
$secondary-header-border: none;

$secondary-item-vertical-spacing: $secondary-item-spacing;
$secondary-vertical-item-margin: 0 0 $secondary-item-vertical-spacing;
$secondary-vertical-item-border-radius: unit-rem($border-radius-default);

$secondary-menu-sub-menu-margin: 0 -$secondary-item-horizontal-padding;
$secondary-menu-sub-menu-item-margin: 0;
$secondary-sub-menu-horizontal-padding: ($item-horizontal-padding / size('tiny')) + $sub-menu-indent;
$secondary-menu-sub-menu-item-padding: px-em(7) $secondary-sub-menu-horizontal-padding;

/* Pointing */
$secondary-pointing-border-width: 2px;
$secondary-pointing-border-color: color-divider();
$secondary-pointing-item-vertical-padding: size('tiny');
$secondary-pointing-item-horizontal-padding: size('large');

$secondary-pointing-hover-text-color: $text-color;

$secondary-pointing-active-border-color: $color-dark;
$secondary-pointing-active-text-color: color-text-selected();
$secondary-pointing-active-font-weight: bold;

$secondary-pointing-active-dropdown-border-color: transparent;

$secondary-pointing-active-hover-border-color: $secondary-pointing-active-border-color;
$secondary-pointing-active-hover-text-color: $secondary-pointing-active-text-color;

$secondary-pointing-header-color: color-text();
$secondary-vertical-pointing-item-margin: 0 -$secondary-pointing-border-width 0 0;

/* Inverted Secondary */
$secondary-inverted-color: color-text($inverted: true);

$secondary-inverted-hover-background: color-transparent($color-light);
$secondary-inverted-hover-color: color-text-selected($inverted: true);

$secondary-inverted-active-background: color-transparent-strong($color-light);
$secondary-inverted-active-color: color-text-selected($inverted: true);

/* Inverted Pointing */
$secondary-pointing-inverted-border-color: color-divider($inverted: true);
$secondary-pointing-inverted-item-text-color: color-text($inverted: true);
$secondary-pointing-inverted-item-header-color: $color-light;
$secondary-pointing-inverted-item-hover-text-color: color-text-selected();
$secondary-pointing-inverted-active-border-color: $color-light;
$secondary-pointing-inverted-active-color: color-text-selected($inverted: true);

/* Tiered */
$tiered-active-item-background: #FCFCFC;
$tiered-active-menu-background: #FCFCFC;

$tiered-sub-menu-text-transform: normal;
$tiered-sub-menu-font-weight: normal;

$tiered-sub-menu-color: color-text();

$tiered-sub-menu-hover-background: none transparent;
$tiered-sub-menu-hover-color: color-text-hovered();

$tiered-sub-menu-active-background: none transparent;
$tiered-sub-menu-active-color: color-text-selected();

$tiered-inverted-sub-menu-background: rgba(0, 0, 0, 0.2);

/* Icon */
$icon-menu-text-align: center;
$icon-menu-item-color: $color-dark;
$icon-menu-inverted-item-color: $color-light;

/* Tabular */
$tabular-border-color: color-divider-solid();
$tabular-background-color: transparent;
$tabular-background: none $tabular-background-color;
$tabular-border-width: 1px;
$tabular-opposite-border-width: $tabular-border-width + 1px;
$tabular-vertical-padding: $item-vertical-padding;
$tabular-horizontal-padding: size('huge');
$tabular-border-radius: unit-rem($border-radius-default);
$tabular-text-color: $item-text-color;

$tabular-hovered-text-color: color-text-hovered();

$tabular-vertical-background: none $tabular-background-color;

$tabular-fluid-offset: 1px;
$tabular-fluid-width: calc(100% + #{$tabular-fluid-offset * 2});

$tabular-active-background: none $color-light;
$tabular-active-color: color-text-selected();
$tabular-active-box-shadow: none;
$tabular-active-weight: bold;

/* Pagination */
$pagination-min-width: 3em;
$pagination-active-background: color-transparent($color-dark);
$pagination-active-text-color: color-text-selected();

/* Labeled Icon */
$labeled-icon-item-horizontal-padding: size('massive');
$labeled-icon-size: size('massive');
$labeled-icon-min-width: 6em;
$labeled-icon-text-margin: 0.5rem;

/* Text */
$text-menu-item-spacing: px-em(7);
$text-menu-margin: size('medium') (-$text-menu-item-spacing);
$text-menu-item-color: color-text-muted();
$text-menu-item-font-weight: normal;
$text-menu-item-margin: 0 0;
$text-menu-item-padding: px-em(5) $text-menu-item-spacing;
$text-menu-item-transition: opacity $duration-default $easing-default;

$text-menu-sub-menu-margin: 0;
$text-menu-sub-menu-item-margin: 0;
$text-menu-sub-menu-item-padding: px-em(7) 0;

$text-menu-active-item-font-weight: normal;
$text-menu-active-item-color: color-text-selected();

$text-menu-header-size: size('small');
$text-menu-header-color: color-text();
$text-menu-header-font-weight: bold;
$text-menu-header-text-transform: uppercase;

$text-vertical-menu-margin: size('medium') 0;
$text-vertical-menu-header-margin: px-em(8) 0 px-em(10);
$text-vertical-menu-item-margin: px-em(8) 0;

$text-vertical-menu-icon-float: none;
$text-vertical-menu-icon-margin: $icon-margin;

/*--------------
   Variations
---------------*/

/* Inverted */
$inverted-background: $color-dark;
$inverted-box-shadow: none;
$inverted-border: 0 solid transparent;
$inverted-header-background: transparent;

$inverted-item-background: transparent;
$inverted-item-text-color: color-text($inverted: true);

/* Inverted Sub Menu */
$inverted-sub-menu-background: transparent;
$inverted-sub-menu-color: color-text-unselected($inverted: true);

/* Inverted Hover */
$inverted-hover-background: color-transparent($color-light);
$inverted-hover-color: color-text-selected($inverted: true);

$inverted-sub-menu-hover-background: transparent;
$inverted-sub-menu-hover-color: color-text-selected($inverted: true);

/* Pressed */
$inverted-menu-pressed-background: color-transparent($color-light);
$inverted-menu-pressed-color: color-text-selected($inverted: true);

/* Inverted Active */
$inverted-active-background: color-transparent-strong($color-light);
$inverted-active-color: color-text-selected($inverted: true);
$inverted-arrow-active-color: #3D3E3F;

/* Inverted Active Hover  */
$inverted-active-hover-background: $inverted-active-background;
$inverted-active-hover-color: $color-light;
$inverted-arrow-active-hover-color: $inverted-arrow-active-color;

$inverted-sub-menu-active-background: transparent;
$inverted-sub-menu-active-color: $color-light;

/* Inverted Menu Divider */
$inverted-divider-background: rgba(255, 255, 255, 0.08);
$inverted-vertical-divider-background: $inverted-divider-background;

/* Inverted Colored */
$inverted-colored-divider-background: $divider-background;
$inverted-colored-active-background: color-transparent-strong($color-dark);

/* Fixed */
$fixed-preceding-grid-margin: 2.75rem;

/* Floated */
$floated-distance: 0.5rem;

/* Attached */
$attached-top-offset: 0;
$attached-bottom-offset: 0;
$attached-horizontal-offset: -$border-width;
$attached-width: calc(100% + #{$attached-horizontal-offset * -2});
$attached-box-shadow: none;
$attached-border: $border-width solid color-divider-solid();
$attached-bottom-box-shadow: $box-shadow, $attached-box-shadow;

/* Breakpoints */
$bp-default-indexes: (1, );
$bps: breakpoint-collect-by-indexes($bp-default-indexes);