/*-------------------
       Animated
--------------------*/

/* Shortcuts */
$visible-content: '.#{$c-visible}.#{$c-content}';
$hidden-content: '.#{$c-hidden}.#{$c-content}';

#{$ui-button} {

  &.#{$c-animated} {
	position: relative;
	overflow: hidden;
	padding-right: 0 !important;
	vertical-align: $animated-vertical-align;
	z-index: $animated-z-index;

	.#{$c-content} {
	  will-change: transform, opacity;
	}

	#{$visible-content} {
	  position: relative;
	  margin-right: $horizontal-padding;
	}

	#{$hidden-content} {
	  position: absolute;
	  width: 100%;
	}
  }

  /* Horizontal */
  &.#{$c-animated} {

	#{$visible-content},
	#{$hidden-content} {
	  transition: right $animation-duration $animation-easing 0s;
	}

	#{$visible-content} {
	  left: auto;
	  right: 0;
	}

	#{$hidden-content} {
	  top: 50%;
	  left: auto;
	  right: -100%;
	  margin-top: -(unit-rem($line-height / 2));
	}

	&:focus,
	&:hover {
	  #{$visible-content} {
		left: auto;
		right: 200%;
	  }

	  #{$hidden-content} {
		left: auto;
		right: 0;
	  }
	}
  }

  /* Vertical */
  &.#{$c-vertical}.#{$c-animated} {

	#{$visible-content},
	#{$hidden-content} {
	  transition: top $animation-duration $animation-easing, transform $animation-duration $animation-easing;
	}

	#{$visible-content} {
	  transform: translateY(0%);
	  right: auto;
	}

	#{$hidden-content} {
	  top: -50%;
	  left: 0;
	  right: auto;
	}

	&:focus,
	&:hover {
	  #{$visible-content} {
		transform: translateY(200%);
		right: auto;
	  }

	  #{$hidden-content} {
		top: 50%;
		right: auto;
	  }
	}
  }

  /* Fade */
  &.#{$c-fade}.#{$c-animated} {
	#{$visible-content},
	#{$hidden-content} {
	  transition: opacity $animation-duration $animation-easing, transform $animation-duration $animation-easing;
	}

	#{$visible-content} {
	  left: auto;
	  right: auto;
	  opacity: 1;
	  transform: scale(1);
	}

	#{$hidden-content} {
	  opacity: 0;
	  left: 0;
	  right: auto;
	  transform: scale($fade-scale-high);
	}

	&:focus,
	&:hover {
	  #{$visible-content} {
		left: auto;
		right: auto;
		opacity: 0;
		transform: scale($fade-scale-low);
	  }

	  #{$hidden-content} {
		left: 0;
		right: auto;
		opacity: 1;
		transform: scale(1);
	  }
	}
  }
}