/*-------------------
        Basic
--------------------*/

#{$ui-button-group}.#{$c-basic} {
  border: $basic-group-border;
  border-radius: $border-radius;
}

#{$ui-button-group}.#{$c-basic}.#{$c-vertical} {

  .#{$c-button} {
	border-left: none;
	border-top: $basic-group-border;

	&:first-child {
	  border-top-width: 0;
	}
  }
}

#{$ui-button-group}.#{$c-basic} > .#{$c-button},
#{$ui-button}.#{$c-basic} {

  color: color-text();
  background: $basic-background;
  font-weight: $basic-font-weight;
  border-radius: $basic-border-radius;
  text-transform: $basic-text-transform;

  &:hover {
	color: color-text-hovered();
  }

  &:focus {
	color: color-text-selected();
  }

  &:active {
	color: color-text-pressed();
  }

  &.#{$c-active} {
	color: color-text-selected();

	&:hover {
	  background-color: color-transparent($color-dark);
	}
  }

  /* Basic Group With Disabled */
  &.#{$c-disabled} {
	border-color: color-divider-disabled();
  }
}

/* Basic Inverted */
#{$ui-button-group}.#{$c-basic}.#{$c-inverted} > .#{$c-button},
#{$ui-button}.#{$c-basic}.#{$c-inverted} {

  color: $color-mid;
  background-color: transparent;

  &:hover {
	color: $color-light;
  }

  &:focus {
	color: $color-light;
  }

  &:active {
	color: $color-light;
	background-color: color-transparent($color-light);
  }

  &.#{$c-active} {
	background-color: color-transparent($color-light);
	color: color-text($inverted: true);
	text-shadow: color-shadow(color-text($inverted: true));

	&:hover {
	  background-color: color-transparent-strong($color-light);
	}
  }
}