/*-------------------
       Colors
--------------------*/

@mixin colors($color-map) {
  @each $name, $color in $color-map {

	/*--- Standard ---*/
	#{$ui-button-group}.#{$name} .#{$c-button},
	#{$ui-button}.#{$name} {

	  background-color: $color;
	  color: color-text($inverted: true);

	  &:hover {
		color: color-text($inverted: true);
		background-color: color-hover($color);
	  }

	  &:focus {
		background-color: color-focus($color);
		color: color-text($inverted: true);
	  }

	  &:active {
		background-color: color-down($color);
		color: color-text($inverted: true);
	  }

	  &.#{$c-active} {
		background-color: color-active($color);
		color: color-text($inverted: true);
	  }
	}

	/*#{$ui-button}.#{$name} {
	  box-shadow: $colored-box-shadow;
	}*/

	/* Basic */
	#{$ui-button-group}.#{$c-basic}.#{$name} .#{$c-button},
	#{$ui-button}.#{$c-basic}.#{$name} {
	  color: colorize-text($color);

	  &:hover {
		color: colorize-text-hovered($color);
	  }

	  &:focus {
		color: colorize-text-selected($color);
	  }

	  &:active {
		color: colorize-text-pressed($color);
	  }

	  &.#{$c-active} {
		color: colorize-text-selected($color);
	  }
	}

	#{$ui-button-group}:not(.#{$c-vertical}) > .#{$c-basic}.#{$name}.#{$c-button}:not(:first-child) {
	  margin-left: -$basic-colored-border-size;
	}

	/* Inverted */
	#{$ui-button-group}.#{$c-inverted}.#{$name} .#{$c-button},
	#{$ui-button}.#{$c-inverted}.#{$name} {
	  color: colorize-text($color);
	  background-color: transparent;

	  &:hover,
	  &:focus,
	  &:active,
	  &.#{$c-active} {
		color: color-text($inverted: true);
	  }

	  &:hover {
		background-color: color-hover(color-light($color));
	  }

	  &:focus {
		background-color: color-focus(color-light($color));
	  }

	  &:active {
		background-color: color-down(color-light($color));
	  }

	  &.#{$c-active} {
		background-color: color-active(color-light($color));
	  }
	}

	/* Inverted Basic */
	#{$ui-button-group}.#{$c-inverted}.#{$name}.#{$c-basic} .#{$c-button},
	#{$ui-button-group}.#{$c-inverted}.#{$name} .#{$c-basic}.#{$c-button},
	#{$ui-button}.#{$c-inverted}.#{$name}.#{$c-basic} {
	  color: color-text($inverted: true);
	  background-color: transparent;

	  &:hover {
		color: color-light($color);
	  }

	  &:focus {
		color: color-light($color);
	  }

	  &:active {
		color: color-light($color);
	  }

	  &.#{$c-active} {
		color: color-light($color);
	  }
	}
  }
}

@if $auto-include-colors-info {
  @include colors($colors-info);
}