%props-button {

  // positioning
  display: $display;

  // size
  margin: margin();
  padding: padding();
  min-height: 1em;

  // text
  font: font('medium');
  text-align: center;
  text-decoration: none;
  text-transform: $text-transform;
  vertical-align: $vertical-align;

  // border
  border: none;
  @include vp-border-radius(border-radius());

  // misc
  cursor: pointer;
  outline: none;
  @include vp-user-select(none);
  @include vp-transition(transition());
}

%props-button-disabled {

  // colors
  opacity: $opacity-disabled;

  // misc
  cursor: default;
  pointer-events: none;
}

%props-left-floated-button {

  float: left;
  margin-left: 0;
  margin-right: $floated-margin;
}

%props-right-floated-button {

  float: right;
  margin-right: 0;
  margin-left: $floated-margin;
}

/* Color mixins */
%props-button-color {

  // colors
  color: color-text();
  background: button-background();

  // border
  border: border();
}

%props-inverted-button-color {

  // colors
  color: color-text(true);
  background: button-background(true);

  // border
  border: border(true);
}

@mixin props-button-color($inverted) {

  @if not $inverted {
	@extend %props-button-color;
  } @else {
	@extend %props-inverted-button-color;
  }
}

%props-button-color-hover {

  // colors
  color: color-text-hovered();
  background: button-background-hover();

  // border
  border: none;
}

%props-inverted-button-color-hover {

  // colors
  color: color-text-hovered();
  background: button-background-hover(true);

  // border
  border: none;
}

@mixin props-button-color-hover($inverted) {

  @if not $inverted {
	@extend %props-button-color-hover;
  } @else {
	@extend %props-inverted-button-color-hover;
  }
}

%props-button-color-focus {

  // colors
  color: color-text-selected();
  background: button-background-focus();

  // border
  border: none;
}

%props-inverted-button-color-focus {

  // colors
  color: color-text-selected();
  background: button-background-focus(true);

  // border
  border: none;
}

@mixin props-button-color-focus($inverted) {

  @if not $inverted {
	@extend %props-button-color-focus;
  } @else {
	@extend %props-inverted-button-color-focus;
  }
}

%props-button-color-down {

  // colors
  color: color-text-pressed();
  background: button-background-down();

  // border
  border: none;
}

%props-inverted-button-color-down {

  // colors
  color: color-text-pressed();
  background: button-background-down(true);

  // border
  border: none;
}

@mixin props-button-color-down($inverted) {

  @if not $inverted {
	@extend %props-button-color-down;
  } @else {
	@extend %props-inverted-button-color-down;
  }
}

@mixin props-button-color-disabled($inverted) {
}

@mixin props-button-colorize($name, $color, $inverted) {

  // color
  color: color-text(true);
  background: button-background-colorize($color, $inverted);

  // border
  border: border-colorize($color, $inverted);

  @content;
}

@mixin props-button-colorize-hover($name, $color, $inverted) {

  // color
  color: color-text-hovered(true);
  background: button-background-colorize-hover($color, $inverted);

  // border
  border: none;

  @content;
}

@mixin props-button-colorize-focus($name, $color, $inverted) {

  // color
  color: color-text-selected(true);
  background: button-background-colorize-focus($color, $inverted);

  // border
  border: none;

  @content;
}

@mixin props-button-colorize-down($name, $color, $inverted) {

  // color
  color: color-text-pressed(true);
  background: button-background-colorize-down($color, $inverted);

  // border
  border: none;

  @content;
}

@mixin props-button-colorize-disabled($name, $color, $inverted) {

  @content;
}

@mixin props-button() {

  @extend %props-button;

  // colors
  @include props-button-color(false);

  // user content
  @content;
}

@mixin props-button-hover() {

  // colors
  @include props-button-color-hover(false);

  // user content
  @content;
}

@mixin props-button-focus() {

  // colors
  @include props-button-color-focus(false);

  // user content
  @content;
}

@mixin props-button-down() {

  // colors
  @include props-button-color-down(false);

  // user content
  @content;
}

@mixin props-button-disabled() {

  @extend %props-button-disabled;

  // colors
  @include props-button-color-disabled(false);

  @content;
}

/* Inverted button */
@mixin props-inverted-button() {

  // colors
  @include props-button-color(true);

  // user content
  @content;
}

@mixin props-inverted-button-hover() {

  // colors
  @include props-button-color-hover(true);

  // user content
  @content;
}

@mixin props-inverted-button-focus() {

  // colors
  @include props-button-color-focus(true);

  // user content
  @content;
}

@mixin props-inverted-button-down() {

  // colors
  @include props-button-color-down(true);

  // user content
  @content;
}

@mixin props-inverted-button-disabled() {

  // colors
  @include props-button-color-disabled(true);

  @content;
}

/* Do not using placeholders here because of parameters */
@mixin props-size-button($name, $value) {

  font-size: size($name);

  @content;
}

@mixin props-left-floated-button() {

  @extend %props-left-floated-button;

  @content;
}

@mixin props-right-floated-button() {

  @extend %props-right-floated-button;

  @content;
}

/* User mixins */
@mixin user-props-button() {
  @include props-button;
}

@mixin user-props-button-hover() {
  @include props-button-hover;
}

@mixin user-props-button-focus() {
  @include props-button-focus;
}

@mixin user-props-button-down() {
  @include props-button-down;
}

@mixin user-props-button-disabled() {
  @include props-button-disabled;
}

@mixin user-props-inverted-button() {
  @include props-inverted-button;
}

@mixin user-props-inverted-button-hover() {
  @include props-inverted-button-hover;
}

@mixin user-props-inverted-button-focus() {
  @include props-inverted-button-focus;
}

@mixin user-props-inverted-button-down() {
  @include props-inverted-button-down;
}

@mixin user-props-inverted-button-disabled() {
  @include props-inverted-button-disabled;
}

@mixin user-props-size-button($name, $value) {
  @include props-size-button($name, $value);
}

@mixin user-props-left-floated-button() {
  @include props-left-floated-button;
}

@mixin user-props-right-floated-button() {
  @include props-right-floated-button;
}

@mixin user-props-button-colorize($name, $color, $inverted) {
  @include props-button-colorize($name, $color, $inverted);
}

@mixin user-props-button-colorize-hover($name, $color, $inverted) {
  @include props-button-colorize-hover($name, $color, $inverted);
}

@mixin user-props-button-colorize-focus($name, $color, $inverted) {
  @include props-button-colorize-focus($name, $color, $inverted);
}

@mixin user-props-button-colorize-down($name, $color, $inverted) {
  @include props-button-colorize-down($name, $color, $inverted);
}

@mixin user-props-button-colorize-disabled($name, $color, $inverted) {
  @include props-button-colorize-disabled($name, $color, $inverted);
}

@mixin selector-button() {

  /* Button */
  #{selector-ui-button()} {

	@include user-props-button();

	&:hover {
	  @include user-props-button-hover();
	}

	&:focus {
	  @include user-props-button-focus();
	}

	&:active {
	  @include user-props-button-down();
	}

	&.#{$c-disabled},
	&:disabled {
	  @include user-props-button-disabled();
	}
  }
}

@mixin selector-button-colorize($name, $color) {

  #{selector-ui-color-button($name)} {

	@include user-props-button-colorize($name, $color, false);

	&:hover {
	  @include user-props-button-colorize-hover($name, $color, false);
	}

	&:focus {
	  @include user-props-button-colorize-focus($name, $color, false);
	}

	&:active {
	  @include user-props-button-colorize-down($name, $color, false);
	}

	&:disabled,
	&.#{$c-disabled} {
	  @include user-props-button-colorize-disabled($name, $color, false);
	}
  }
}

@mixin selector-inverted-button() {

  /* Inverted Button */
  .#{$c-inverted} > #{selector-ui-button()},
  #{selector-ui-button()}.#{$c-inverted} {

	@include user-props-inverted-button();

	&:hover {
	  @include user-props-inverted-button-hover();
	}

	&:focus {
	  @include user-props-inverted-button-focus();
	}

	&:active {
	  @include user-props-inverted-button-down();
	}

	&.#{$c-disabled},
	&:disabled {
	  @include user-props-inverted-button-disabled();
	}
  }
}

@mixin selector-inverted-button-colorize($name, $color) {

  .#{$c-inverted} > #{selector-ui-color-button($name)},
  #{selector-ui-color-button($name)}.#{$c-inverted} {

	@include user-props-button-colorize($name, $color, true);

	&:hover {
	  @include user-props-button-colorize-hover($name, $color, true);
	}

	&:focus {
	  @include user-props-button-colorize-focus($name, $color, true);
	}

	&:active {
	  @include user-props-button-colorize-down($name, $color, true);
	}

	&:disabled,
	&.#{$c-disabled} {
	  @include user-props-button-colorize-disabled($name, $color, true);
	}
  }
}

@mixin selector-size-button($name, $value) {

  /* Size Button */
  #{selector-ui-size-button($name)} {
	@include user-props-size-button($name, $value);
  }
}

@mixin selector-floated-button() {

  #{selector-ui-button()}.#{$c-floated} {
	@include user-props-left-floated-button;
  }

  #{selector-ui-button()}#{selector-right-floated()} {
	@include user-props-right-floated-button;
  }
}

/* User Selectors */
@mixin user-selector-button() {
  @include selector-button;
}

@mixin user-selector-inverted-button() {
  @include selector-inverted-button;
}

@mixin user-selector-button-colorize($name, $color) {
  @include selector-button-colorize($name, $color);
}

@mixin user-selector-inverted-button-colorize($name, $color) {
  @include selector-inverted-button-colorize($name, $color);
}

@mixin user-selector-size-button($name, $value) {
  @include selector-size-button($name, $value);
}

@mixin user-selector-floated-button() {
  @include selector-floated-button;
}

/* Color Variations */
@mixin user-colorize($name, $color) {

  @include user-selector-button-colorize($name, $color);

  @include user-selector-inverted-button-colorize($name, $color);
}
