/*-------------------
       Floated
--------------------*/

/* Shortcuts */
$left-floated: selector-left-floated();
$right-floated: selector-right-floated();

#{$ui-button-group}#{$left-floated},
#{$ui-button}#{$left-floated} {
  float: left;
  margin-left: 0;
  margin-right: $floated-margin;
}

#{$ui-button-group}#{$right-floated},
#{$ui-button}#{$right-floated} {
  float: right;
  margin-right: 0;
  margin-left: $floated-margin;
}