/* Selectors */
$c-button-group: 'buttons' !default;

@function selector-element-group() {
  @return validate-selector('.#{$c-button-group}');
}

@function selector-ui-group() {
  @return selector-element-group() + selector-element-ui();
}

@function selector-ui-color-group($name, $inverted) {
  @return selector-ui-group() + validate-selector('.#{$name}') + if($inverted, validate-selector('.#{$c-inverted}'), '');
}

@function group-margin() {
  @return $vertical-margin $horizontal-margin 0 0;
}

@function group-button-border($inverted) {
  @return 2px solid color-divider($inverted);
}

@function group-button-border-colorize($name, $color, $inverted) {
  @return 2px solid colorize-divider($color);
}

@mixin props-group-button-color($inverted) {

	// use default button style
	@include props-button-color($inverted);
}

@mixin props-group() {

  // positioning
  display: inline-flex;
  flex-direction: row;

  // text
  // font: font('medium');
  vertical-align: baseline;

  // size
  margin: group-margin();

  // border
  @include vp-border-radius(border-radius());

  /* Clearfix */
  &::after {
	@extend %clearfix;
  }

  // user content
  @content;
}

@mixin props-group-button() {

  // extending placeholder to separate from selector
  @extend %props-button;

  // positioning
  flex: 1 0 auto;

  // size
  margin: 0;

  // colors
  @include props-group-button-color(false);

  // border
  @include vp-border-radius(0);

  &:first-child {
	@include vp-left-border-radius(border-radius());
  }

  &:last-child {
	@include vp-right-border-radius(border-radius());
  }

  // user content
  @content;
}

/* Inverted Group */
@mixin props-inverted-group() {

  // user content
  @content;
}

@mixin props-inverted-group-button() {

  // colors
  @include props-group-button-color(true);

  // user content
  @content;
}

/* Vertical Group modifies Default Group */
@mixin props-vertical-group() {

  // positioning
  flex-direction: column;

  // user content
  @content;
}

/* Vertical Group Button modifies Default Group Button */
@mixin props-vertical-group-button() {

  // positioning
  display: block;

  // border
  @include vp-border-radius(0);

  &:first-child {

	// border
	@include vp-top-border-radius(border-radius());
  }

  &:last-child {

	// border
	@include vp-bottom-border-radius(border-radius());
  }

  // user content
  @content;
}

@mixin props-size-group($name, $value) {

  // user content
  @content;
}

@mixin props-size-group-button($name, $value) {

  // extending selector. cannot extend placeholder with params
  @extend #{selector-ui-size-button($name)};

  // user content
  @content;
}

/* Multiple includes of mixin 'props-number-group' */
%props-number-group {
  display: flex;
}

@mixin props-number-group($index) {

  @extend %props-number-group;

  // user content
  @content;
}

/* Multiple includes od mixin 'props-number-group-button' */
%props-number-group-button {
  flex: 1 1 0;
}

@mixin props-number-group-button($index) {

  @extend %props-number-group-button;

  // user content
  @content;
}

/* Uses same properties as Floated Button */
@mixin props-left-floated-group() {

  @include user-props-left-floated-button;

  // user content
  @content;
}

/* Uses same properties as Floated Button */
@mixin props-right-floated-group() {

  @include user-props-right-floated-button;

  // user content
  @content;
}

/* Colorize */
@mixin props-group-colorize($name, $color) {

  // user content
  @content;
}

@mixin props-group-button-colorize($name, $color) {

  // Extending by selector
  @extend #{selector-ui-color-button($name)};
}

@mixin props-inverted-group-colorize($name, $color) {

  // user content
  @content;
}

@mixin props-inverted-group-button-colorize($name, $color) {

  // Extending by selector
  @extend #{selector-ui-color-button($name)}.#{$c-inverted};
}

/* User mixins */
@mixin user-props-group() {
  @include props-group();
}

@mixin user-props-group-button() {
  @include props-group-button();
}

@mixin user-props-inverted-group() {
  @include props-inverted-group();
}

@mixin user-props-group-button-hover() {
  @include props-button-hover();
}

@mixin user-props-group-button-focus() {
  @include props-button-focus();
}

@mixin user-props-group-button-down() {
  @include props-button-down();
}

@mixin user-props-group-button-disabled() {
  @include props-button-disabled();
}

@mixin user-props-inverted-group-button() {
  @include props-inverted-group-button();
}

@mixin user-props-inverted-group-button-hover() {
  @include props-inverted-button-hover();
}

@mixin user-props-inverted-group-button-focus() {
  @include props-inverted-button-focus();
}

@mixin user-props-inverted-group-button-down() {
  @include props-inverted-button-down();
}

@mixin user-props-inverted-group-button-disabled() {
  @include props-inverted-button-disabled();
}

@mixin user-props-vertical-group() {
  @include props-vertical-group();
}

@mixin user-props-vertical-group-button() {
  @include props-vertical-group-button();
}

@mixin user-props-size-group($name, $value) {
  @include props-size-group($name, $value);
}

@mixin user-props-size-group-button($name, $value) {
  @include props-size-group-button($name, $value);
}

@mixin user-props-number-group($index) {
  @include props-number-group($index);
}

@mixin user-props-number-group-button($index) {
  @include props-number-group-button($index);
}

@mixin user-props-left-floated-group() {
  @include props-left-floated-group;
}

@mixin user-props-right-floated-group() {
  @include props-right-floated-group;
}

@mixin user-props-group-colorize($name, $color) {
  @include props-group-colorize($name, $color);
}

@mixin user-props-group-button-colorize($name, $color) {
  @include props-group-button-colorize($name, $color);
}

@mixin user-props-inverted-group-colorize($name, $color) {
  @include props-inverted-group-colorize($name, $color);
}

@mixin user-props-inverted-group-button-colorize($name, $color) {
  @include props-inverted-group-button-colorize($name, $color);
}

/* Group */
@mixin selector-group() {

  #{selector-ui-group()} {

	@include user-props-group();

	/* Group Button Type */
	> .#{$c-button} {

	  @include user-props-group-button();

	  // States
	  &:hover {
		@include user-props-group-button-hover();
	  }

	  &:focus {
		@include user-props-group-button-focus();
	  }

	  &:active {
		@include user-props-group-button-down();
	  }

	  &.#{$c-disabled},
	  &:disabled {
		@include user-props-group-button-disabled();
	  }
	}
  }
}

@mixin selector-inverted-group() {

  .#{$c-inverted} > #{selector-ui-group()},
  #{selector-ui-group()}.#{$c-inverted} {

	@include user-props-inverted-group();

	/* Group Button Type */
	> .#{$c-button} {

	  @include user-props-inverted-group-button();

	  // States
	  &:hover {
		@include user-props-inverted-group-button-hover();
	  }

	  &:focus {
		@include user-props-inverted-group-button-focus();
	  }

	  &:active {
		@include user-props-inverted-group-button-down();
	  }

	  &.#{$c-disabled},
	  &:disabled {
		@include user-props-inverted-group-button-disabled();
	  }
	}
  }
}

/* Vertical Group */
@mixin selector-vertical-group() {

  #{selector-ui-group()}.#{$c-vertical} {

	@include user-props-vertical-group();

	/* Group Button Type */
	> .#{$c-button} {

	  @include user-props-vertical-group-button();
	}
  }
}

/* Sizes Variation */
@mixin selector-size-group($name, $value) {

  #{selector-ui-group()}.#{$name} {

	@include user-props-size-group($name, $value);

	> .#{$c-button} {
	  @include user-props-size-group-button($name, $value);
	}
  }
}

/* Numbers */
@mixin selector-number-group($i) {

  #{selector-ui-group()}:not(.#{$c-vertical}).#{number-name($i)} {

	@include user-props-number-group($i);

	> .#{$c-button} {
	  @include user-props-number-group-button($i)
	}
  }
}

/* Floated Group Variation */
@mixin selector-floated-group() {

  #{selector-ui-group()}.#{$c-floated} {

	@include user-props-left-floated-group;
  }

  #{selector-ui-group()}#{selector-right-floated()} {

	@include user-props-right-floated-group;
  }
}

/* Colored Group */
@mixin selector-group-colorize($name, $color) {

  #{selector-ui-group()}.#{$name} {
	@include props-group-colorize($name, $color);
  }
}

/* Colored Group Button */
@mixin selector-group-button-colorize($name, $color) {

  #{selector-ui-group()}.#{$name} > .#{$c-button},
  #{selector-ui-group()} > .#{$c-button}.#{$name} {
	@include user-props-group-button-colorize($name, $color);
  }
}

/* Inverted Colored Group */
@mixin selector-inverted-group-colorize($name, $color) {

  .#{$c-inverted} > #{selector-ui-group()}.#{$name},
  #{selector-ui-group()}.#{$name}.#{$c-inverted} {
	@include user-props-inverted-group-colorize($name, $color);
  }
}

@mixin selector-inverted-group-button-colorize($name, $color) {

  .#{$c-inverted} > #{selector-ui-group()}.#{$name} > .#{$c-button},
  .#{$c-inverted} > #{selector-ui-group()} > .#{$c-button}.#{$name},
  #{selector-ui-group()}.#{$name}.#{$c-inverted} > .#{$c-button},
  #{selector-ui-group()}.#{$c-inverted} > .#{$c-button}.#{$name} {
	@include user-props-inverted-group-button-colorize($name, $color);
  }
}

@mixin user-selector-group {
  @include selector-group;
}

@mixin user-selector-inverted-group {
  @include selector-inverted-group;
}

@mixin user-selector-vertical-group {
  @include selector-vertical-group;
}

@mixin user-selector-size-group($name, $value) {
  @include selector-size-group($name, $value);
}

@mixin user-selector-number-group($i) {
  @include selector-number-group($i);
}

@mixin user-selector-floated-group {
  @include selector-floated-group;
}

@mixin user-selector-group-colorize($name, $color) {
  @include selector-group-colorize($name, $color);
}

@mixin user-selector-inverted-group-colorize($name, $color) {
  @include selector-inverted-group-colorize($name, $color);
}

@mixin user-selector-group-button-colorize($name, $color) {
  @include selector-group-button-colorize($name, $color);
}

@mixin user-selector-inverted-group-button-colorize($name, $color) {
  @include selector-inverted-group-button-colorize($name, $color);
}

@mixin user-group-colorize($name, $color) {

  /* Colored Group */
  @include user-selector-group-colorize($name, $color);

  /* Colored Group Button */
  @include user-selector-group-button-colorize($name, $color);

  /* Inverted Colored Group */
  @include user-selector-inverted-group-colorize($name, $color);

  /* Inverted Colored Group Button */
  @include user-selector-inverted-group-button-colorize($name, $color);
}
