/* Inverted */
#{$ui-button}.#{$c-inverted} {

  color: $color-light;
  background: transparent none;

  /* Hover */
  &:hover {
	color: $hover-color;
	background: $color-light;
  }

  /* Active / Focus */
  &:focus,
  &.#{$c-active} {
	color: $focus-color;
	background: $color-light;
  }

  /* Active Focus */
  &.#{$c-active}:focus {
	color: $focus-color;
	background: $color-mid;
  }
}

#{$ui-button-group}.#{$c-inverted} {

  .#{$c-button} {
	margin: $inverted-group-button-offset;

	&:first-child {
	  margin-left: 0;
	}
  }

  &.#{$c-vertical} .#{$c-button} {
	margin: $inverted-vertical-group-button-offset;

	&:first-child {
	  margin-top: 0;
	}
  }
}