/* Inverted */
#{$ui-button}.#{$c-inverted} {

  box-shadow: 0 0 0 $inverted-border-size $color-light inset !important;
  background: transparent none;
  color: $color-light;
  text-shadow: none !important;

  /* Hover */
  &:hover {
	background: $color-light;
	box-shadow: 0 0 0 $inverted-border-size $color-light inset !important;
	color: $hover-color;
  }

  /* Active / Focus */
  &:focus,
  &.#{$c-active} {
	background: $color-light;
	box-shadow: 0 0 0 $inverted-border-size $color-light inset !important;
	color: $focus-color;
  }

  /* Active Focus */
  &.#{$c-active}:focus {
	background: $color-mid;
	box-shadow: 0 0 0 $inverted-border-size $color-mid inset !important;
	color: $focus-color;
  }
}

#{$ui-button-group}.#{$c-inverted} {

  .#{$c-button} {
	margin: $inverted-group-button-offset;

	&:first-child {
	  margin-left: 0;
	}
  }

  &.#{$c-vertical} .#{$c-button} {
	margin: $inverted-vertical-group-button-offset;

	&:first-child {
	  margin-top: 0;
	}
  }
}