/*--------------
    Loading
---------------*/

@mixin _button-loading() {

  // positioning
  position: relative;

  // text
  text-shadow: none;

  // color
  color: transparent;
  opacity: 1;

  // misc
  cursor: default;
  pointer-events: auto;
  @include vp-transition(loading-transition());

  &::before {
	@include loader($inverted-loader-line-color,
			$inverted-loader-fill-color,
			$loader-size,
			$loader-line-width
	);
  }
}
