/*--------------
     Toggle
---------------*/

/* Toggle (Modifies active state to give affordances) */
#{$ui-group}.#{$c-toggle} .#{$c-button}.#{$c-active},
#{$ui-group} .#{$c-button}.#{$c-toggle}.#{$c-active},
#{$ui-button}.#{$c-toggle}.#{$c-active} {
  background-color: color-info('positive') !important;
  box-shadow: none !important;
  text-shadow: color-shadow(color-text($inverted: true));
  color: color-text($inverted: true) !important;

  &:hover {
	background-color: color-hover(color-info('positive')) !important;
	text-shadow: color-shadow(color-text($inverted: true));
	color: color-text($inverted: true) !important;
  }
}
