/* Shortcuts */
$ui-button: selector-ui-button();
$ui-button-group: selector-ui-button-group();

#{$ui-button-group} > #{$c-button},
#{$ui-button} {

  display: inline-block;

  color: color-text();
  background: background();

  margin: 0 $horizontal-margin $vertical-margin 0;
  padding: $vertical-padding $horizontal-padding $vertical-padding;
  border: none;
  border-radius: $border-radius;
  min-height: 1em;

  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: $text-transform;

  box-shadow: box-shadow();

  vertical-align: $vertical-align;
  cursor: pointer;
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  transition: $transition;

  //-webkit-tap-highlight-color: $tap-color;

  &:hover {
	color: color-text-hovered();
	background: background-hover();
  }

  &:focus {
	color: color-text-selected();
	background: background-focus();
  }

  &:active {
	color: color-text-pressed();
	background: background-down();
  }

  &.#{$c-active} {
	color: color-text-selected();
	background: background-active();

	/*&:hover {
	  color: $active-hover-color;
	  background-color: $active-hover-background-color;
	}*/

	/*&:active {
	  color: $down-color;
	  background-color: $down-background-color;
	}*/
  }

  &.#{$c-disabled},
  &:disabled {
	cursor: default;
	opacity: $opacity-disabled;
	pointer-events: none;
  }

  /* Inverted */
  &.#{$c-inverted} {

	color: color-text(true);
	background: background(true);
	box-shadow: box-shadow(true);

	&:hover {
	  color: color-text-hovered();
	  background: background-hover(true);
	  box-shadow: none;
	}

	&:focus {
	  color: color-text-selected();
	  background: background-focus(true);
	  box-shadow: none;
	}

	&:active {
	  color: color-text-pressed();
	  background: background-down(true);
	  box-shadow: none;
	}

	&.#{$c-active} {
	  color: color-text-selected();
	  background: background-active(true);
	  box-shadow: none;
	}
  }
}

/*-------------------
	Group
--------------------*/

#{$ui-button-group} {

  display: inline-flex;
  flex-direction: row;
  vertical-align: baseline;
  margin: $vertical-margin $horizontal-margin 0 0;

  /* Clearfix */
  &::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  }

  /* Standard Group */
  > .#{$c-button} {
	flex: 1 0 auto;
	border-radius: 0;
	margin: 0;

	&:first-child {
	  border-top-left-radius: $border-radius;
	  border-bottom-left-radius: $border-radius;
	}

	&:last-child {
	  border-top-right-radius: $border-radius;
	  border-bottom-right-radius: $border-radius;
	}
  }

  &:not(.#{$c-basic}):not(.#{$c-inverted}) {
  }

  /*> .#{$c-button}:not(.#{$c-basic}):not(.#{$c-inverted}),
  &:not(.#{$c-basic}):not(.#{$c-inverted}) > .#{$c-button} {
	box-shadow: $group-button-box-shadow;
  }*/
}

/* Vertical  Style */
#{$ui-button-group}.#{$c-vertical} {

  flex-direction: column;

  > .#{$c-button} {
	display: block;
	width: 100%;
	border-radius: 0;

	&:first-child {
	  border-top-left-radius: $border-radius;
	  border-top-right-radius: $border-radius;
	}

	&:last-child {
	  border-bottom-left-radius: $border-radius;
	  border-bottom-right-radius: $border-radius;
	}
  }
}

/* Numbers */
@for $i from 2 through 12 {

  #{$ui-button-group}.#{number-name($i)} {
	width: 100%;

	> .#{$c-button} {
	  width: (100% / $i);
	}

	&.#{$c-vertical} > .#{$c-button} {
	  height: (100% / $i);
	}
  }
}

//@import "animated";
//@import "attached";
@import "basic";
//@import "circular";
@import "colors";
//@import "compact";
//@import "disabled";
//@import "floated";
//@import "fluid";
//@import "icon-labeled";
//@import "loading";
//@import "or";
@import "sizes";
//@import "toggle";







