/*-------------------
       Element
--------------------*/

/* Button */
$vertical-margin: 0;
$horizontal-margin: 0.25em;
$background: $color-light;
$line-height: 1;

/* Button defaults to using same height as input globally */
$vertical-padding: $input-vertical-padding;
$horizontal-padding: 1.5em;

/* Text */
$text-transform: none;
$tap-color: transparent;
$font-family: $font-family;
$font-weight: bold;
$text-shadow: none;
$inverted-text-shadow: $text-shadow;
$border-radius: unit-rem($border-radius-default);
$vertical-align: baseline;

/* Colors */
$bg-base-color: $color-mid;
$text-base-color: $color-darker;

/* Icon */
$icon-height: size('tiny');
$icon-opacity: 0.8;
$icon-distance: px-em(6);
$icon-color: $color-mid;
$icon-transition: opacity $duration-default $easing-default;
$icon-vertical-align: middle;

$icon-margin: 0 $icon-distance 0 -($icon-distance / 2);
$right-icon-margin: 0 -($icon-distance / 2) 0 $icon-distance;

/* Loader */
$inverted-loader-fill-color: rgba(0, 0, 0, 0.15);

$transition:
opacity $duration-default $easing-default,
background-color $duration-default $easing-default,
color $duration-default $easing-default,
box-shadow $duration-default $easing-default,
background $duration-default $easing-default
;

/*-------------------
        Group
--------------------*/

$group-button-offset: 0 0 0 0;
$vertical-group-offset: 0 0 0 0;

/*-------------------
        States
--------------------*/

/* Hovered */
$hover-background-color: #CACBCD;
$icon-hover-opacity: 0.85;

/* Focused */
$focus-background-color: $hover-background-color;
$icon-focus-opacity: 0.85;

/* Disabled */

/* Pressed Down */
$down-background-color: #BABBBC;
$down-pressed-shadow: none;
$down-color: color-text-pressed();

/* Active */
$active-background-color: #C0C1C2;
$active-color: color-text-selected();

/* Active + Hovered */
$active-hover-background-color: $active-background-color;
$active-hover-color: $active-color;

/* Loading */
$loading-opacity: 1;
$loading-pointer-events: auto;
$loading-transition:
all 0s linear,
opacity $duration-default $easing-default
;

/*-------------------
        Types
--------------------*/

/* Or */
$or-text: 'or';

$or-gap: 0.3em;
$or-height: ($vertical-padding * 2) + 1em;
$or-z-index: 3;

$or-circle-distance-to-edge: ($vertical-padding);
$or-circle-size: $or-height - $or-circle-distance-to-edge;
$or-line-height: ($or-circle-size);

$or-vertical-offset: -($or-circle-size / 2);
$or-horizontal-offset: -($or-circle-size / 2);

$or-background-color: $color-light;
$or-text-shadow: $inverted-text-shadow;
$or-text-style: normal;
$or-text-weight: bold;
$or-text-color: color-light(color-text());


$or-spacer-height: $vertical-padding;
$or-spacer-color: transparent;

/* Icon */
$icon-button-opacity: 0.9;

/* Labeled */
$labeled-label-font-size: size('medium');
$labeled-label-align: center;
$labeled-label-padding: 0;
$labeled-label-border-color: color-divider();
$labeled-tag-label-size: 1.85em; /* hypotenuse of triangle */
$labeled-icon-margin: 0;

/* Labeled Icon */
$labeled-icon-width: 1em + ($vertical-padding * 2);
$labeled-icon-background-color: rgba(0, 0, 0, 0.05);
$labeled-icon-padding: ($horizontal-padding + $labeled-icon-width);
$labeled-icon-border: transparent;
$labeled-icon-color: $color-mid;

$labeled-icon-left-shadow: -1px 0 0 0 $labeled-icon-border inset;
$labeled-icon-right-shadow: 1px 0 0 0 $labeled-icon-border inset;


/* Inverted */
$inverted-border-size: 2px;
$inverted-text-color: color-text($inverted: true);
$inverted-group-button-offset: 0 0 0 -($inverted-border-size);
$inverted-vertical-group-button-offset: 0 0 -($inverted-border-size) 0;

/* Basic */
$basic-border-radius: $border-radius;
$basic-border-size: 1px;
$basic-colored-border-size: 1px;

$basic-background: transparent none;
$basic-font-weight: normal;
$basic-border: 1px solid color-divider();
$basic-loading-color: $color-mid;
$basic-text-transform: none;


/* Basic Inverted */
$basic-inverted-background: transparent;
$basic-inverted-focus-background: transparent;
$basic-inverted-down-background: color-transparent($color-light);
$basic-inverted-active-background: color-transparent($color-light);

$basic-inverted-color: $color-mid;
$basic-inverted-hover-color: color-hover($color-mid);
$basic-inverted-down-color: color-active($color-light);
$basic-inverted-active-color: color-text($inverted: true);


/* Basic Group */
$basic-group-border: $basic-border-size solid color-divider();

/*-------------------
      Variations
--------------------*/

/* Colors */

/* Colored */
$color-text: color-text($inverted: true);
$color-text-shadow: color-shadow(color-text($inverted: true));

/* Inverted */
$light-color-text: color-text($inverted: true);
$light-color-text-shadow: color-shadow(color-text($inverted: true));

/* Compact */
$compact-vertical-padding: ($vertical-padding * 0.75);
$compact-horizontal-padding: ($horizontal-padding * 0.75);

/* Attached */
$attached-offset: -1px;
$attached-horizontal-padding: 0.75em;
$attached-z-index: 2;

/* Floated */
$floated-margin: 0.25em;

/* Animated */
$animated-vertical-align: middle;
$animated-z-index: 1;
$animation-duration: 0.3s;
$animation-easing: ease;
$fade-scale-high: 1.5;
$fade-scale-low: 0.75;



$auto-include-colors-info: true;
