/*-------------------
       Element
--------------------*/

/* Button */
$vertical-margin: 0;
$horizontal-margin: 0.25rem;

/* Button defaults to using same height as input globally */
$vertical-padding: $input-vertical-padding;
$horizontal-padding: 1.5em;

/* Text */
$font-family: $font-family;
$font-weight: bold;
$line-height: 1;
$text-transform: none;
$vertical-align: baseline;
$border-radius: unit-rem($border-radius-default);

/* Transition */
$transition: opacity $duration-default $easing-default,
background-color $duration-default $easing-default,
color $duration-default $easing-default,
box-shadow $duration-default $easing-default,
background $duration-default $easing-default;

/* Background */
@function background($inverted: false) {
  @return #E0E1E2;
}

@function background-hover($inverted: false) {
  @return #CACBCD;
}

@function background-focus($inverted: false) {
  @return #CACBCD;
}

@function background-down($inverted: false) {
  @return #BABBBC;
}

@function background-active($inverted: false) {
  @return #C0C1C2;
}

@function background-active-hover($inverted: false) {
  @return #C0C1C2;
}

@function background-colorize($color) {
  @return $color;
}

@function background-colorize-hover($color) {
  @return color-hover($color);
}

@function background-colorize-focus($color) {
  @return color-focus($color);
}

@function background-colorize-down($color) {
  @return color-down($color);
}

@function background-colorize-active($color) {
  @return color-active($color);
}

@function background-colorize-active-hover($color) {
  @return color-hover($color);
}

/* Background Basic */
@function basic-background($inverted: false) {
  @return transparent none;
}

/* Shadows */
@function box-shadow($inverted: false) {
  @return none;
}

@function box-shadow-hover($inverted: false) {
  @return none;
}

@function box-shadow-focus($inverted: false) {
  @return none;
}

@function text-shadow($inverted: false) {
  @return none;
}

/* Basic Box Shadows */
$basic-box-shadow-border: box-shadow-create(0, 0, 0, 1px, true);
$basic-box-shadow-blur: box-shadow-create(0, 0, 4px);
@function basic-box-shadow($inverted: false) {
  @return box-shadow-colorize($basic-box-shadow-border, color-divider($inverted));
}

@function basic-box-shadow-colorize($color) {
  @return box-shadow-colorize($basic-box-shadow-border, $color);
}

/* Icon */
$icon-height: size('tiny');
$icon-opacity: 0.8;
$icon-distance: px-em(6);
$icon-transition: opacity $duration-default $easing-default;
$icon-vertical-align: middle;

$icon-margin: 0 $icon-distance 0 -($icon-distance / 2);
$right-icon-margin: 0 -($icon-distance / 2) 0 $icon-distance;

/* Loader */
$inverted-loader-fill-color: rgba(0, 0, 0, 0.15);

/* Loading */
$loading-opacity: 1;
$loading-pointer-events: auto;
$loading-transition: all 0s linear,
opacity $duration-default $easing-default;

/*-------------------
        Group
--------------------*/

$group-button-offset: 0 0 0 0;
$vertical-group-offset: 0 0 0 0;

/*-------------------
        Types
--------------------*/

/* Basic */
$basic-border: 1px solid color-divider();
$basic-border-radius: $border-radius;

$basic-font-weight: normal;
$basic-text-transform: none;

/* Basic Inverted */
$basic-inverted-color: $color-mid;
$basic-inverted-hover-color: color-hover($color-mid);
$basic-inverted-down-color: color-active($color-light);
$basic-inverted-active-color: color-text($inverted: true);

$basic-inverted-background: transparent;
$basic-inverted-focus-background: transparent;
$basic-inverted-down-background: color-transparent($color-light);
$basic-inverted-active-background: color-transparent($color-light);

/* Basic Group */
$basic-group-border: $basic-border;

/* Or */
$or-text: 'or';

$or-gap: 0.3em;
$or-height: ($vertical-padding * 2) + 1em;
$or-z-index: 3;

$or-circle-distance-to-edge: ($vertical-padding);
$or-circle-size: $or-height - $or-circle-distance-to-edge;
$or-line-height: ($or-circle-size);

$or-vertical-offset: -($or-circle-size / 2);
$or-horizontal-offset: -($or-circle-size / 2);

$or-background-color: $color-light;
$or-text-shadow: text-shadow($inverted: true);
$or-text-style: normal;
$or-text-weight: bold;
$or-text-color: color-light(color-text());

$or-spacer-height: $vertical-padding;
$or-spacer-color: transparent;

/* Icon */
$icon-button-opacity: 0.9;

/* Labeled */
$labeled-label-font-size: size('medium');
$labeled-label-align: center;
$labeled-label-padding: 0;
$labeled-label-border-color: color-divider();
$labeled-tag-label-size: 1.85em; /* hypotenuse of triangle */
$labeled-icon-margin: 0;

/* Labeled Icon */
$labeled-icon-width: 1em + ($vertical-padding * 2);
$labeled-icon-background-color: rgba(0, 0, 0, 0.05);
$labeled-icon-padding: ($horizontal-padding + $labeled-icon-width);
$labeled-icon-border: transparent;
$labeled-icon-color: $color-mid;

$labeled-icon-left-shadow: -1px 0 0 0 $labeled-icon-border inset;
$labeled-icon-right-shadow: 1px 0 0 0 $labeled-icon-border inset;

/* Inverted */
$inverted-border-size: 2px;
$inverted-text-color: color-text($inverted: true);
$inverted-group-button-offset: 0 0 0 -($inverted-border-size);
$inverted-vertical-group-button-offset: 0 0 -($inverted-border-size) 0;

/*-------------------
      Variations
--------------------*/

/* Compact */
$compact-vertical-padding: ($vertical-padding * 0.75);
$compact-horizontal-padding: ($horizontal-padding * 0.75);

/* Attached */
$attached-offset: -1px;
$attached-horizontal-padding: 0.75em;
$attached-z-index: 2;

/* Floated */
$floated-margin: 0.25em;

/* Animated */
$animated-vertical-align: middle;
$animated-z-index: 1;
$animation-duration: 0.3s;
$animation-easing: ease;
$fade-scale-high: 1.5;
$fade-scale-low: 0.75;

$auto-include-colors-info: true;
