/* Selectors */
$c-button: 'button' !default;

@function selector-element-button() {
  @return validate-selector('.#{$c-button}');
}

@function selector-ui-button() {
  @return selector-element-button() + selector-element-ui();
}

@function selector-ui-size-button($name) {
  @return selector-ui-button() + validate-selector('.#{$name}');
}

@function selector-ui-color-button($name) {
  @return selector-ui-button() + validate-selector('.#{$name}');
}

/* Button */
$display: inline-block;

$vertical-margin: 0;
$horizontal-margin: 0.25rem;

@function margin() {
  @return 0 $horizontal-margin $vertical-margin 0
}

/* Button defaults to using same height as input globally */
$vertical-padding: $input-vertical-padding;
$horizontal-padding: 1.5em;

@function padding() {
  @return $vertical-padding $horizontal-padding $vertical-padding;
}

/* Text */
@function font($size-name) {
  @return bold #{size($size-name)}/#{line-height()} font-family();
}

$text-transform: none;
$vertical-align: baseline;
@function border-radius() {
  @return unit-rem($border-radius-default);
}

@function border($inverted: false) {
  @return if($inverted, 2px solid color-divider($inverted), none);
}

@function border-colorize($color, $inverted: false) {
  @return if($inverted, 2px solid colorize-divider($color), none);
}

/* Background */
@function button-background($inverted: false) {
  @return if($inverted, transparent, #E0E1E2);
}

@function button-background-hover($inverted: false) {
  @return #CACBCD;
}

@function button-background-focus($inverted: false) {
  @return #CACBCD;
}

@function button-background-down($inverted: false) {
  @return #BABBBC;
}

@function button-background-active($inverted: false) {
  @return #C0C1C2;
}

@function button-background-active-hover($inverted: false) {
  @return #C0C1C2;
}

@function button-background-colorize($color, $inverted: false) {
  @return if($inverted, transparent, $color);
}

@function button-background-colorize-hover($color, $inverted: false) {
  @return color-hover($color);
}

@function button-background-colorize-focus($color, $inverted: false) {
  @return color-focus($color);
}

@function button-background-colorize-down($color, $inverted: false) {
  @return color-down($color);
}

@function button-background-colorize-active($color, $inverted: false) {
  @return color-active($color);
}

@function button-background-colorize-active-hover($color, $inverted: false) {
  @return color-hover($color);
}

/* Shadows */
$inverted-box-shadow-border: box-shadow-create(0, 0, 0, 2px, true);
@function button-box-shadow($inverted: false) {
  @return if($inverted,
		  box-shadow-colorize($inverted-box-shadow-border, color-divider($inverted)),
		  none);
}

@function button-box-shadow-colorize($color, $inverted: false) {
  @return if($inverted,
		  box-shadow-colorize($inverted-box-shadow-border, colorize-divider($color)),
		  none);
}

/* Transition */
@function transition() {
  @return opacity $duration-default $easing-default,
  background-color $duration-default $easing-default,
  color $duration-default $easing-default,
  box-shadow $duration-default $easing-default,
  background $duration-default $easing-default;
}

@function loading-transition() {
  @return opacity $duration-default $easing-default;
}

/* Icon */
$icon-height: size('tiny');
$icon-opacity: 0.8;
$icon-distance: px-em(6);
$icon-transition: opacity $duration-default $easing-default;
$icon-vertical-align: middle;

$icon-margin: 0 $icon-distance 0 ($icon-distance * -0.5);
$right-icon-margin: 0 ($icon-distance * -0.5) 0 $icon-distance;

/* Loader */
$inverted-loader-fill-color: rgba(0, 0, 0, 0.15);

/*-------------------
        Types
--------------------*/

/* Icon */
$icon-button-opacity: 0.9;

/* Labeled */
$labeled-label-font-size: size('medium');
$labeled-label-align: center;
$labeled-label-padding: 0;
$labeled-label-border-color: color-divider();
$labeled-tag-label-size: 1.85em; /* hypotenuse of triangle */
$labeled-icon-margin: 0;

/* Labeled Icon */
$labeled-icon-width: 1em + ($vertical-padding * 2);
$labeled-icon-background-color: rgba(0, 0, 0, 0.05);
$labeled-icon-padding: ($horizontal-padding + $labeled-icon-width);
$labeled-icon-border: transparent;
$labeled-icon-color: $color-mid;

$labeled-icon-left-shadow: -1px 0 0 0 $labeled-icon-border inset;
$labeled-icon-right-shadow: 1px 0 0 0 $labeled-icon-border inset;

/*-------------------
      Variations
--------------------*/

/* Attached */
$attached-offset: -1px;
$attached-horizontal-padding: 0.75em;
$attached-z-index: 2;

/* Floated */
$floated-margin: 0.25em;

/* Animated */
$animated-vertical-align: middle;
$animated-z-index: 1;
$animation-duration: 0.3s;
$animation-easing: ease;
$fade-scale-high: 1.5;
$fade-scale-low: 0.75;

$auto-include-colors-info: true;

@import "default-vars";
@import "group-vars";
//@import "circular-vars";
