/*--------------
    Floated
---------------*/

/* Shortcuts */
$right-floated: selector-right-floated();

#{$ui-statistic}.#{$c-floated} {
  float: left;
  margin: $left-floated-margin;

  &:last-child {
	margin-bottom: 0;
  }
}

#{$ui-statistic}#{$right-floated} {
  float: right;
  margin: $right-floated-margin;
}