/*--------------
   Horizontal
---------------*/

#{$ui-statistic}.#{$c-horizontal} {
  flex-direction: row;
  align-items: center;
}

#{$ui-statistic-group}.#{$c-horizontal} {
  flex-direction: column;
  margin: 0;
  max-width: none;

  .#{$c-statistic} {
	flex-direction: row;
	align-items: center;
	max-width: none;
	margin: $horizontal-group-element-margin;
  }
}

#{$ui-statistic-group}.#{$c-horizontal} > .#{$c-statistic},
#{$ui-statistic}.#{$c-horizontal} {

  > .#{$c-value} {
	display: inline-block;
	vertical-align: middle;
  }

  > .#{$c-value}.#{$c-text} {
	min-height: 0 !important;
  }

  > .#{$c-value} .#{$c-icon} {
	width: $icon-width;
  }

  > .#{$c-label} {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 $horizontal-label-distance;
  }
}