/*--------------
     Sizes
---------------*/

@each $name, $size in $sizes {

  #{$ui-statistic-group}.#{$name} > .#{$c-statistic},
  #{$ui-statistic}.#{$name} {

	> .#{$c-value} {
	  font-size: $mini-value-size !important;
	}

	> .#{$c-value}.#{$c-value} {
	  font-size: $mini-text-value-size !important;
	}
  }

  #{$ui-statistic-group}.#{$name}.#{$c-horizontal} > .#{$c-statistic},
  #{$ui-statistic}.#{$name}.#{$c-horizontal} {

	> .#{$c-value} {
	  font-size: $mini-horizontal-value-size !important;
	}
  }
}