/*--------------
      Value
---------------*/

#{$ui-statistic-group} .#{$c-statistic},
#{$ui-statistic} {

  /* Value */
  > .#{$c-value} {
	font-family: $value-font;
	font-size: $value-size;
	font-weight: $value-font-weight;
	line-height: $value-line-height;
	color: $value-color;
	text-transform: $value-text-transform;
	text-align: $text-align;
  }

  /* Label */
  > .#{$c-label} {
	font-family: $label-font;
	font-size: $label-size;
	font-weight: $label-font-weight;
	color: $label-color;
	text-transform: $label-text-transform;
	text-align: $text-align;
  }

  /* Top Label */
  > .#{$c-label} ~ .#{$c-value} {
	margin-top: $top-label-distance;
  }

  /* Bottom Label */
  > .#{$c-value} ~ .#{$c-label} {
	margin-top: $bottom-label-distance;
  }

  /* Icon Value */
  > .#{$c-value} .#{$c-icon} {
	opacity: 1;
	width: auto;
	margin: 0;
  }

  /* Text Value */
  .#{$c-value}.#{$c-text} {
	line-height: $text-value-line-height;
	min-height: $text-value-min-height;
	font-weight: $text-value-font-weight;
	text-align: center;
  }

  /* Label after Text Value */
  > .#{$c-value}.#{$c-text} + .#{$c-label} {
	text-align: center;
  }

  /* Image Value */
  > .#{$c-value} img {
	max-height: $image-height;
	vertical-align: $image-vertical-align;
  }
}