/*--------------
      Value
---------------*/

.ui.statistics .statistic > .value,
.ui.statistic > .value {
  font-family: $value-font;
  font-size: $value-size;
  font-weight: $value-font-weight;
  line-height: $value-line-height;
  color: $value-color;
  text-transform: $value-text-transform;
  text-align: $text-align;
}

/*--------------
     Label
---------------*/

.ui.statistics .statistic > .label,
.ui.statistic > .label {
  font-family: $label-font;
  font-size: $label-size;
  font-weight: $label-font-weight;
  color: $label-color;
  text-transform: $label-text-transform;
  text-align: $text-align;
}

/* Top Label */
.ui.statistics .statistic > .label ~ .value,
.ui.statistic > .label ~ .value {
  margin-top: $top-label-distance;
}

/* Bottom Label */
.ui.statistics .statistic > .value ~ .label,
.ui.statistic > .value ~ .label {
  margin-top: $bottom-label-distance;
}

/*--------------
   Icon Value
---------------*/

.ui.statistics .statistic > .value .icon,
.ui.statistic > .value .icon {
  opacity: 1;
  width: auto;
  margin: 0;
}

/*--------------
   Text Value
---------------*/

.ui.statistics .statistic > .text.value,
.ui.statistic > .text.value {
  line-height: $text-value-line-height;
  min-height: $text-value-min-height;
  font-weight: $text-value-font-weight;
  text-align: center;
}

.ui.statistics .statistic > .text.value + .label,
.ui.statistic > .text.value + .label {
  text-align: center;
}

/*--------------
   Image Value
---------------*/

.ui.statistics .statistic > .value img,
.ui.statistic > .value img {
  max-height: $image-height;
  vertical-align: $image-vertical-align;
}