/* Shortcuts */
$ui-statistic: selector-ui-statistic();
$ui-statistic-group: selector-ui-statistic-group();

/* Standalone */
#{$ui-statistic} {
  display: inline-flex;
  flex-direction: column;
  margin: $margin;
  max-width: $max-width;

  &:first-child {
	margin-top: 0;
  }

  &:last-child {
	margin-bottom: 0;
  }

  + .#{$c-statistic} {
	margin: 0 0 0 $horizontal-spacing;
  }
}

/* Grouped */
#{$ui-statistic-group} {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: $group-margin;

  /* Clearing */
  &::after {
	display: block;
	content: ' ';
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
  }

  &:first-child {
	margin-top: 0;
  }

  &:last-child {
	margin-bottom: 0;
  }

  > .#{$c-statistic} {
	display: inline-flex;
	flex: 0 1 auto;
	flex-direction: column;
	margin: $element-margin;
	max-width: $element-max-width;
  }
}

/*--------------
      Count
---------------*/

@for $i from 1 through 10 {

  #{$ui-statistic-group}.#{number-name($i)} {
	margin: $item-group-margin;

	.#{$c-statistic} {
	  min-width: column($i);
	  margin: $item-margin;
	}
  }
}