/*--------------
     Content
---------------*/

#{$ui-item-group} > .#{$c-item} {

  > .#{$c-content} {
	display: block;
	flex: 1 1 auto;
	background: $content-background;
	margin: $content-margin;
	padding: $content-padding;
	box-shadow: $content-box-shadow;
	font-size: $content-font-size;
	border: $content-border;
	border-radius: $content-border-radius;

	&::after {
	  display: block;
	  content: ' ';
	  height: 0;
	  clear: both;
	  overflow: hidden;
	  visibility: hidden;
	}

	> .#{$c-header} {
	  display: inline-block;
	  margin: $header-margin;
	  font-family: $heading-font-family;
	  font-weight: $header-font-weight;
	  color: $header-color;
	}

	/* Default Header Size */
	> .#{$c-header}:not(.#{$c-ui}) {
	  font-size: $header-font-size;
	}

	img {
	  align-self: $content-image-vertical-align;
	  width: $content-image-width;
	}

	p {
	  margin: 0 0 $paragraph-distance;

	  &:last-child {
		margin-bottom: 0;
	  }
	}

	> .#{$c-description} {
	  margin-top: $description-distance;
	  max-width: $description-max-width;
	  font-size: $description-font-size;
	  line-height: $description-line-height;
	  color: $description-color;
	}
  }

  > .#{$c-image} + .#{$c-content} {
	min-width: 0;
	width: $content-width;
	display: $content-display;
	margin-left: $content-offset;
	align-self: $content-vertical-align;
	padding-left: $content-image-distance;
  }

  img.#{$c-avatar},
  .#{$c-avatar} img {
	width: $avatar-size;
	height: $avatar-size;
	border-radius: $avatar-border-radius;
  }
}