/*----------------
  Extra Content
-----------------*/

.ui.items > .item .extra {
  display: $extra-display;
  position: $extra-position;
  background: $extra-background;
  margin: $extra-margin;
  width: $extra-width;
  padding: $extra-padding;
  top: $extra-top;
  left: $extra-left;
  color: $extra-color;
  box-shadow: $extra-box-shadow;
  transition: $extra-transition;
  border-top: $extra-divider;
}

.ui.items > .item .extra > * {
  margin: ($extra-row-spacing / 2) $extra-horizontal-spacing ($extra-row-spacing / 2) 0;
}

.ui.items > .item .extra > [class*="right floated"] {
  margin: ($extra-row-spacing / 2) 0 ($extra-row-spacing / 2) $extra-horizontal-spacing;
}

.ui.items > .item .extra:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}