/*--------------
     Images
---------------*/

#{$ui-item-group} > .#{$c-item} {

  > .#{$c-image} {
	position: relative;
	flex: 0 0 auto;
	display: $image-display;
	float: $image-float;
	margin: $image-margin;
	padding: $image-padding;
	max-height: $image-max-height;
	align-self: $image-vertical-align;
  }

  > .#{$c-image} > img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: $image-border-radius;
	border: $image-border;
  }

  > .#{$c-image}:only-child > img {
	border-radius: $border-radius;
  }
}



