/*--------------
      Links
---------------*/

#{$ui-item-group} > .#{$c-item} {

  /* Generic */
  > .#{$c-content} a:not(.#{$c-ui}) {
	color: $content-link-color;
	transition: $content-link-transition;

	&:hover {
	  color: $content-link-hover-color;
	}
  }

  /* Header */
  > .#{$c-content} > a.#{$c-content} {
	color: $header-link-color;

	&:hover {
	  color: $header-link-hover-color;
	}
  }

  /* Meta */
  .#{$c-meta} > a:not(.#{$c-ui}) {
	color: $meta-link-color;

	&:hover {
	  color: $meta-link-hover-color;
	}
  }
}

/*-------------------
        Link
--------------------*/

#{$ui-item-group} a.#{$c-item},
#{$ui-item-group}.#{$c-link} > .#{$c-item} {

  &:hover {
	cursor: pointer;
  }

  .#{$c-content} .#{$c-header} {
	color: $header-link-hover-color;
  }
}