/*--------------
      Meta
---------------*/
$right-floated: selector-right-floated();

#{$ui-item-group} > .#{$c-item} .#{$c-meta} {
  margin: $meta-margin;
  font-size: $meta-font-size;
  line-height: $meta-line-height;
  color: $meta-color;

  * {
	margin-right: $meta-spacing;
  }

  :last-child {
	margin-right: 0;
  }

  #{$right-floated} {
	margin-right: 0;
	margin-left: $meta-spacing;
  }
}