/*--------------
      Items
---------------*/

/* Shortcuts */
$ui-item-group: selector-ui-item-group();
$left-floated: selector-left-floated();
$right-floated: selector-right-floated();
$bp-mobile: breakpoint-name(1);
$bp-tablet: breakpoint-name(2);
$top-aligned: selector-top-aligned();
$middle-aligned: selector-middle-aligned();
$bottom-aligned: selector-bottom-aligned();

#{$ui-item-group} {
  margin: $group-margin;

  &:first-child {
	margin-top: 0 !important;
  }

  &:last-child {
	margin-bottom: 0 !important;
  }

  > .#{$c-item} {
	display: $display;
	margin: $item-spacing 0;
	width: $width;
	min-height: $min-height;
	background: $background;
	padding: $padding;

	border: $border;
	border-radius: unit-rem($border-radius-default);
	box-shadow: $box-shadow;
	transition: $transition;
	z-index: $z-index;

	&::after {
	  display: block;
	  content: ' ';
	  height: 0;
	  clear: both;
	  overflow: hidden;
	  visibility: hidden;
	}

	&:first-child {
	  margin-top: 0;
	}

	&:last-child {
	  margin-bottom: 0;
	}

	a {
	  cursor: pointer;
	}

	.#{$c-floated} {
	  float: left;
	}

	#{$right-floated} {
	  float: right;
	}

	/* Icon */
	> .#{$c-content} .#{$c-icon} {
	  cursor: pointer;
	  opacity: $action-opacity;
	  transition: $action-transition;

	  &:hover {
		opacity: $action-hover-opacity;
	  }
	}

	/* Default Image Width */
	> .#{$c-image}:not(.#{$c-ui}) {
	  width: $image-width;
	}
  }
}

/* Tablet Only */
@include breakpoint-only($bp-tablet) {

  #{$ui-item-group} > .#{$c-item} {
	margin: $tablet-item-spacing 0;

	> .#{$c-image}:not(.#{$c-ui}) {
	  width: $tablet-image-width;
	}

	> .#{$c-image} + .#{$c-content} {
	  display: block;
	  padding: 0 0 0 $tablet-content-image-distance;
	}
  }
}

/* Mobile Only */
@include breakpoint-only($bp-mobile) {

  #{$ui-item-group} > .#{$c-item} {
	flex-direction: column;
	margin: $mobile-item-spacing 0;

	> .#{$c-image} {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;

	  &,
	  > img {
		max-width: 100% !important;
		width: $mobile-image-width !important;
		max-height: $mobile-image-max-height !important;
	  }
	}

	> .#{$c-image} + .#{$c-content} {
	  display: block;
	  padding: $mobile-content-image-distance 0 0;
	}
  }
}

/*-------------------
       Aligned
--------------------*/

.ui.items > .item > .image + [class*="top aligned"].content {
  align-self: flex-start;
}

.ui.items > .item > .image + [class*="middle aligned"].content {
  align-self: center;
}

.ui.items > .item > .image + [class*="bottom aligned"].content {
  align-self: flex-end;
}

