/*-------------------
       Colors
--------------------*/

@mixin colorize($color-map) {
  @each $name, $color in $color-map {

	/* Color */
	#{$ui-label-group}.#{$name} > .#{$c-label},
	#{$ui-label-group} > .#{$c-label}.#{$name},
	#{$ui-label}.#{$name} {
	  color: color-text($inverted: true);
	  background-color: $color;
	  border-color: $color;
	}

	/* Link */
	#{$ui-label-group}.#{$name} > a.#{$c-label},
	#{$ui-label-group} > a.#{$c-label}.#{$name},
	a.#{$name}#{$ui-label} {
	  &:hover {
		color: color-text-hovered($inverted: true);
		background-color: color-hover($color);
		border-color: color-hover($color);
	  }
	}

	/* Corner */
	#{$ui-label}.#{$c-corner}.#{$name} {

	  &,
	  &:hover {
		background-color: transparent;
	  }
	}

	/* Ribbon */
	#{$ui-label}.#{$c-ribbon}.#{$name} {
	  border-color: color-shadow($color);
	}

	/* Basic */
	#{$ui-label}.#{$name}.#{$c-basic} {
	  color: $color;
	  background-color: $color-light;
	  border-color: $color;
	}

	#{$ui-label-group}.#{$name}.#{$c-basic} > a.#{$c-label},
	#{$ui-label-group}.#{$c-basic} > a.#{$c-label}.#{$name},
	a#{$ui-label}.#{$name}.#{$c-basic} {
	  &:hover {
		color: color-hover($color);
		background-color: $color-light;
		border-color: color-hover($color);
	  }
	}
  }
}

@if $auto-include-colors-info {
  @include colorize($colors-info);
}