/* Detail */
#{$ui-label} {

  > .#{$c-detail} {
	display: inline-block;
	vertical-align: top;
	font-weight: $detail-font-weight;
	margin-left: $detail-margin;
	opacity: $detail-opacity;

	.#{$c-icon} {
	  margin: 0 $detail-icon-distance 0 0;
	}
  }
}