/*-------------------
         Image
--------------------*/

#{$ui-label}.#{$c-image} {
  width: auto;
  max-width: 100%;

  margin-top: 0;
  margin-bottom: 0;
  padding: image-label-padding();

  vertical-align: baseline;
  text-transform: none;

  //background: image-label-background();
  box-shadow: image-label-box-shadow();
  border-radius: $image-label-border-radius;

  /* Image inside Image Label */
  > img {
	display: inline-block;
	vertical-align: top;

	height: $image-label-image-height;
	margin: image-label-image-margin();
	border-radius: $image-label-image-border-radius;
  }

  /* Detail inside Image Label */
  > .#{$c-detail} {
	background: image-label-detail-background();
	margin: image-label-detail-margin();
	padding: image-label-detail-padding();
	border-radius: 0 $image-label-border-radius $image-label-border-radius 0;
  }
}



