/* Link */
#{$ui-label-group} > a.#{$c-label},
a#{$ui-label} {

  cursor: pointer;

  &:hover {
	color: label-color-hover();
	background: background-hover();

	&::before {
	  color: label-color-hover();
	}

	> #{$e-icon} {
	  color: label-color-hover();
	}
  }
}

/* Active Link Label */
#{$ui-label-group} > a.#{$c-label}.#{$c-active},
a#{$ui-label}.#{$c-active} {

  &:hover {
	color: label-color-active-hover();
	background: background-active-hover();

	&::before {
	  color: label-color-active-hover();
	  background: background-active-hover();
	}
  }
}