/*-------------------
       Pointing
--------------------*/

/* Shortcuts */
$ui-pointing-label: '#{$ui-label}.#{$c-pointing}';

#{$ui-pointing-label} {
  position: relative;

  &::before {
	background-color: inherit;
	background-image: inherit;
	border-width: 0;
	border-style: solid;
	border-color: $pointing-border-color;
  }
}

.ui.attached.pointing.label {
  position: absolute;
}

/* Arrow */
.ui.pointing.label:before {
  position: absolute;
  content: '';
  transform: rotate(45deg);
  background-image: none;

  z-index: $pointing-triangle-z-index;
  width: $pointing-triangle-size;
  height: $pointing-triangle-size;
  transition: $pointing-triangle-transition;
}

/*--- Above ---*/
.ui.pointing.label,
.ui[class*="pointing above"].label {
  margin-top: $pointing-vertical-distance;
}

.ui.pointing.label:before,
.ui[class*="pointing above"].label:before {
  border-width: $border-width 0 0 $border-width;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 0;
  left: 50%;
}

/*--- Below ---*/
.ui[class*="bottom pointing"].label,
.ui[class*="pointing below"].label {
  margin-top: 0;
  margin-bottom: $pointing-vertical-distance;
}

.ui[class*="bottom pointing"].label:before,
.ui[class*="pointing below"].label:before {
  border-width: 0 $border-width $border-width 0;
  top: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 100%;
  left: 50%;
}

/*--- Left ---*/
.ui[class*="left pointing"].label {
  margin-top: 0;
  margin-left: $pointing-horizontal-distance;
}

.ui[class*="left pointing"].label:before {
  border-width: 0 0 $border-width $border-width;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  bottom: auto;
  right: auto;
  top: 50%;
  left: 0;
}

/*--- Right ---*/
.ui[class*="right pointing"].label {
  margin-top: 0;
  margin-right: $pointing-horizontal-distance;
}

.ui[class*="right pointing"].label:before {
  border-width: $border-width $border-width 0 0;
  transform: translateX(50%) translateY(-50%) rotate(45deg);
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
}

/* Basic Pointing */

/*--- Above ---*/
.ui.basic.pointing.label:before,
.ui.basic[class*="pointing above"].label:before {
  margin-top: $basic-pointing-triangle-offset;
}

/*--- Below ---*/
.ui.basic[class*="bottom pointing"].label:before,
.ui.basic[class*="pointing below"].label:before {
  bottom: auto;
  top: 100%;
  margin-top: - $basic-pointing-triangle-offset;
}

/*--- Left ---*/
.ui.basic[class*="left pointing"].label:before {
  top: 50%;
  left: $basic-pointing-triangle-offset;
}

/*--- Right ---*/
.ui.basic[class*="right pointing"].label:before {
  top: 50%;
  right: $basic-pointing-triangle-offset;
}
