/* Shortcuts */
$ui-label: selector-ui-label();
$ui-label-group: selector-ui-label-group();

#{$ui-label} {

  display: inline-block;
  line-height: 1;
  vertical-align: $vertical-align;

  margin: $vertical-margin $horizontal-margin;

  background-color: $background-color;
  background-image: $background-image;
  padding: $vertical-padding $horizontal-padding;
  color: $color;

  text-transform: $text-transform;
  font-weight: $font-weight;

  border: $border;
  border-radius: $border-radius;
  transition: $transition;

  &:first-child {
	margin-left: 0;
  }

  &:last-child {
	margin-right: 0;
  }
}

/*-------------------
       Group
--------------------*/

#{$ui-label-group} > .#{$c-label} {
  margin: 0 $group-horizontal-margin $group-vertical-margin 0;
}

/*-------------------
        Hover
--------------------*/

#{$ui-label-group} a.#{$c-label}:hover,
a#{$ui-label}:hover {
  background-color: $label-hover-background-color;
  border-color: $label-hover-background-color;

  background-image: $label-hover-background-image;
  color: $label-hover-text-color;

  &::before {
	color: $label-hover-text-color;
  }
}

/*-------------------
        Active
--------------------*/

#{$ui-label}.#{$c-active} {
  background-color: $label-active-background-color;
  border-color: $label-active-background-color;

  background-image: $label-active-background-image;
  color: $label-active-text-color;

  &::before {
	background-color: $label-active-background-color;
	background-image: $label-active-background-image;
	color: $label-active-text-color;
  }
}

/*-------------------
     Active Hover
--------------------*/

#{$ui-label-group} a.#{$c-label}.#{$c-active}:hover,
a#{$ui-label}.#{$c-active}:hover {
  background-color: $label-active-hover-background-color;
  border-color: $label-active-hover-background-color;

  background-image: $label-active-hover-background-image;
  color: $label-active-hover-text-color;

  &::before {
	background-color: $label-active-hover-background-color;
	background-image: $label-active-hover-background-image;
	color: $label-active-hover-text-color;
  }
}

/*-------------------
      Visible
--------------------*/

#{$ui-label-group}.#{$c-visible} .#{$c-label},
#{$ui-label}.#{$c-visible} {
  display: inline-block !important;
}

/*-------------------
      Hidden
--------------------*/

#{$ui-label-group}.#{$c-hidden} .#{$c-label},
#{$ui-label}.#{$c-hidden} {
  display: none !important;
}

/*-------------------
       Inverted
--------------------*/

#{$ui-label-group}.#{$c-inverted} .#{$c-label},
#{$ui-label}.#{$c-inverted} {
  color: color-text($inverted: true) !important;
}

/*-------------------
       Disabled
--------------------*/
#{$ui-label}.#{$c-disabled} {
  opacity: 0.5;
}
