/* Shortcuts */
$ui-label: selector-ui-label();
$ui-label-group: selector-ui-label-group();

#{$ui-label} {

  display: inline-block;
  line-height: 1;
  vertical-align: $vertical-align;

  color: $color;
  background-color: $background-color;
  background-image: $background-image;

  margin: $vertical-margin $horizontal-margin;
  padding: $vertical-padding $horizontal-padding;

  text-transform: $text-transform;
  font-weight: $font-weight;

  border: $border;
  border-radius: $border-radius;
  transition: $transition;

  &:first-child {
	margin-left: 0;
  }

  &:last-child {
	margin-right: 0;
  }
}

/*-------------------
       Group
--------------------*/

#{$ui-label-group} > .#{$c-label} {

  margin: 0 $group-horizontal-margin $group-vertical-margin 0;

  &:first-child {
	margin-left: 0;
  }

  &:last-child {
	margin-right: 0;
  }
}
/*-------------------
        Active
--------------------*/

#{$ui-label}.#{$c-active} {

  color: $label-active-text-color;
  background-color: $label-active-background-color;
  background-image: $label-active-background-image;
  border-color: $label-active-background-color;

  &::before {
	color: $label-active-text-color;
	background-color: $label-active-background-color;
	background-image: $label-active-background-image;
  }
}

/*-------------------
      Visible
--------------------*/

#{$ui-label-group}.#{$c-visible} > .#{$c-label},
#{$ui-label}.#{$c-visible} {
  display: inline-block;
}

/*-------------------
      Hidden
--------------------*/

#{$ui-label-group}.#{$c-hidden} > .#{$c-label},
#{$ui-label}.#{$c-hidden} {
  display: none;
}

/*-------------------
       Disabled
--------------------*/
#{$ui-label}.#{$c-disabled} {
  opacity: 0.5;
}

/*-------------------
       Inverted
--------------------*/

.#{$c-inverted} > #{$ui-label-group} > .#{$c-label},
.#{$c-inverted} > #{$ui-label},
#{$ui-label-group}.#{$c-inverted} > .#{$c-label},
#{$ui-label}.#{$c-inverted} {
  color: color-text(true);
}

@import "sizes";
@import "colors";