/*-------------------
       Element
--------------------*/

@function label-color($inverted: false) {
  @return color-text-muted($inverted);
}

@function label-color-hover($inverted: false) {
  @return color-text-hovered($inverted);
}

@function label-color-active($inverted: false) {
  @return color-text-selected($inverted);
}

@function label-color-active-hover($inverted: false) {
  @return color-text-selected($inverted);
}

@function background($inverted: false) {
  @return if(to-bool($inverted), color-transparent(#E8E8E8), #E8E8E8);
}

@function background-hover($inverted: false) {
  @return #E0E0E0;
}

@function background-active($inverted: false) {
  @return #D0D0D0;
}

@function background-active-hover($inverted: false) {
  @return #C8C8C8;
}

@function background-colorize($color, $inverted: false) {
  @return $color;
}

@function background-colorize-hover($color, $inverted: false) {
  @return color-hover($color);
}

$vertical-margin: 0;
$horizontal-margin: px-em(2);
@function margin() {
  @return $vertical-margin ($horizontal-margin * 2) $vertical-margin 0;
}

$vertical-padding: 0.5833em; /* medium is not $emSize custom value required */
$horizontal-padding: 0.833em;
@function padding() {
  @return $vertical-padding $horizontal-padding;
}

$text-transform: none;
$font-weight: bold;
$vertical-align: baseline;

$border-width: 1px;
$border-radius: unit-rem($border-radius-default);
@function border($inverted: false) {
  @return none;
}

@function border($inverted: false) {
  @return none;
}

@function line-height-offset() {
  @return $vertical-padding * -0.5;
}

$label-transition-duration: $duration-default;
$label-transition-easing: $easing-default;
$transition: background $label-transition-duration $label-transition-easing;

/* Group */
$group-vertical-margin: 0.5em;
$group-horizontal-margin: 0.5em;

/*-------------------
        Parts
--------------------*/

/* Link */
$link-opacity: 0.5;
$link-transition: $label-transition-duration opacity $label-transition-easing;

/* Icon */
$icon-distance: 0.75em;

/* Image */
$image-height: (1em + $vertical-padding * 2);

/* Detail */
$detail-font-weight: bold;
$detail-opacity: 0.8;
$detail-icon-distance: 0.25em;
$detail-margin: 1em;

/* Delete */
$delete-opacity: $link-opacity;
$delete-size: size('small');
$delete-margin: 0.5em;
$delete-transition: background $label-transition-duration $label-transition-easing;

/*-------------------
        Types
--------------------*/

/* Image Label */
@function image-label-background($inverted: false) {
  @return background($inverted);
}

$image-label-vertical-padding: $vertical-padding;
$image-label-horizontal-padding: $horizontal-padding;

$image-label-text-distance: 0.5em;
$image-label-detail-distance: $image-label-text-distance;
$image-label-border-radius: unit-rem($border-radius-default);
@function image-label-box-shadow($inverted: false) {
  @return none;
}

@function image-label-padding() {
  @return $image-label-vertical-padding $image-label-horizontal-padding $image-label-vertical-padding $image-label-text-distance;
}

@function image-label-image-margin() {
  @return (-$vertical-padding) ($image-label-text-distance) (-$vertical-padding) (-$image-label-text-distance);
}

$image-label-image-border-radius: $image-label-border-radius 0em 0em $image-label-border-radius;
$image-label-image-height: $image-height;

@function image-label-detail-background($inverted: false) {
  @return color-transparent-strong($color-dark);
}

@function image-label-detail-margin() {
  @return (-$image-label-vertical-padding) (-$image-label-horizontal-padding) (-$image-label-vertical-padding) ($image-label-detail-distance);
}

@function image-label-detail-padding() {
  @return $image-label-vertical-padding $image-label-horizontal-padding;
}

/*-------------------
      Variations
--------------------*/

/* Basic */
@function basic-label-color($inverted: false) {
  @return label-color($inverted);
}

@function basic-label-color-hover($inverted: false) {
  @return label-color-hover($inverted);
}

@function basic-background($inverted: false) {
  @return none;
}

@function basic-background-hover($inverted: false) {
  @return basic-background($inverted);
}

@function basic-background-colorize($color, $inverted: false) {
  @return none;
}

@function basic-background-colorize-hover($color, $inverted: false) {
  @return none;
}

$basic-border-width: 1px;
@function basic-border($inverted: false) {
  @return $basic-border-width solid color-divider($inverted);
}

@function basic-border-hover($inverted: false) {
  @return $basic-border-width solid color-divider-selected($inverted);
}

@function basic-border-colorize($color, $inverted: false) {
  @return $basic-border-width solid colorize-divider($color);
}

@function basic-border-colorize-hover($color, $inverted: false) {
  @return $basic-border-width solid colorize-divider-selected($color);
}

@function basic-box-shadow($inverted: false) {
  @return none;
}

@function basic-box-shadow-hover($inverted: false) {
  @return none;
}

/* Tag */
$tag-circle-color: $color-light;
$tag-circle-size: 0.5em;
$tag-horizontal-padding: 1.5em;

@function tag-circle-box-shadow($inverted: false) {
  @return 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
}

$tag-triangle-right-offset: 100%;
$tag-triangle-top-offset: 50%;
$tag-triangle-size: 1.56em;

@function tag-triangle-background($inverted: false) {
  @return inherit;
}

$tag-transition: none; /* Avoids error with background: inherit; on animation */

/* Ribbon */
$ribbon-triangle-size: 1.2rem;
$ribbon-shadow-color: rgba(0, 0, 0, 0.15);

$ribbon-margin: 1rem;
$ribbon-offset: calc(-#{$ribbon-margin} - #{$ribbon-triangle-size});
$ribbon-distance: calc(#{$ribbon-margin} + #{$ribbon-triangle-size});
$right-ribbon-offset: calc(100% + #{$ribbon-margin} + #{$ribbon-triangle-size});

$ribbon-image-top-distance: 1rem;
$ribbon-image-margin: 0.05em; /* Rounding Offset on Triangle */
$ribbon-image-offset: calc(-#{$ribbon-image-margin} - #{$ribbon-triangle-size});
$right-ribbon-image-offset: calc(100% + #{$ribbon-image-margin} + #{$ribbon-triangle-size});

$ribbon-table-margin: size('mini', true); /* Rounding Offset on Triangle */
$ribbon-table-offset: calc(-#{$ribbon-table-margin} - #{$ribbon-triangle-size});
$right-ribbon-table-offset: calc(100% + #{$ribbon-table-margin} + #{$ribbon-triangle-size});

/* Colors */
$redTextColor: white;

$redHoverTextColor: white;

$redRibbonShadow: darken(red, 10);

/* Attached */
$attached-segment-padding: 2rem;
$attached-vertical-padding: 0.75em;
$attached-horizontal-padding: 1em;

$attached-corner-border-radius: px-rem(3);
$attached-border-radius: unit-rem($border-radius-default);

/* Corner */
$corner-size-ratio: 1;
$corner-transition: color $label-transition-duration $label-transition-easing;
$corner-triangle-size: 4em;
$corner-triangle-transition: border-color $label-transition-duration $label-transition-easing;
$corner-triangle-z-index: 1;

$corner-icon-size: size('large', true);
$corner-icon-top-offset: px-em(9);
$corner-icon-left-offset: px-em(11);

/* Corner Text */
$corner-text-width: 3em;
$corner-text-weight: bold;
$corner-text-size: 1em;

/* Horizontal */
$horizontal-label-min-width: 3em;
$horizontal-label-margin: 0.5em;
$horizontal-label-vertical-padding: 0.4em;

/* Circular Padding */
$circular-padding: 0.5em;
$circular-min-size: 2em;
$empty-circle-size: 0.5em;

/* Pointing */
$pointing-border-width: $border-width;
@function pointing-label-border($inverted: false) {
  @return $pointing-border-width solid inherit;
}

$pointing-vertical-distance: 1em;
$pointing-triangle-size: 0.6666em;
$pointing-horizontal-distance: $pointing-triangle-size;

$pointing-triangle-transition: background $label-transition-duration $label-transition-easing;
$pointing-triangle-z-index: 2;

/* Basic Pointing */
$basic-pointing-triangle-offset: -$pointing-border-width;

/* Floating */
$floating-top-offset: -1em;
$floating-left-offset: -1.5em;
$floating-z-index: 100;

/*-------------------
        Group
--------------------*/

/* Sizing */
$mini: px-em(9);
$tiny: px-em(10);
$small: px-em(11);
$medium: px-em(12);
$large: size('medium');
$big: size('big');
$huge: size('huge');
$massive: size('massive');
