/*--------------
     Content
---------------*/

/* Content */
#{$ui-feed} > .#{$c-event} {

  > .#{$c-content} {
	display: block;
	flex: 1 1 auto;
	align-self: $content-align-self;
	text-align: $content-text-align;
	word-wrap: $content-word-wrap;

	a {
	  cursor: pointer;
	}
  }

  &:last-child > .#{$c-content} {
	padding-bottom: $last-labeled-content-padding;
  }
}