/*--------------
      Date
---------------*/

#{$ui-feed} > .#{$c-event} > .#{$c-content} {

  .#{$c-date} {
	margin: $date-margin;
	padding: $date-padding;
	color: $date-color;
	font-weight: $date-font-weight;
	font-size: $date-font-size;
	font-style: $date-font-style;
  }

  /* Date inside Summary */
  .#{$c-summary} > .#{$c-date} {
	display: $summary-date-display;
	float: $summary-date-float;
	font-weight: $summary-date-font-weight;
	font-size: $summary-date-font-size;
	font-style: $summary-date-font-style;
	margin: $summary-date-margin;
	padding: $summary-date-padding;
	color: $summary-date-color;
  }
}