/* Event */
#{$ui-feed} > .#{$c-event} {
  display: flex;
  flex-direction: row;
  width: $event-width;
  padding: $event-padding;
  margin: $event-margin;
  background: $event-background;
  border-top: $event-divider;

  &:first-child {
	border-top: 0;
	padding-top: 0;
  }

  :last-child {
	padding-bottom: 0;
  }

  /* Event Label */
  > .#{$c-label} {
	display: block;
	flex: 0 0 auto;
	width: $label-width;
	height: $label-height;
	align-self: $label-align-self;
	text-align: $label-text-align;

	.#{$c-icon} {
	  opacity: $icon-label-opacity;
	  font-size: $icon-label-size;
	  width: $icon-label-width;
	  padding: $icon-label-padding;
	  background: $icon-label-background;
	  border: $icon-label-border;
	  border-radius: $icon-label-border-radius;
	  color: $icon-label-color;
	}

	img {
	  width: $image-label-width;
	  height: $image-label-height;
	  border-radius: $image-label-border-radius;
	}

	+ .#{$c-content} {
	  margin: $labeled-content-margin;
	}
  }
}