/*--------------
  Extra Summary
---------------*/

#{$ui-feed} > .#{$c-event} > .#{$c-content} {

  .#{$c-extra} {
	margin: $extra-margin;
	background: $extra-background;
	padding: $extra-padding;
	color: $extra-color;
  }

  /* Images */
  .#{$c-extra}.#{$c-image-group} img {
	display: inline-block;
	margin: $extra-image-margin;
	width: $extra-image-width;
  }

  /* Text */
  .#{$c-extra}.#{$c-text} {
	padding: $extra-text-padding;
	border-left: $extra-text-pointer;
	font-size: $extra-text-font-size;
	max-width: $extra-text-max-width;
	line-height: $extra-text-line-height;
  }
}