/*--------------
      Meta
---------------*/

#{$ui-feed} > .#{$c-event} > .#{$c-content} {

  .#{$c-meta} {
	display: $metadata-display;
	font-size: $metadata-font-size;
	margin: $metadata-margin;
	background: $metadata-background;
	border: $metadata-border;
	border-radius: $metadata-border-radius;
	box-shadow: $metadata-box-shadow;
	padding: $metadata-padding;
	color: $metadata-color;

	> :first-child {
	  margin-left: 0;

	  &::after {
		display: none;
	  }
	}

	> * {
	  position: relative;
	  margin-left: $metadata-element-spacing;

	  &::after {
		content: $metadata-divider;
		color: $metadata-divider-color;
		top: 0;
		left: $metadata-divider-offset;
		opacity: 1;
		position: absolute;
		vertical-align: top;
	  }
	}

	.#{$c-like} {
	  color: $like-color;
	  transition: $like-transition;

	  &:hover .#{$c-icon} {
		color: $like-hover-color;
	  }

	  &.#{$c-active} .#{$c-icon} {
		color: $like-active-color;
	  }
	}

	/* Action */
	a,
	> .#{$c-icon} {
	  cursor: $metadata-action-cursor;
	  opacity: $metadata-action-opacity;
	  color: $metadata-action-color;
	  transition: $metadata-action-transition;
	}

	a:hover,
	a:hover .#{$c-icon},
	> .#{$c-icon}:hover {
	  color: $metadata-action-hover-color;
	}
  }
}