/*--------------
      User
---------------*/

#{$ui-feed} > .#{$c-event} > .#{$c-content} {

  .#{$c-user} {
	display: inline-block;
	font-weight: $user-font-weight;
	margin-right: $user-distance;
	vertical-align: baseline;

	img {
	  margin: $user-image-margin;
	  width: $user-image-width;
	  height: $user-image-height;
	  vertical-align: $user-image-vertical-align;
	}
  }

}


