/*--------------
    Loading
---------------*/

@keyframes form-spin {
  from {
	transform: rotate(0deg);
  }
  to {
	transform: rotate(360deg);
  }
}

/* Shortcuts */
$ui-loading-form: '#{$ui-form}.#{$c-loading}';

#{$ui-loading-form} {

  position: relative;
  cursor: default;
  pointer-events: none;

  &::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	background: $loader-dimmer-color;
	width: 100%;
	height: 100%;
	z-index: $loader-dimmer-z-index;
  }

  &::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;

	margin: $loader-margin;
	width: $loader-size;
	height: $loader-size;

	animation: form-spin $loader-speed linear;
	animation-iteration-count: infinite;

	border-radius: $border-radius-circular;

	border-color: $loader-line-color $loader-fill-color $loader-fill-color $loader-fill-color;
	border-style: solid;
	border-width: $loader-line-width;

	box-shadow: 0 0 0 1px transparent;
	visibility: visible;
	z-index: $loader-line-z-index;
  }
}