/* Shortcuts */
$ui-form: selector-ui-form();
$bp-mobile: breakpoint-name(1);
$equal-width: selector-class-strict-order($c-equal, 'width');

#{$ui-form} {
  position: relative;
  max-width: 100%;
}

/* Paragraph */
#{$ui-form} > p {
  margin: $paragraph-margin;
}

#{$ui-form} {

  /* Field */
  .#{$c-field} {
	clear: both;
	margin: $field-margin;

	&:last-child {
	  margin-bottom: 0;
	}
  }

  /* Labels */
  .#{$c-field} > label {
	display: block;
	margin: $label-margin;
	color: $label-color;
	font-size: $label-font-size;
	font-weight: $label-font-weight;
	text-transform: $label-text-transform;
  }
}

#{$ui-form} {

  /* Field Group */
  .#{$c-field-group} {

	/* Child Field */
	.#{$c-field} {
	  margin: 0;
	}

	//TODO strange selector
	&:last-child .#{$c-field} {
	  margin-bottom: 0;
	}
  }
}

/*******************************
            States
*******************************/

/*--------------------
        Fields
---------------------*/

/* Split fields */
#{$ui-form} .#{$c-field-group} {
  display: flex;
  flex-direction: row;
  margin: $fields-margin;

  /* Swap to full width on mobile */
  @include breakpoint-only($bp-mobile) {
	flex-wrap: wrap;
  }

  > .#{$c-field} {
	flex: 0 1 auto;
	padding-left: ($gutter-width / 2);
	padding-right: ($gutter-width / 2);

	&:first-child {
	  border-left: none;
	  box-shadow: none;
	}
  }

  @for $i from 2 through 10 {
	/* Other Combinations */
	&.#{number-name($i)} {

	  > .#{$c-field-group},
	  > .#{$c-field} {
		width: column($i);

		/* Swap to full width on mobile */
		@include breakpoint-only($bp-mobile) {
		  width: column(1) !important;
		  margin: 0 0 $row-distance;
		}
	  }
	}
  }
}

/* Sizing Combinations */
#{$ui-form} {

  /* One wide field */
  .#{$c-wide}.#{$c-field} {
	width: wide(1);
	padding-left: ($gutter-width / 2);
	padding-right: ($gutter-width / 2);

	/* Swap to full width on mobile */
	@include breakpoint-only($bp-mobile) {
	  width: column(1) !important;
	}
  }

  /* Num wide fields */
  @for $i from 1 through $num-columns {
	$num-wide: selector-num-wide($i);

	#{$num-wide}.#{$c-field} {
	  width: wide($i) !important;
	}
  }
}

/*--------------------
     Equal Width
---------------------*/

#{$ui-form} {

  &#{$equal-width} .#{$c-field-group},
  #{$equal-width}.#{$c-field-group} {

	> .#{$c-field} {
	  width: 100%;
	  flex: 1 1 auto;

	  @include breakpoint-only($bp-mobile) {
		margin: 0 0 $row-distance;
	  }
	}
  }
}