/*-------------------
      Bordered
--------------------*/

/* Shortcuts */
$ui-bordered-icon: '#{$ui-icon}.#{$c-bordered}';

#{$ui-bordered-icon} {

  vertical-align: baseline;

  width: $bordered-size;
  height: $bordered-size;
  padding: $bordered-vertical-padding $bordered-horizontal-padding !important;
  box-shadow: $bordered-shadow;

  /* Inverted */
  &.#{$c-inverted} {
	border: none;
	box-shadow: none;
  }
}