/*-------------------
      Bordered
--------------------*/

#{$e-icon}.#{$c-bordered} {

  width: $bordered-size;
  height: $bordered-size;
  padding: bordered-padding();
  box-shadow: bordered-box-shadow();
}

.#{$c-inverted} > #{$ui-icon-group} > #{$e-icon}.#{$c-bordered},
.#{$c-inverted} > #{$e-icon}.#{$c-bordered} {
  box-shadow: bordered-box-shadow(true);
}

/* Inverted */
#{$ui-icon-group}.#{$c-inverted} > #{$e-icon}.#{$c-bordered},
#{$e-icon}.#{$c-inverted}.#{$c-bordered} {
  background: color-text();
  box-shadow: none;
}
