/*-------------------
      Circular
--------------------*/

/* Shortcuts */
$ui-circular-icon: '#{$ui-icon}.#{$c-circular}';

#{$ui-circular-icon} {

  border-radius: 50%;

  padding: $circular-padding;
  box-shadow: $circular-shadow;

  width: $circular-size;
  height: $circular-size;

  /* Inverted */
  &.#{$c-inverted} {
	border: none;
	box-shadow: none;
  }
}