/*-------------------
      Circular
--------------------*/

#{$ui-icon}.#{$c-circular} {

  width: $circular-size;
  height: $circular-size;
  padding: circular-padding();

  border-radius: 50%;
  box-shadow: bordered-box-shadow();
}

.#{$c-inverted} > #{$ui-icon-group} > #{$e-icon}.#{$c-circular},
.#{$c-inverted} > #{$e-icon}.#{$c-circular} {
  box-shadow: bordered-box-shadow(true);
}

/* Inverted */
#{$ui-icon-group}.#{$c-inverted} > #{$e-icon}.#{$c-circular},
#{$ui-icon}.#{$c-inverted}.#{$c-circular} {
  background: color-text();
  box-shadow: none;
}