/*-------------------
       Colors
--------------------*/

@mixin colorize($color-map) {
  @each $name, $color in $color-map {

	#{$ui-icon}.#{$name} {

	  color: $color;

	  /* Inverted */
	  &.#{$c-inverted} {

		color: color-light($color);

		&.#{$c-bordered},
		&.#{$c-circular} {
		  background-color: $color;
		  color: $color-light;
		}
	  }
	}
  }
}

@if $auto-include-colors-info {
  @include colorize($colors-info);
}