/*-------------------
         Link
--------------------*/

#{$ui-icon-group}.#{$c-link},
#{$ui-icon}.#{$c-link} {

  cursor: pointer;
  opacity: $link-opacity;
  transition: opacity $duration-default $easing-default;

  &:hover {
	opacity: 1;
  }
}

