/*-------------------
      Flipped
--------------------*/

#{$ui-icon}.#{$c-flipped} {
  transform: scale(-1, 1);
}

#{$ui-icon}.#{$c-flipped}.#{$c-vertical} {
  transform: scale(1, -1);
}

/*-------------------
      Rotated
--------------------*/
$right-rotated: selector-right-rotated();

#{$ui-icon}.#{$c-rotated} {
  transform: rotate(-90deg);
}

#{$ui-icon}#{$right-rotated} {
  transform: rotate(90deg);
}