/*-------------------
      Flipped
--------------------*/

#{$ui-icon-group} > #{$e-icon}.#{$c-flipped},
#{$ui-icon}.#{$c-flipped} {

  &::before {
	transform: scale(-1, 1);
  }
}

#{$ui-icon-group} > #{$e-icon}.#{$c-flipped}.#{$c-vertical},
#{$ui-icon}.#{$c-flipped}.#{$c-vertical} {

  &::before {
	transform: scale(1, -1);
  }
}

/*-------------------
      Rotated
--------------------*/
$right-rotated: selector-right-rotated();

#{$ui-icon-group} > #{$e-icon}.#{$c-rotated},
#{$ui-icon}.#{$c-rotated} {

  &::before {
	transform: rotate(-90deg);
  }
}

#{$ui-icon-group} > #{$e-icon}#{$right-rotated},
#{$ui-icon}#{$right-rotated} {

  &::before {
	transform: rotate(90deg);
  }
}