/* Shortcuts */
$ui-icon: selector-ui-icon();
$ui-icon-group: selector-ui-icon-group();

#{$ui-icon} {

  display: inline-block;
  opacity: $opacity;

  margin: 0 $distance-from-text 0 0;

  width: $width;
  height: $height;
  line-height: 1;
  text-align: center;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  text-rendering: auto;
  speak: none;

  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
	background: none !important;
  }

  &.#{$c-hover} {
	opacity: 1 !important;
  }

  &.#{$c-active} {
	opacity: 1 !important;
  }

  &.emphasized {
	opacity: 1 !important;
  }

  &.#{$c-disabled} {
	opacity: $opacity-disabled !important;
  }
}

/*-------------------
      Group
--------------------*/

#{$ui-icon-group} {
  display: inline-block;
  position: relative;
  line-height: 1;

  .#{$c-icon} {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: 0;

	&:first-child {
	  position: static;
	  width: auto;
	  height: auto;
	  vertical-align: top;
	  transform: none;
	  margin-right: $distance-from-text;
	}

	/* Corner Icon */
	&.#{$c-corner} {
	  top: auto;
	  left: auto;
	  right: 0;
	  bottom: 0;
	  transform: none;
	  font-size: $corner-icon-size;
	  text-shadow: $corner-icon-shadow;

	  &.#{$c-inverted} {
		text-shadow: $corner-icon-inverted-shadow;
	  }
	}
  }
}

@import "bordered";
@import "circular";
@import "colors";
@import "fitted";
@import "inverted";
@import "link";
@import "loading";
@import "rotated";
@import "sizes";




