/* Shortcuts */
$ui-icon: selector-ui-icon();
$ui-icon-group: selector-ui-icon-group();
$e-icon: selector-element-icon();

#{$ui-icon} {

  display: inline-block;
  opacity: $opacity;

  color: color-text();

  margin: 0 $distance-from-text 0 0;

  width: $width;
  height: $height;
  line-height: 1;
  text-align: center;
  vertical-align: bottom;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  text-rendering: auto;
  speak: none;

  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
	background: none;
  }

  &.#{$c-disabled} {
	opacity: $opacity-disabled;
  }
}

/*-------------------
      Group
--------------------*/

#{$ui-icon-group} {
  display: inline-block;
  position: relative;

  /* Icon inside Icon Group */
  > #{$e-icon} {
	margin: 0;

	&:not(:first-child) {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	}

	/* Corner Icon */
	&.#{$c-corner} {
	  top: auto;
	  left: auto;
	  right: 0;
	  bottom: 0;
	  font-size: $corner-icon-size;
	  text-shadow: $corner-icon-shadow;

	  &.#{$c-inverted} {
		text-shadow: $corner-icon-inverted-shadow;
	  }
	}
  }
}

/* Icon on Inverted Background */
.#{$c-inverted} > #{$ui-icon-group} > #{$e-icon},
.#{$c-inverted} > #{$ui-icon},
#{$ui-icon-group}.#{$c-inverted} > #{$e-icon},
#{$ui-icon}.#{$c-inverted} {
  color: color-text(true)
}

@import "bordered";
@import "circular";
@import "colors";
@import "fitted";
@import "link";
@import "loading";
@import "rotated";
@import "sizes";




