/*-------------------
   Icon Variables
--------------------*/

$opacity: 1;
$width: 1.18em;
$height: 1em;
$distance-from-text: 0.25rem;

/* Variations */

$link-opacity: 0.8;
$link-duration: 0.3s;
$loading-duration: 2s;

$circular-size: 2em;
$circular-padding: 0.5em;
$circular-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset;

$bordered-size: 2em;
$bordered-vertical-padding: (($bordered-size - $height) / 2);
$bordered-horizontal-padding: (($bordered-size - $width) / 2);
$bordered-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset;

$corner-icon-size: 0.45em;
$corner-icon-stroke: 1px;

$corner-icon-shadow: -$corner-icon-stroke -$corner-icon-stroke 0 $color-light,
$corner-icon-stroke -$corner-icon-stroke 0 $color-light,
-$corner-icon-stroke $corner-icon-stroke 0 $color-light,
$corner-icon-stroke $corner-icon-stroke 0 $color-light;

$corner-icon-inverted-shadow: -$corner-icon-stroke -$corner-icon-stroke 0 $color-dark,
$corner-icon-stroke -$corner-icon-stroke 0 $color-dark,
-$corner-icon-stroke $corner-icon-stroke 0 $color-dark,
$corner-icon-stroke $corner-icon-stroke 0 $color-dark;

/* Size */
$sizes: map-zip(map-keys($sizes), (
        0.6, // mini
        0.8, // tiny
        1, // small
        1.4, // medium
        2, // large
        3.5, // big
        5.5, //huge
        8 // massive
));
