/*-------------------
   Icon Variables
--------------------*/

$opacity: 1;
$width: 1em;
$height: 1em;
$distance-from-text: 0.25em;

/* Variations */

$link-opacity: 0.8;
$link-duration: 0.3s;
$loading-duration: 2s;

$bordered-shadow: box-shadow-create(0, 0, 0, 1px, true);
@function bordered-box-shadow($inverted: false) {
  @return box-shadow-colorize($bordered-shadow, color-divider($inverted));
}

$circular-size: 2em;
@function circular-padding() {
  @return 0.5em;
}

$bordered-size: 2em;
@function bordered-padding() {
  @return (($bordered-size - $height) / 2) (($bordered-size - $width) / 2)
}

$corner-icon-size: 0.45em;
$corner-icon-stroke: 1px;

$corner-icon-shadow: -$corner-icon-stroke -$corner-icon-stroke 0 $color-light,
$corner-icon-stroke -$corner-icon-stroke 0 $color-light,
-$corner-icon-stroke $corner-icon-stroke 0 $color-light,
$corner-icon-stroke $corner-icon-stroke 0 $color-light;

$corner-icon-inverted-shadow: -$corner-icon-stroke -$corner-icon-stroke 0 $color-dark,
$corner-icon-stroke -$corner-icon-stroke 0 $color-dark,
-$corner-icon-stroke $corner-icon-stroke 0 $color-dark,
$corner-icon-stroke $corner-icon-stroke 0 $color-dark;

/* Size */
$sizes: map-zip(map-keys($sizes), (
		0.6, // mini
		0.8, // tiny
		1, // small
		1.4, // medium
		2, // large
		3.5, // big
		5.5, //huge
		8 // massive
));
