/* Shortcuts */
$ui-list: ui-list();
$ui-ul-list: 'ul#{$ui-list}';
$ui-ol-list: 'ol#{$ui-list}';
$ui-icon: ui-icon();

#{$ui-list},
#{$ui-ul-list},
#{$ui-ol-list} {

  list-style-type: $list-style-type;
  margin: $margin;
  padding: $vertical-padding $horizontal-padding;

  &:first-child {
	margin-top: 0;
	padding-top: 0;
  }

  &:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
  }
}

/* List Item */
#{$ui-ul-list} li,
#{$ui-ol-list} li,
#{$ui-list} > .#{$c-item},
#{$ui-list} .#{$c-list} > .#{$c-item} {

  display: list-item;
  table-layout: fixed;
  list-style-type: $list-style-type;
  list-style-position: $list-style-position;

  padding: $item-padding;
  line-height: $item-line-height;

  &:first-child {
	padding-top: 0;
  }

  &:last-child {
	padding-bottom: 0;
  }

  &::after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  }
}

/* Child List */
#{$ui-ul-list} ul,
#{$ui-ol-list} ol,
#{$ui-list} .#{$c-list} {
  clear: both;
  margin: 0;
  padding: $child-list-padding;
}

/* Child Item */
#{$ui-ul-list} ul li,
#{$ui-ol-list} ol li,
#{$ui-list} .#{$c-list} > .#{$c-item} {
  padding: $child-item-padding;
  line-height: $child-item-line-height;
}

#{$ui-list} {

  /* Items */
  .#{$c-list} > .#{$c-item},
  > .#{$c-item} {

	/* Item Icon */
	> .#{$c-icon} {
	  display: table-cell;
	  margin: 0;
	  padding-top: $icon-offset;
	  padding-right: $icon-distance;
	  vertical-align: $icon-content-vertical-align;
	  transition: $icon-transition;

	  &:only-child {
		display: inline-block;
		vertical-align: $icon-vertical-align;
	  }
	}

	/* Item Image */
	> .#{$c-image} {
	  display: table-cell;
	  background-color: transparent;
	  margin: 0;
	  vertical-align: $image-align;

	  img {
		vertical-align: $image-align;
	  }

	  &:only-child {
		display: inline-block;
	  }

	  &:not(only-child):not(img) {
		padding-right: $image-distance;
	  }
	}

	/* Item Content */
	> .#{$c-content} {
	  line-height: $content-line-height;

	  > .#{$c-list} {
		margin-left: 0;
		padding-left: 0;
	  }
	}

	> .#{$c-image},
	> .#{$c-icon} {
	  + .#{$c-content} {
		display: table-cell;
		padding: 0 0 0 $content-distance;
		vertical-align: $content-vertical-align;
	  }
	}

	> img.#{$c-image} + .#{$c-content} {
	  display: inline-block;
	}

	/* Item Header */
	.#{$c-header} {
	  display: block;
	  margin: 0;
	  font-family: $item-header-font-family;
	  font-weight: $item-header-font-weight;
	  color: $item-header-color;
	}

	/* Item Child Link */
	a {
	  cursor: pointer;
	}

	/* Item Header Link */
	a.#{$c-header} {
	  cursor: pointer;
	  color: $item-header-link-color !important;

	  &:hover {
		color: $item-header-link-hover-color !important;
	  }
	}

	/* Item Description */
	.#{$c-description} {
	  display: block;
	  color: $item-description-color;
	}

	/* Item FLoated */
	&.#{$c-floated},
	&#{$left-floated} {
	  float: left;
	  margin: $left-float-margin;
	}

	&#{$right-floated} {
	  float: right;
	  margin: $right-float-margin;
	}
  }

  /* List Linking Items */
  .#{$c-list} > a.#{$c-item},
  > a.#{$c-item} {

	cursor: pointer;
	color: $item-link-color;

	/* Linked Item Icons */
	.#{$c-icon} {
	  color: $item-link-icon-color;
	}

	&:hover {
	  color: $item-link-hover-color;

	  .#{$c-icon} {
		color: $item-link-icon-hover-color;
	  }
	}
  }

  /* List Floated Content */
  &.#{$c-floated},
  &#{$left-floated} {
	float: left;
  }

  &#{$right-floated} {
	float: right;
  }


  /* Disabled */
  .#{$c-list} > .#{$c-item},
  > .#{$c-item} {

	&.#{$c-disabled} {
	  pointer-events: none;
	  color: $disabled-color !important;
	}
  }

  /* Inverted */
  &.#{$c-inverted} {

	.#{$c-list} > .#{$c-item},
	> .#{$c-item} {

	  .#{$c-disabled} {
		color: $inverted-disabled-color !important;
	  }
	}
  }
}