/*--------------
    Attached
---------------*/

/* Shortcuts */
$bottom-attached: selector-bottom-attached();

#{$ui-message}.#{$c-attached} {
  margin-bottom: $attached-y-offset;
  border-radius: $border-radius $border-radius 0 0;
  box-shadow: $attached-box-shadow;
  margin-left: $attached-x-offset;
  margin-right: $attached-x-offset;
}

/* Icon Message */
#{$ui-message}.#{$c-attached}.#{$c-icon} {
  width: auto;
}

#{$ui-message}#{$bottom-attached} {
  margin-top: $attached-y-offset;
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: $attached-bottom-box-shadow;

  &:not(:last-child) {
	margin-bottom: $vertical-margin;
  }
}

.#{$c-ui}.#{$c-attached} + #{$ui-message}.#{$c-attached}:not(.#{$c-top}):not(.#{$c-bottom}) {
  margin-top: $attached-y-offset;
  border-radius: 0;
}