@mixin colors($color-map) {
  @each $name, $color in $color-map {

	#{$ui-message}.#{$name} {

	  background-color: color-bg($color);
	  color: colorize-text($color);
	  box-shadow: 0 0 0 $border-width colorize-divider($color) inset, $shadow-shadow;

	  &.#{$c-attached} {
		box-shadow: 0 0 0 $border-width colorize-divider($color) inset, $shadow-shadow;
	  }

	  .#{$c-header} {
		color: color-text-heading($color);
	  }

	  &.#{$c-inverted} {
		background-color: $color;
		color: color-text($inverted: true);
	  }
	}
  }
}