/*--------------
     Content
---------------*/

#{$ui-message} {

  /* First / Last Element */
  > :first-child {
	margin-top: 0;
  }

  > :last-child {
	margin-bottom: 0;
  }

  /* Header */
  .#{$c-header} {
	display: $header-display;
	font-family: $heading-font-family;
	font-weight: $header-font-weight;
	margin: $header-margin;

	/* Default font size */
	&:not(.#{$c-ui}) {
	  font-size: $header-font-size;
	}
  }

  /* Paragraph */
  p {
	opacity: $message-text-opacity;
	margin: $message-paragraph-margin 0;

	&:first-child {
	  margin-top: 0;
	}

	&:last-child {
	  margin-bottom: 0;
	}
  }

  /* Paragraph after Header */
  .#{$c-header} + p {
	margin-top: $header-paragraph-distance;
  }

  /* List */
  .#{$c-list}:not(.#{$c-ui}) {
	text-align: left;
	padding: 0;
	opacity: $list-opacity;
	list-style-position: $list-style-position;
	margin: $list-margin 0 0;

	&:first-child {
	  margin-top: 0;
	}

	&:last-child {
	  margin-bottom: 0;
	}

	li {
	  position: relative;
	  list-style-type: none;
	  margin: 0 0 $list-item-margin $list-item-indent;
	  padding: 0;

	  &:before {
		position: absolute;
		content: '•';
		left: -1em;
		height: 100%;
		vertical-align: baseline;
	  }

	  &:last-child {
		margin-bottom: 0;
	  }
	}
  }

  /* Icon */
  > .#{$c-icon} {
	margin-right: $icon-distance;
  }

  /* Close Icon */
  > .close.#{$c-icon} {
	cursor: pointer;
	position: absolute;
	margin: 0;
	top: $close-top-distance;
	right: $close-right-distance;
	opacity: $close-opacity;
	transition: $close-transition;

	&:hover {
	  opacity: 1;
	}
  }
}