/*--------------
      Icon
---------------*/

#{$ui-message}.#{$c-icon} {
  display: flex;
  width: 100%;
  align-items: center;

  > .#{$c-icon}:not(.close) {
	display: block;
	flex: 0 0 auto;
	width: auto;
	line-height: 1;
	vertical-align: $icon-vertical-align;
	font-size: $icon-size;
	opacity: $icon-opacity;
  }

  > .#{$c-content} {
	display: block;
	flex: 1 1 auto;
	vertical-align: $icon-vertical-align;
  }

  .#{$c-icon}:not(.close) + .#{$c-content} {
	padding-left: $icon-content-distance;
  }

  .#{$c-icon}.#{$c-circular} {
	width: 1em;
  }
}