/* Shortcuts */
$ui-message: selector-ui-message();
$visible: '.#{$c-visible}.#{$c-visible}.#{$c-visible}';
$hidden: '.#{$c-hidden}.#{$c-hidden}.#{$c-hidden}';

#{$ui-message} {

  position: relative;
  min-height: 1em;
  margin: $vertical-margin 0;
  background: $background;
  padding: $padding;
  line-height: $line-height;
  color: $text-color;
  transition: $transition;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &:first-child {
	margin-top: 0;
  }

  &:last-child {
	margin-bottom: 0;
  }

  &#{$visible} {
	display: block;
  }

  &#{$visible}.#{$c-icon} {
	display: flex;
  }

  &#{$hidden} {
	display: none;
  }
}

.ui.dropdown .menu > .message {
  margin: 0 -$border-width;
}