<div class="example">
	<h4>Button</h4>
	<p>Standard button</p>

	<button class="ui button">Follow</button>
</div>

<div class="example">
	<h4>Active</h4>
	<p>A button can show it is currently the active user selection</p>

	<button class="ui active button">Follow</button>
</div>

<div class="example">
	<h4>Disabled</h4>
	<p>A button can show it is currently unable to be interacted with</p>

	<button class="ui disabled button">Followed</button>
</div>


<div class="example">
	<h4>Colored</h4>
	<p>A button can have different colors</p>

	<button class="ui positive button">Positive</button>
	<button class="ui negative button">negative</button>
</div>

<div class="example inverted">
	<h4>Colored</h4>
	<p>A button can have different colors</p>

	<div class="ui button">Positive</div>
	<div class="ui positive button">Positive</div>
	<div class="ui negative button">negative</div>
</div>

<div class="example">
	<h4>Vertical group</h4>
	<p>Groups can be formatted to appear vertically</p>

	<div class="ui buttons">
		<button class="button">Feed</button>
		<button class="button">Messages</button>
		<button class="button">Events</button>
		<button class="button">Photos</button>
	</div>

	<div class="ui vertical buttons">
		<button class="button">Feed</button>
		<button class="button">Messages</button>
		<button class="button">Events</button>
		<button class="button">Photos</button>
	</div>
</div>

<div class="example inverted">
	<h4>Vertical group</h4>
	<p>Groups can be formatted to appear vertically</p>

	<div class="ui buttons">
		<button class="button">Feed</button>
		<button class="button">Messages</button>
		<button class="button">Events</button>
		<button class="button">Photos</button>
	</div>

	<div class="ui vertical buttons">
		<button class="button">Feed</button>
		<button class="button">Messages</button>
		<button class="button">Events</button>
		<button class="button">Photos</button>
	</div>
</div>

<div class="example">
	<h4>Equal Width</h4>
	<p>Groups can have their widths divided evenly</p>

	<div class="ui five buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
		<button class="button">Reviews</button>
		<button class="button">Support</button>
	</div>
</div>

<div class="example inverted">
	<h4>Equal Width</h4>
	<p>Groups can have their widths divided evenly</p>

	<div class="ui three buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>
</div>

<div class="example">
	<h4>Sizes</h4>

	<button class="ui button mini">Mini</button>
	<button class="ui button tiny">Tiny</button>
	<button class="ui button small">Small</button>
	<button class="ui button medium">Medium</button>
	<button class="ui button large">Large</button>
	<button class="ui button big">Big</button>
	<button class="ui button huge">Huge</button>
	<button class="ui button massive">Massive</button>
</div>


<div class="example">
	<h4>Sizes</h4>

	<div class="ui three mini buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>

	<div class="ui three big buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>
</div>


<div class="example inverted">
	<h4>Sizes</h4>

	<button class="ui button mini">Mini</button>
	<button class="ui button tiny">Tiny</button>
	<button class="ui button small">Small</button>
	<button class="ui button medium">Medium</button>
	<button class="ui button large">Large</button>
	<button class="ui button big">Big</button>
	<button class="ui button huge">Huge</button>
	<button class="ui button massive">Massive</button>
</div>


<div class="example inverted">
	<h4>Sizes</h4>

	<div class="ui three mini buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>

	<div class="ui three big buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>
</div>

<div class="example">
	<h4>Floated</h4>

	<button class="ui floated button">Floated Left by Default</button>
	<button class="ui right floated button">Floated Right</button>
</div>

<div class="example">
	<h4>Floated Group</h4>

	<div class="ui small floated buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>

	<div class="ui small right floated buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>
</div>
