<div class="example">
	<h3>Button</h3>
	<p>Standard button</p>

	<button class="ui button">Follow</button>
</div>

<div class="example">
	<h3>Active</h3>
	<p>A button can show it is currently the active user selection</p>

	<button class="ui active button">Follow</button>
</div>

<div class="example">
	<h3>Disabled</h3>
	<p>A button can show it is currently unable to be interacted with</p>

	<button class="ui disabled button">Followed</button>
</div>

<div class="inverted example">
	<h3>Inverted</h3>
	<p>Inverted button</p>

	<button class="ui button">Followed</button>
</div>


<div class="example">
	<h3>Group</h3>
	<p>Groups can be formatted to appear vertically</p>

	<div class="ui buttons">
		<button class="button">Feed</button>
		<button class="button">Messages</button>
		<button class="button">Events</button>
		<button class="button">Photos</button>
	</div>

	<div class="ui vertical buttons">
		<button class="button">Feed</button>
		<button class="button">Messages</button>
		<button class="button">Events</button>
		<button class="button">Photos</button>
	</div>
</div>

<div class="example inverted">
	<h3>Inverted Group</h3>
	<p>Groups can be formatted to appear vertically</p>

	<div class="ui buttons">
		<button class="button">Feed</button>
		<button class="button">Messages</button>
		<button class="button">Events</button>
		<button class="button">Photos</button>
	</div>

	<div class="ui vertical buttons">
		<button class="button">Feed</button>
		<button class="button">Messages</button>
		<button class="button">Events</button>
		<button class="button">Photos</button>
	</div>
</div>

<div class="example">
	<h3>Equal Width</h3>
	<p>Groups can have their widths divided evenly</p>

	<div class="ui five buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
		<button class="button">Reviews</button>
		<button class="button">Support</button>
	</div>
</div>

<div class="example">
	<h3>Sizes</h3>

	<button class="ui button mini">Mini</button>
	<button class="ui button tiny">Tiny</button>
	<button class="ui button small">Small</button>
	<button class="ui button medium">Medium</button>
	<button class="ui button large">Large</button>
	<button class="ui button big">Big</button>
	<button class="ui button huge">Huge</button>
	<button class="ui button massive">Massive</button>
</div>


<div class="example">
	<h3>Sizes</h3>

	<div class="ui three mini buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>

	<div class="ui three big buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>
</div>

<div class="example">
	<h3>Floated</h3>

	<button class="ui floated button">Floated Left by Default</button>
	<button class="ui right floated button">Floated Right</button>
</div>

<div class="example">
	<h3>Colored</h3>
	<p>A button can have different colors</p>

	<button class="ui positive button">Positive</button>
	<button class="ui negative button">negative</button>
</div>

<div class="example inverted">
	<h3>Inverted Colored</h3>
	<p>A button can have different colors</p>

	<div class="ui button">Normal</div>
	<div class="ui positive button">Positive</div>
	<div class="ui negative button">negative</div>
</div>

<div class="example">
	<h3>Colored Group</h3>
	<p>A button can have different colors</p>

	<div class="ui positive buttons">
		<button class="button">Positive</button>
		<button class="button">Positive</button>
	</div>

	<p>Color override</p>
	<div class="ui positive vertical buttons">
		<button class="button">Positive</button>
		<button class="button">Positive</button>
		<button class="negative button">Override</button>
	</div>

	<p>Individual Color</p>
	<div class="ui buttons">
		<button class="positive button">Positive</button>
		<button class="negative button">Negative</button>
	</div>
</div>

<div class="example inverted">
	<h3>Inverted Colored Group</h3>
	<p>A button can have different colors</p>

	<div class="ui positive buttons">
		<button class="button">Positive</button>
		<button class="button">Positive</button>
	</div>

	<p>Color override</p>
	<div class="ui positive vertical buttons">
		<button class="button">Positive</button>
		<button class="button">Positive</button>
		<button class="negative button">Override</button>
	</div>

	<p>Individual Color</p>
	<div class="ui buttons">
		<button class="positive button">Positive</button>
		<button class="negative button">Negative</button>
	</div>
</div>

<div class="example">
	<h3>Floated Group</h3>

	<div class="ui small floated buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>

	<div class="ui small right floated buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>
</div>
