<div class="example">
	<h4>Basic</h4>
	<p>A basic button is less pronounced</p>

	<button class="ui basic button">Add Friend</button>
</div>

<div class="example">
	<h4>Disabled</h4>

	<button class="ui disabled basic button">Add Friend</button>
</div>

<div class="example">
	<button class="ui positive basic button">Positive</button>
	<button class="ui negative basic button">Negative</button>
</div>

<div class="example inverted">
	<button class="ui basic button">Standard</button>
	<button class="ui basic positive button">Red</button>
	<button class="ui basic negative button">Orange</button>
</div>

<div class="example">
	<h4>Basic Buttons</h4>
	<p>A button group can be less pronounced</p>

	<div class="ui basic buttons">
		<div class="ui button">One</div>
		<div class="ui button">Two</div>
		<div class="ui button">Three</div>
	</div>
	<div class="ui vertical basic buttons">
		<button class="ui button">One</button>
		<button class="ui button">Two</button>
		<button class="ui button">Three</button>
	</div>
</div>

<div class="example inverted">
	<h4>Basic Buttons</h4>
	<p>A button group can be less pronounced</p>

	<div class="ui basic buttons">
		<div class="ui button">One</div>
		<div class="ui button">Two</div>
		<div class="ui button">Three</div>
	</div>
	<div class="ui vertical basic buttons">
		<button class="ui button">One</button>
		<button class="ui button">Two</button>
		<button class="ui button">Three</button>
	</div>
</div>

<div class="example">
	<div class="ui basic buttons">
		<button class="ui button">One</button>
		<button class="ui button">Two</button>
		<button class="ui fail button">Three</button>
	</div>
</div>


<div class="example">
	<h4>Sizes</h4>

	<button class="ui basic button mini">Mini</button>
	<button class="ui basic button tiny">Tiny</button>
	<button class="ui basic button small">Small</button>
	<button class="ui basic button medium">Medium</button>
	<button class="ui basic button large">Large</button>
	<button class="ui basic button big">Big</button>
	<button class="ui basic button huge">Huge</button>
	<button class="ui basic button massive">Massive</button>
</div>


<div class="example inverted">
	<h4>Sizes</h4>

	<div class="ui three mini basic buttons">
		<button class="button">Overview</button>
		<button class="button">Specs</button>
		<button class="button">Warranty</button>
	</div>
</div>


</body>
</html>