<div class="example">
	<h3>Circle Button</h3>
	<p>Standard button</p>

	<button class="ui circular button">Follow</button>
</div>

<div class="example">
	<h3>Active</h3>
	<p>A button can show it is currently the active user selection</p>

	<button class="ui active circular button">Follow</button>
</div>

<div class="example">
	<h3>Disabled</h3>
	<p>A button can show it is currently unable to be interacted with</p>

	<button class="ui circular disabled button">Followed</button>
</div>

<div class="example">
	<h3>Sizes</h3>

	<button class="ui circular button mini">Mini</button>
	<button class="ui circular button tiny">Tiny</button>
	<button class="ui circular button small">Small</button>
	<button class="ui circular button medium">Medium</button>
	<button class="ui circular button large">Large</button>
	<button class="ui circular button big">Big</button>
	<button class="ui circular button huge">Huge</button>
	<button class="ui circular button massive">Massive</button>
</div>

<div class="example">
	<h3>Floated</h3>

	<button class="ui circular floated button">Floated Left by Default</button>
	<button class="ui circular right floated button">Floated Right</button>
</div>

<div class="example">
	<h3>Colored</h3>
	<p>A button can have different colors</p>

	<button class="ui circular positive button">Positive</button>
	<button class="ui circular negative button">negative</button>
</div>

<div class="example inverted">
	<h3>Inverted Colored</h3>
	<p>A button can have different colors</p>

	<div class="ui circular button">Normal</div>
	<div class="ui circular positive button">Positive</div>
	<div class="ui circular negative button">negative</div>
</div>
