<div class="ui container">

	<div class="example">
		<div class="ui container">
			<h4 class="ui header">Container</h4>
			<p>A standard container</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet at delectus deserunt, dolore
				error iusto non soluta voluptatem voluptates. Dolorem eligendi labore nostrum officia quo reiciendis
				ullam unde voluptate.</p>
		</div>
	</div>

	<div class="example">
		<h4 class="ui header">Text Container</h4>
		<p>A container can reduce its maximum width to more naturally accomodate a single column of text</p>

		<div class="ui text container">
			<h2 class="ui header">Header</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aperiam commodi delectus
				deleniti dignissimos doloribus earum error eum, excepturi iste itaque natus nemo officia optio quas qui
				totam ut?</p>
		</div>
	</div>

	<div class="example">
		<h4 class="ui header">Alignment</h4>
		<p>A container can specify its text alignment</p>

		<div class="ui left aligned container">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur delectus dolorum ex
				incidunt maiores, mollitia necessitatibus neque nisi quaerat quis quo repudiandae similique sit.
				Accusantium laboriosam tempora voluptatum?</p>
		</div>
		<div class="ui center aligned container">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae blanditiis iure nulla repellat sequi
				voluptatem voluptates? Accusamus amet cumque delectus iste molestias nobis, quas sit tempore ut
				veritatis! Debitis, voluptatum!</p>
		</div>
		<div class="ui right aligned container">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at consectetur dolores labore, natus
				nihil quia quibusdam unde vel voluptate? Assumenda cumque fugit, harum illo laborum nemo sapiente sunt
				voluptatibus?</p>
		</div>
		<div class="ui justified container">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta ratione sapiente sint sunt
				tempora voluptatibus? Ab aspernatur eius esse minus molestiae nesciunt odio officiis, qui, quisquam quo
				veniam voluptas.</p>
		</div>
	</div>

	<div class="example">
		<h4 class="ui header">Fluid</h4>
		<p>A fluid container has no maximum width</p>

		<div class="ui fluid container">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci amet culpa dolor doloremque
				dolorum ducimus ea enim harum incidunt itaque magni minus nisi nobis, optio possimus quam quisquam!</p>
		</div>
	</div>

	<div class="example">
		<h4 class="ui header">Containers Using Grids</h4>
		<p>A container can be combined with a grid allowing you to use all of the layout and alignment available for
			grids including responsive patterns.</p>

		<div class="ui four column doubling stackable grid container">
			<div class="column">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum sunt, veniam. Aspernatur assumenda at
					dignissimos distinctio eaque eos, excepturi inventore minus mollitia obcaecati quam quo, repellendus
					sit suscipit, voluptates voluptatum?</p>
			</div>
			<div class="column">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut autem consequatur cupiditate
					exercitationem impedit laboriosam laborum laudantium natus placeat praesentium, quaerat quod
					repellendus reprehenderit voluptatibus? Aut fugit quo totam.</p>
			</div>
			<div class="column">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet animi assumenda deserunt dignissimos
					eum eveniet ex facere minus nam odio provident quis quos rem similique totam ut veritatis,
					voluptatum?</p>
			</div>
			<div class="column">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque autem consectetur
					consequatur dignissimos dolore dolorum excepturi ipsa ipsum laboriosam, laborum magnam natus
					necessitatibus nihil officia pariatur quae, rem sunt.</p>
			</div>
		</div>
	</div>

	<div class="example">
		<h4 class="ui header">Container Segment</h4>
		<p>A container can be used with a segment</p>

		<div class="ui raised very padded text container segment">
			<h2 class="ui header">Dogs Roles with Humans</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cumque dolorum eligendi error
				facere iusto laborum minus natus necessitatibus placeat possimus recusandae, repellat sit suscipit unde
				vel velit voluptatibus.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi dolorem, dolores doloribus
				earum, eius explicabo fugit ipsum optio pariatur perferendis provident quisquam quo rem soluta tempora
				unde velit voluptatem?</p>
		</div>
	</div>

</div>