<div class="ui container">
	<div class="example">
		<h4 class="ui header">Disabled</h4>
		<p>An icon can show that it is disabled</p>

		<i class="disabled users icon"></i>
	</div>

	<div class="example">
		<h4 class="ui header">Loading</h4>
		<p>An icon can be used as a simple loader</p>

		<i class="spinner loading icon"></i>
		<i class="notched circle loading icon"></i>
		<i class="asterisk loading icon"></i>
	</div>

	<div class="example">
		<h4 class="ui header">Fitted</h4>
		<p>An icon can be fitted, without any space to the left or right of it.</p>

		<i class="fitted help icon"></i>
	</div>

	<div class="example">
		<h4 class="ui header">Size</h4>
		<p>An icon can vary in size</p>

		<i class="mini home icon"></i>
		<i class="tiny home icon"></i>
		<i class="small home icon"></i>
		<i class="small home icon"></i>
		<i class="home icon"></i>
		<i class="large home icon"></i>
		<i class="big home icon"></i>
		<i class="huge home icon"></i>
		<i class="massive home icon"></i>
	</div>

	<div class="example">
		<h4 class="ui header">Link</h4>
		<p>An icon can be formatted as a link</p>

		<i class="close link icon"></i>
		<i class="help link icon"></i>
	</div>

	<div class="example">
		<h4 class="ui header">Flipped</h4>
		<p>An icon can be flipped</p>

		<i class="horizontally flipped cloud icon"></i>
		<i class="vertically flipped cloud icon"></i>
	</div>

	<div class="example">
		<h4 class="ui header">Rotated</h4>
		<p>An icon can be rotated</p>

		<i class="clockwise rotated cloud icon"></i>
		<i class="counterclockwise rotated cloud icon"></i>
	</div>

	<div class="example">
		<h4 class="ui header">Circular</h4>
		<p>An icon can be formatted to appear circular</p>

		<i class="circular users icon"></i>
		<i class="circular teal users icon"></i>
		<i class="circular inverted users icon"></i>
		<i class="circular inverted teal users icon"></i>
	</div>

	<div class="example">
		<h4 class="ui header">Bordered</h4>
		<p>An icon can be formatted to appear bordered</p>

		<i class="bordered users icon"></i>
		<i class="bordered teal users icon"></i>
		<i class="bordered inverted black users icon"></i>
		<i class="bordered inverted teal users icon"></i>
	</div>

	<div class="example">
		<h4 class="ui header">Colored</h4>
		<p>An icon can be formatted with different colors</p>

		<i class="positive users icon"></i>
		<i class="assertive users icon"></i>
	</div>

	<div class="example">
		<h4 class="ui header">Inverted</h4>
		<p>An icon can have its colors inverted for contrast</p>

		<div class="ui inverted segment">
			<i class="inverted users icon"></i>
			<i class="inverted positive users icon"></i>
			<i class="inverted assertive users icon"></i>
		</div>
	</div>

	<div class="example">
		<h4 class="ui header">Icons</h4>
		<p>Several icons can be used together as a group</p>

		<i class="huge icons">
			<i class="big thin circle icon"></i>
			<i class="user icon"></i>
		</i>
	</div>

	<div class="example">
		<i class="huge icons">
			<i class="big red dont icon"></i>
			<i class="black user icon"></i>
		</i>
		<i class="huge icons">
			<i class="big loading sun icon"></i>
			<i class="user icon"></i>
		</i>
	</div>

	<div class="example">
		<h4 class="ui header">Corner</h4>
		<p>A group of icons can display a smaller corner icon</p>

		<i class="huge icons">
			<i class="puzzle icon"></i>
			<i class="corner add icon"></i>
		</i>
	</div>

	<div class="example">
		<h2 class="ui header">
			<i class="large icons">
				<i class="twitter icon"></i>
				<i class="inverted corner add icon"></i>
			</i> Add on Twitter
		</h2>
	</div>
</div>