<div class="example">
	<h4>Image</h4>
	<p>An image</p>

	<img class="ui small image" src="http://lorempixel.com/32/32/people">
</div>

<div class="example">
	<div class="ui small image">
		<img src="http://lorempixel.com/32/32/people">
	</div>
</div>

<div class="example">
	<div class="ui small image">
		<svg width="150" height="150">
			<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://lorempixel.com/32/32/people" x="0"
			       y="0"
			       width="100%" height="100%"></image>
		</svg>
	</div>
</div>

<div class="example">
	<h4>Link</h4>
	<p>An image can be formatted to link to other content</p>

	<a href="http://google.com" class="ui medium image">
		<img src="http://lorempixel.com/32/32/people">
	</a>
</div>

<div class="example">
	<h4>Hidden</h4>
	<p>An image can be hidden</p>

	<img class="hidden ui image" src="http://lorempixel.com/32/32/people">
</div>

<div class="example">
	<h4>Disabled</h4>
	<p>An image can show that it is disabled and cannot be selected</p>

	<img class="disabled medium ui image" src="http://lorempixel.com/32/32/people">
</div>

<div class="example">
	<h4>Avatar</h4>
	<p>An image may be formatted to appear inline with text as an avatar</p>

	<img class="ui avatar image" src="http://lorempixel.com/32/32/people">
	<span>Username</span>
</div>

<div class="example">
	<h4>Bordered</h4>
	<p>An image may include a border to emphasize the edges of white or transparent content</p>

	<img class="ui medium bordered image" src="http://lorempixel.com/32/32/people">
</div>

<div class="example">
	<h4>Fluid</h4>
	<p>An image can take up the width of its container</p>

	<img class="ui fluid image" src="http://lorempixel.com/256/32/people">

	<div class="ui fluid image">
		<img src="http://lorempixel.com/256/32/people">
	</div>

	<div class="ui fluid images">
		<img src="http://lorempixel.com/256/32/people">
		<img src="http://lorempixel.com/256/32/people">
		<img src="http://lorempixel.com/256/32/people">
	</div>
</div>

<div class="example">
	<h4>Rounded</h4>
	<p>An image may appear rounded</p>

	<img class="ui medium rounded image" src="http://lorempixel.com/32/32/people">
</div>

<div class="example">
	<h4>Circular</h4>
	<p>An image may appear circular</p>

	<img class="ui medium circular image" src="http://lorempixel.com/32/32/people">
</div>

<div class="example">
	<h4>Vertically Aligned</h4>
	<p>An image can specify its vertical alignment</p>

	<img class="ui top aligned tiny image" src="http://lorempixel.com/32/32/people">
	<span>Top Aligned</span>
	<div class="ui divider"></div>
	<img class="ui middle aligned tiny image" src="http://lorempixel.com/32/32/people">
	<span>Middle Aligned</span>
	<div class="ui divider"></div>
	<img class="ui bottom aligned tiny image" src="http://lorempixel.com/32/32/people">
	<span>Bottom Aligned</span>
</div>

<div class="example">
	<h4>Centered</h4>
	<p>An image can appear centered in a content block</p>

	<div class="ui segment">
		<img class="ui centered medium image" src="http://lorempixel.com/32/32/people">
		<p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem
			aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque
			electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
		<p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo.
			Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo
			vide phaedrum, vim vivendum maiestatis in.</p>
		<img class="ui small centered image" src="http://lorempixel.com/32/32/people">
		<p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no
			illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi
			te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum
			postulant per id.</p>
	</div>
</div>

<div class="example">
	<h4>Spaced</h4>
	<p>An image can specify that it needs an additional spacing to separate it from nearby content</p>

	<p>
		<img class="ui mini right spaced image" src="http://lorempixel.com/32/32/people">
		Audiam quaerendum eu sea, pro
		omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his
		te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis
		in.
	</p>
	<p>
		Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no
		illum
		aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam,
		wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant
		per id.
		<img class="ui mini left spaced image" src="http://lorempixel.com/32/32/people">
	</p>
</div>

<div class="example">
	<h4>Floated</h4>
	<p>An image can sit to the left or right of other content</p>

	<div class="ui segment">
		<img class="ui small left floated image" src="http://lorempixel.com/32/32/people">
		<p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem
			aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque
			electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
		<img class="ui small right floated image" src="http://lorempixel.com/32/32/people">
		<p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo.
			Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo
			vide phaedrum, vim vivendum maiestatis in.</p>
		<p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no
			illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi
			te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum
			postulant per id.</p>
	</div>
</div>

<div class="example">
	<h4>Sizes</h4>
	<p>An image may appear at different sizes</p>

	<img class="ui mini image" src="http://lorempixel.com/32/32/people">
	<img class="ui tiny image" src="http://lorempixel.com/32/32/people">
	<img class="ui small image" src="http://lorempixel.com/32/32/people">
	<img class="ui medium image" src="http://lorempixel.com/32/32/people">
	<img class="ui large image" src="http://lorempixel.com/32/32/people">
	<img class="ui big image" src="http://lorempixel.com/32/32/people">
	<img class="ui huge image" src="http://lorempixel.com/32/32/people">
	<img class="ui massive image" src="http://lorempixel.com/32/32/people">
</div>

<div class="example">
	<h4>Size</h4>
	<p>A group of images can be formatted to have the same size.</p>

	<div class="ui tiny images">
		<img class="ui image" src="http://lorempixel.com/32/32/people">
		<img class="ui image" src="http://lorempixel.com/32/32/people">
		<img class="ui image" src="http://lorempixel.com/32/32/people">
		<img class="ui image" src="http://lorempixel.com/32/32/people">
	</div>
</div>

<div class="example">
	<div class="ui small images">
		<img src="http://lorempixel.com/32/32/people">
		<img src="http://lorempixel.com/32/32/people">
		<img src="http://lorempixel.com/32/32/people">
		<img src="http://lorempixel.com/32/32/people">
	</div>
</div>