<div class="example">
	<h4>Rail</h4>
	<p>A rail can be presented on the left or right side of a container</p>

	<div class="ui segment">
		<div class="ui left rail">
			<div class="ui segment">Left Rail Content</div>
		</div>
		<div class="ui right rail">
			<div class="ui segment">Right Rail Content</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto atque, dolor dolorem magni
			minima, minus nam neque, praesentium veniam voluptate voluptates. Aut commodi culpa in, iste iusto
			necessitatibus nesciunt.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad adipisci aliquid assumenda
			consequuntur cupiditate dignissimos esse eum hic inventore ipsam magnam mollitia nobis officiis quidem
			quos sunt, veritatis, voluptatem.</p>
	</div>
</div>

<div class="example">
	<h4>Internal</h4>
	<p>A rail can attach itself to the inside of a container</p>

	<div class="ui segment">
		<div class="ui left internal rail">
			<div class="ui segment">Left Rail Content</div>
		</div>
		<div class="ui right internal rail">
			<div class="ui segment">Right Rail Content</div>
		</div>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto atque, dolor dolorem magni
			minima, minus nam neque, praesentium veniam voluptate voluptates. Aut commodi culpa in, iste iusto
			necessitatibus nesciunt.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad adipisci aliquid assumenda
			consequuntur cupiditate dignissimos esse eum hic inventore ipsam magnam mollitia nobis officiis quidem
			quos sunt, veritatis, voluptatem.</p>
	</div>
</div>

<div class="example">
	<h4>Dividing</h4>
	<p>A rail can create a division between itself and a container</p>

	<div class="ui segment">
		<div class="ui left dividing rail">
			<div class="ui segment">Left Rail Content</div>
		</div>
		<div class="ui right dividing rail">
			<div class="ui segment">Right Rail Content</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, amet consequatur consequuntur
			corporis ducimus eius impedit inventore ipsum, laudantium nulla odit porro recusandae repellendus sed
			sint soluta veniam voluptate voluptates.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium, alias architecto aspernatur cum
			dignissimos eaque eius eligendi inventore ipsum labore laborum maiores modi possimus provident quae
			quisquam sunt voluptatibus.</p>
	</div>
</div>

<div class="example">
	<h4>Attached</h4>
	<p>A rail can appear attached to the main viewport</p>

	<div class="ui segment">
		<div class="ui left attached rail">
			<div class="ui segment">Left Rail Content</div>
		</div>
		<div class="ui right attached rail">
			<div class="ui segment">Right Rail Content</div>
		</div>
		<p></p>
		<p></p>
	</div>
</div>

<div class="example">
	<div class="ui segment">
		<div class="ui left internal attached rail">
			<div class="ui segment">Left Rail Content</div>
		</div>
		<div class="ui right internal attached rail">
			<div class="ui segment">Right Rail Content</div>
		</div>
	</div>
</div>

<div class="example">
	<h4>Close</h4>
	<p>A rail can appear closer to the main viewport</p>

	<div class="ui segment">
		<div class="ui left close rail">
			<div class="ui segment">Left Rail Content</div>
		</div>
		<div class="ui right close rail">
			<div class="ui segment">Right Rail Content</div>
		</div>
		<p></p>
		<p></p>
	</div>
</div>

<div class="example">
	<div class="ui segment">
		<div class="ui left very close rail">
			<div class="ui segment">Left Rail Content</div>
		</div>
		<div class="ui right very close rail">
			<div class="ui segment">Right Rail Content</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolor ea, error esse explicabo fuga
			hic laborum magnam magni minima natus, reiciendis rem repellat sapiente sint ullam voluptas! Ad,
			quasi.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, atque consectetur
			distinctio doloremque dolores error fuga laudantium molestias necessitatibus, nesciunt nostrum, porro
			provident sequi suscipit tempora ullam ut voluptatem?</p>
	</div>
</div>

<div class="example">
	<h4>Sizes</h4>
	<p>A rail can have different sizes</p>

	<div class="ui segment">
		<div class="ui left mini rail">
			<div class="ui segment">Mini </div>
		</div>
		<div class="ui right tiny rail">
			<div class="ui segment">Tiny </div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, atque consectetur
			distinctio doloremque dolores error fuga laudantium molestias necessitatibus, nesciunt nostrum, porro
			provident sequi suscipit tempora ullam ut voluptatem?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, atque consectetur
			distinctio doloremque dolores error fuga laudantium molestias necessitatibus, nesciunt nostrum, porro
			provident sequi suscipit tempora ullam ut voluptatem?</p>
	</div>
	<div class="ui segment">
		<div class="ui left small rail">
			<div class="ui segment">Small </div>
		</div>
		<div class="ui right large rail">
			<div class="ui segment">Large </div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, atque consectetur
			distinctio doloremque dolores error fuga laudantium molestias necessitatibus, nesciunt nostrum, porro
			provident sequi suscipit tempora ullam ut voluptatem?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, atque consectetur
			distinctio doloremque dolores error fuga laudantium molestias necessitatibus, nesciunt nostrum, porro
			provident sequi suscipit tempora ullam ut voluptatem?</p>
	</div>
	<div class="ui segment">
		<div class="ui left big rail">
			<div class="ui segment">Big </div>
		</div>
		<div class="ui right huge rail">
			<div class="ui segment">Huge </div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, atque consectetur
			distinctio doloremque dolores error fuga laudantium molestias necessitatibus, nesciunt nostrum, porro
			provident sequi suscipit tempora ullam ut voluptatem?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, atque consectetur
			distinctio doloremque dolores error fuga laudantium molestias necessitatibus, nesciunt nostrum, porro
			provident sequi suscipit tempora ullam ut voluptatem?</p>
	</div>
	<div class="ui segment">
		<div class="ui right massive rail">
			<div class="ui segment">Massive </div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, atque consectetur
			distinctio doloremque dolores error fuga laudantium molestias necessitatibus, nesciunt nostrum, porro
			provident sequi suscipit tempora ullam ut voluptatem?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur, atque consectetur
			distinctio doloremque dolores error fuga laudantium molestias necessitatibus, nesciunt nostrum, porro
			provident sequi suscipit tempora ullam ut voluptatem?</p>
	</div>
</div>