// Colors
// -------------------------------

$min-width: 320px;
$gutter-width: 2rem;
$row-spacing: 2rem;
$column-max-image-width: 100%;
$consecutive-grid-distance: ($row-spacing / 2);

// Divided
// -------------------------------

$divided-border: -1px 0 0 0 color-divider();
$vertically-divided-border: 0 -1px 0 0 color-divider();

$divided-inverted-border: -1px 0 0 0 color-divider($color-divider-inverted);
$vertically-divided-inverted-border: 0 -1px 0 0 color-divider($color-divider-inverted);

// Celled
// -------------------------------

$celled-margin: 1em 0em;
$celled-width: 1px;
$celled-border-color: color-divider-solid();

$celled-padding: 1em;
$celled-relaxed-padding: 1.5em;
$celled-very-relaxed-padding: 2em;

$celled-grid-divider: 0 0 0 $celled-width $celled-border-color;
$celled-row-divider: 0 (-$celled-width) 0 0 $celled-border-color;
$celled-column-divider: (-$celled-width) 0 0 0 $celled-border-color;

// Stackable
// -------------------------------

$stackable-row-spacing: $row-spacing;
$stackable-gutter: $gutter-width;
$stackable-mobile-border: 1px solid color-divider();
$stackable-inverted-mobile-border: 1px solid color-divider($color-divider-inverted);

// Relaxed
// -------------------------------

$relaxed-gutter-width: 3rem;
$very-relaxed-gutter-width: 5rem;

// Breakpoints
// -------------------------------
$gutters: (2em, 3%, 15%, 23%);

$bp-default-indexes: (1, 2, 3, 4);
$bps: breakpoint-collect-by-indexes($bp-default-indexes);