.ui.message {
  position: relative;
  min-height: 1em;
  margin: $vertical-margin 0;
  background: $background;
  padding: $padding;
  line-height: $line-height;
  color: $text-color;
  transition: $transition;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.ui.message:first-child {
  margin-top: 0;
}

.ui.message:last-child {
  margin-bottom: 0;
}

/*--------------
     Content
---------------*/

/* Header */
.ui.message .header {
  display: $header-display;
  font-family: $heading-font-family;
  font-weight: $header-font-weight;
  margin: $header-margin;
}

/* Default font size */
.ui.message .header:not(.ui) {
  font-size: $header-font-size;
}

/* Paragraph */
.ui.message p {
  opacity: $message-text-opacity;
  margin: $message-paragraph-margin 0;
}

.ui.message p:first-child {
  margin-top: 0;
}

.ui.message p:last-child {
  margin-bottom: 0;
}

.ui.message .header + p {
  margin-top: $header-paragraph-distance;
}

/* List */
.ui.message .list:not(.ui) {
  text-align: left;
  padding: 0;
  opacity: $list-opacity;
  list-style-position: $list-style-position;
  margin: $list-margin 0 0;
}

.ui.message .list:not(.ui):first-child {
  margin-top: 0;
}

.ui.message .list:not(.ui):last-child {
  margin-bottom: 0;
}

.ui.message .list:not(.ui) li {
  position: relative;
  list-style-type: none;
  margin: 0 0 $list-item-margin $list-item-indent;
  padding: 0;
}

.ui.message .list:not(.ui) li:before {
  position: absolute;
  content: '•';
  left: -1em;
  height: 100%;
  vertical-align: baseline;
}

.ui.message .list:not(.ui) li:last-child {
  margin-bottom: 0;
}

/* Icon */
.ui.message > .icon {
  margin-right: $icon-distance;
}

/* Close Icon */
.ui.message > .close.icon {
  cursor: pointer;
  position: absolute;
  margin: 0;
  top: $close-top-distance;
  right: $close-right-distance;
  opacity: $close-opacity;
  transition: $close-transition;
}

.ui.message > .close.icon:hover {
  opacity: 1;
}

/* First / Last Element */
.ui.message > :first-child {
  margin-top: 0;
}

.ui.message > :last-child {
  margin-bottom: 0;
}

/*******************************
            Coupling
*******************************/

.ui.dropdown .menu > .message {
  margin: 0 -$border-width;
}

/*******************************
            States
*******************************/

/*--------------
    Visible
---------------*/

.ui.visible.visible.visible.visible.message {
  display: block;
}

.ui.icon.visible.visible.visible.visible.message {
  display: flex;
}

/*--------------
     Hidden
---------------*/

.ui.hidden.hidden.hidden.hidden.message {
  display: none;
}

/*******************************
            Variations
*******************************/

/*--------------
    Compact
---------------*/

.ui.compact.message {
  display: inline-block;
}

/*--------------
    Attached
---------------*/

.ui.attached.message {
  margin-bottom: $attached-y-offset;
  border-radius: $border-radius $border-radius 0 0;
  box-shadow: $attached-box-shadow;
  margin-left: $attached-x-offset;
  margin-right: $attached-x-offset;
}

.ui.attached + .ui.attached.message:not(.top):not(.bottom) {
  margin-top: $attached-y-offset;
  border-radius: 0;
}

.ui.bottom.attached.message {
  margin-top: $attached-y-offset;
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: $attached-bottom-box-shadow;
}

.ui.bottom.attached.message:not(:last-child) {
  margin-bottom: $vertical-margin;
}

.ui.attached.icon.message {
  width: auto;
}

/*--------------
      Icon
---------------*/

.ui.icon.message {
  display: flex;
  width: 100%;
  align-items: center;
}

.ui.icon.message > .icon:not(.close) {
  display: block;
  flex: 0 0 auto;
  width: auto;
  line-height: 1;
  vertical-align: $icon-vertical-align;
  font-size: $icon-size;
  opacity: $icon-opacity;
}

.ui.icon.message > .content {
  display: block;
  flex: 1 1 auto;
  vertical-align: $icon-vertical-align;
}

.ui.icon.message .icon:not(.close) + .content {
  padding-left: $icon-content-distance;
}

.ui.icon.message .circular.icon {
  width: 1em;
}

/*--------------
    Floating
---------------*/

.ui.floating.message {
  box-shadow: $floating-box-shadow;
}

/* Colors */
.ui.inverted.message {
  background-color: $color-dark;
  color: color-text($inverted: true);
}

@mixin colors($color-map) {
  @each $name, $color in $color-map {

    $box-shadow: 0 0 0 $border-width color-divider($color: $color) inset, $shadow-shadow;

	.ui.#{$name}.message {
	  background-color: color-bg($color);
	  color: colorize-text($color);
	}

    .ui.#{$name}.message,
    .ui.#{$name}.message.attached {
	  box-shadow: $box-shadow;
    }

	.ui.#{$name}.message .header {
	  color: color-heading($color);
	}
  }
}

/*--------------
     Sizes
---------------*/

@each $name, $size in $sizes {
  .ui.#{$name}.message {
	font-size: size($name);
  }
}