$margin: 1rem 0rem;

$highlight-width: 1px;
$highlight-color: color-divider($inverted: true);

$shadow-width: 1px;
$shadow-color: color-divider();

/* Text */
$letter-spacing: 0.05em;
$font-weight: bold;
$color: color-text();
$text-transform: uppercase;

/*-------------------
       Coupling
--------------------*/

/* Icon */
$divider-icon-size: 1rem;
$divider-icon-margin: 0rem;

/*******************************
         Variations
*******************************/

/* Horizontal / Vertical */
$horizontal-margin: 0;
$horizontal-divider-margin: 1em;
$horizontal-ruler-offset: calc(-50% - (#{$horizontal-divider-margin}));

$vertical-divider-margin: 1rem;
$vertical-divider-height: calc(100% - (#{$vertical-divider-margin}));

/* Inverted */
$inverted-text-color: color-text('primary', $inverted: true);
$inverted-highlight-color: rgba(255, 255, 255, 0.15);
$inverted-shadow-color: color-divider();

/* Section */
$section-margin: 2rem;

/* Sizes */
$medium: 1rem;

/* Breakpoints */
$bp-default-indexes: (1, );
$num-used-breakpoints: length($bp-default-indexes);
$bps: map-breakpoints-indexes($bp-default-indexes);