// Element
// -------------------------------

$text-transform: none;
$font-family: $heading-font-family;
$font-weight: $heading-font-weight;
$line-height: $heading-line-height;
$line-height-offset: $heading-line-height-offset;
$color: color-text();

$top-margin: $heading-top-margin;
$bottom-margin: $heading-bottom-margin ;
$margin: $top-margin 0 $bottom-margin;

$first-margin: -$line-height-offset;
$last-margin: 0;
$horizontal-padding: 0;
$vertical-padding: 0;

/* Sub Heading */
$sub-heading-distance: px-em(2px);
$sub-heading-font-size: size('tiny');
$sub-heading-font-weight: bold;
$sub-heading-text-transform: uppercase;
$sub-heading-color: color-text('primary', 'muted');

$small-sub-heading-size: size('mini');
$large-sub-heading-size: size('small');
$huge-sub-heading-size: size('medium');

/* Sub Header */
$sub-header-margin: 0;
$sub-header-line-height: 1.2em;
$sub-header-color: color-text('primary', 'muted');

/* Icon */
$icon-opacity: 1;
$icon-size: 1.5em;
$icon-offset: $line-height-offset;
$icon-margin: 0.75rem;
$icon-alignment: middle;

/* Image */
$image-width: 2.5em;
$image-height: auto;
$image-offset: $line-height-offset;
$image-margin: $icon-margin;
$image-alignment: middle;

/* Label */
$label-size: 1rem;
$label-distance: 0.5rem;
$label-vertical-align: middle;

/* Content */
$content-alignment: top;
$content-icon-alignment: middle;
$content-image-alignment: middle;

/* Paragraph after Header */
$next-paragraph-distance: 0;

/*-------------------
      Variations
--------------------*/

/* Header */
$h1-header-font-size: heading-size(1);
$h2-header-font-size: heading-size(2);
$h3-header-font-size: heading-size(3);
$h4-header-font-size: heading-size(4);
$h5-header-font-size: heading-size(5);

/* Sizing */
$huge-font-size   : $h1-header-font-size;
$large-font-size  : $h2-header-font-size;
$medium-font-size : $h3-header-font-size;
$small-font-size  : $h4-header-font-size;
$tiny-font-size   : $h5-header-font-size;

/* Sub Header */
$h1-sub-header-font-size: heading-size(2);
$h2-sub-header-font-size: heading-size(3);
$h3-sub-header-font-size: heading-size(4);
$h4-sub-header-font-size: heading-size(5);
$h5-sub-header-font-size: heading-size(6);

$huge-sub-header-font-size  : $h1-sub-header-font-size;
$large-sub-header-font-size : $h2-sub-header-font-size;
$sub-header-font-size       : $h3-sub-header-font-size;
$small-sub-header-font-size : $h4-sub-header-font-size;
$tiny-sub-header-font-size  : $h5-sub-header-font-size;

/* Icon Header */
$icon-header-size:            3em;
$icon-header-opacity:         1;
$icon-header-margin:          0.5rem;
$circular-header-icon-size:   2em;
$square-header-icon-size:     2em;

/* No Line Height Offset */
$icon-header-top-margin:       2rem;
$icon-header-bottom-margin:    $bottom-margin;
$icon-header-first-margin:     0em;

/* Divided */
$divided-border-width:            1px;
$divided-border:                  $divided-border-width solid color-divider();
$divided-colored-border-width:    2px;

$divided-border-padding:        px-em(3px);
$divided-sub-header-padding:    px-em(3px);
$divided-icon-padding:          0em;

/* Block */
$block-background: color-main('mid');
$block-box-shadow: none;
$block-border-width: 1px;
$block-border: $block-border-width solid color-divider('solid');
$block-horizontal-padding: size('medium');
$block-vertical-padding: size('mini');
$block-border-radius: unit-rem($default-border-radius);

$tiny-block:     size('tiny');
$small-block:    size('small');
$medium-block:   size('medium');
$large-block:    size('large');
$huge-block:     size('huge');

/* Attached */
$attached-offset: -1px;
$attached-box-shadow: none;
$attached-border: 1px solid color-divider('solid');
$attached-vertical-padding: $block-vertical-padding;
$attached-horizontal-padding: $block-horizontal-padding;
$attached-background: white;
$attached-border-radius: $block-border-radius;

$tiny-attached-size: size('tiny', true);
$small-attached-size: size('small', true);
$medium-attached-size: size('medium', true);
$large-attached-size: size('large', true);
$big-attached-size: size('big', true);
$huge-attached-size: size('huge', true);

/* Inverted */
$inverted-color: color-text('primary', $inverted: true);
$inverted-sub-header-color: color-text('primary', 'muted', true);
$inverted-divided-border-color: color-divider($inverted: true);
$inverted-block-background: color-light(color-main('dark')) $subtle-gradient;
$inverted-attached-background: $inverted-block-background;

/* Floated */
$floated-margin: 0.5em;
