
.ui.header {
  border: none;
  margin: $margin;
  padding: $vertical-padding $horizontal-padding;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
  text-transform: $text-transform;
  color: $color;
}

.ui.header:first-child {
  margin-top: $first-margin;
}

.ui.header:last-child {
  margin-bottom: $last-margin;
}

/*-------------------
        Sizing
--------------------*/

.ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: $medium-font-size;
}

/*--------------
   Sub Header
---------------*/

.ui.header .sub.header {
  display: block;
  font-weight: normal;
  padding: 0;
  margin: $sub-header-margin;
  font-size: $sub-header-font-size;
  line-height: $sub-header-line-height;
  color: $sub-header-color;
}

/*--------------
      Icon
---------------*/

.ui.header > .icon {
  display: table-cell;
  opacity: $icon-opacity;
  font-size: $icon-size;
  padding-top: $icon-offset;
  vertical-align: $icon-alignment;
}

/* With Text Node */
.ui.header .icon:only-child {
  display: inline-block;
  padding: 0;
  margin-right: $icon-margin;
}

/*-------------------
        Image
--------------------*/

.ui.header > .image,
.ui.header > img {
  display: inline-block;
  margin-top: $image-offset;
  width: $image-width;
  height: $image-height;
  vertical-align: $image-alignment;
}

.ui.header > .image:only-child,
.ui.header > img:only-child {
  margin-right: $image-margin;
}

/*--------------
     Content
---------------*/

.ui.header .content {
  display: inline-block;
  vertical-align: $content-alignment;
}

/* After Image */
.ui.header > img + .content,
.ui.header > .image + .content {
  padding-left: $image-margin;
  vertical-align: $content-image-alignment;
}

/* After Icon */
.ui.header > .icon + .content {
  padding-left: $icon-margin;
  display: table-cell;
  vertical-align: $content-icon-alignment;
}

/*--------------
 Loose Coupling
---------------*/

.ui.header .ui.label {
  font-size: $label-size;
  margin-left: $label-distance;
  vertical-align: $label-vertical-align;
}

/* Positioning */
.ui.header + p {
  margin-top: $next-paragraph-distance;
}

/*******************************
            Types
*******************************/

/*--------------
     Page
---------------*/

h1.ui.header {
  font-size: $h1-header-font-size;
}

h2.ui.header {
  font-size: $h2-header-font-size;
}

h3.ui.header {
  font-size: $h3-header-font-size;
}

h4.ui.header {
  font-size: $h4-header-font-size;
}

h5.ui.header {
  font-size: $h5-header-font-size;
}

/* Sub Header */
h1.ui.header .sub.header {
  font-size: $h1-sub-header-font-size;
}

h2.ui.header .sub.header {
  font-size: $h2-sub-header-font-size;
}

h3.ui.header .sub.header {
  font-size: $h3-sub-header-font-size;
}

h4.ui.header .sub.header {
  font-size: $h4-sub-header-font-size;
}

h5.ui.header .sub.header {
  font-size: $h5-sub-header-font-size;
}

/*--------------
 Content Heading
---------------*/

.ui.huge.header {
  min-height: 1em;
  font-size: $huge-font-size;
}

.ui.large.header {
  font-size: $large-font-size;
}

.ui.medium.header {
  font-size: $medium-font-size;
}

.ui.small.header {
  font-size: $small-font-size;
}

.ui.tiny.header {
  font-size: $tiny-font-size;
}

/* Sub Header */
.ui.huge.header .sub.header {
  font-size: $huge-sub-header-font-size;
}

.ui.large.header .sub.header {
  font-size: $huge-sub-header-font-size;
}

.ui.header .sub.header {
  font-size: $sub-header-font-size;
}

.ui.small.header .sub.header {
  font-size: $small-sub-header-font-size;
}

.ui.tiny.header .sub.header {
  font-size: $tiny-sub-header-font-size;
}

/*--------------
   Sub Heading
---------------*/

.ui.sub.header {
  padding: 0;
  margin-bottom: $sub-heading-distance;
  font-weight: $sub-heading-font-weight;
  font-size: $sub-heading-font-size;
  text-transform: $sub-heading-text-transform;
  color: $sub-heading-color;
}

.ui.small.sub.header {
  font-size: $small-sub-heading-size;
}

.ui.sub.header {
  font-size: $sub-heading-font-size;
}

.ui.large.sub.header {
  font-size: $large-sub-heading-size;
}

.ui.huge.sub.header {
  font-size: $huge-sub-heading-size;
}

/*-------------------
        Icon
--------------------*/

.ui.icon.header {
  display: inline-block;
  text-align: center;
  margin: $icon-header-top-margin 0 $icon-header-bottom-margin;
}

.ui.icon.header:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ui.icon.header:first-child {
  margin-top: $icon-header-first-margin;
}

.ui.icon.header .icon {
  float: none;
  display: block;
  width: auto;
  height: auto;
  line-height: 1;
  padding: 0;
  font-size: $icon-header-size;
  margin: 0 auto $icon-header-margin;
  opacity: $icon-header-opacity;
}

.ui.icon.header .content {
  display: block;
  padding: 0;
}

.ui.icon.header .circular.icon {
  font-size: $circular-header-icon-size;
}

.ui.icon.header .square.icon {
  font-size: $square-header-icon-size;
}

.ui.block.icon.header .icon {
  margin-bottom: 0;
}

.ui.icon.header.aligned {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*******************************
            States
*******************************/

.ui.disabled.header {
  opacity: $color-opacity-disabled;
}

/*******************************
           Variations
*******************************/

/*-------------------
      Inverted
--------------------*/

.ui.inverted.header {
  color: $inverted-color;
}

.ui.inverted.header .sub.header {
  color: $inverted-sub-header-color;
}

.ui.inverted.attached.header {
  background: $inverted-attached-background;
  box-shadow: none;
  border-color: transparent;
}

.ui.inverted.block.header {
  background: $inverted-block-background;
  box-shadow: none;
}

.ui.inverted.block.header {
  border-bottom: none;
}

/*-------------------
       Aligned
--------------------*/

.ui.left.aligned.header {
  text-align: left;
}

.ui.right.aligned.header {
  text-align: right;
}

.ui.centered.header,
.ui.center.aligned.header {
  text-align: center;
}

.ui.justified.header {
  text-align: justify;
}

.ui.justified.header:after {
  display: inline-block;
  content: '';
  width: 100%;
}

/*-------------------
       Floated
--------------------*/

.ui.floated.header {
  float: left;
  margin-top: 0;
  margin-right: $floated-margin;
}

.ui.floated.right.header {
  float: right;
}

/*-------------------
       Fitted
--------------------*/

.ui.fitted.header {
  padding: 0;
}

/*-------------------
      Dividing
--------------------*/

.ui.dividing.header {
  padding-bottom: $divided-border-padding;
  border-bottom: $divided-border;
}

.ui.dividing.header .sub.header {
  padding-bottom: $divided-sub-header-padding;
}

.ui.dividing.header .icon {
  margin-bottom: $divided-icon-padding;
}

.ui.inverted.dividing.header {
  border-bottom-color: $inverted-divided-border-color;
}

/*-------------------
        Block
--------------------*/

.ui.block.header {
  background: $block-background;
  padding: $block-vertical-padding $block-horizontal-padding;
  box-shadow: $block-box-shadow;
  border: $block-border;
  border-radius: $block-border-radius;
}

.ui.block.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: $medium-block;
}

.ui.tiny.block.header {
  font-size: $tiny-block;
}

.ui.small.block.header {
  font-size: $small-block;
}

.ui.large.block.header {
  font-size: $large-block;
}

.ui.huge.block.header {
  font-size: $huge-block;
}

/*-------------------
       Attached
--------------------*/

.ui.attached.header {
  background: $attached-background;
  padding: $attached-vertical-padding $attached-horizontal-padding;
  margin-left: $attached-offset;
  margin-right: $attached-offset;
  box-shadow: $attached-box-shadow;
  border: $attached-border;
}

.ui.top.attached.header {
  margin-bottom: 0;
  border-radius: $attached-border-radius $attached-border-radius 0 0;
}

.ui.bottom.attached.header {
  margin-top: 0;
  border-top: none;
  border-radius: 0 0 $attached-border-radius $attached-border-radius;
}

.ui.attached.header:not(.top):not(.bottom) {
  margin-top: 0;
  margin-bottom: 0;
  border-top: none;
  border-radius: 0;
}

.ui.attached.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: $medium-attached-size;
}

.ui.attached.block.header {
  background: $block-background;
}

/* Attached Sizes */
.ui.tiny.attached.header {
  font-size: $tiny-attached-size;
}

.ui.small.attached.header {
  font-size: $small-attached-size;
}

.ui.large.attached.header {
  font-size: $large-attached-size;
}

.ui.huge.attached.header {
  font-size: $huge-attached-size;
}

/*-------------------
       Colors
--------------------*/

@mixin colors($color-map) {
  @each $name, $color in $color-map {
    /* Color */
    .ui.#{$name}.header {
      color: $color !important;
    }
    a.ui.#{$name}.header:hover {
      color: color-hover($color) !important;
    }
    .ui.#{$name}.dividing.header {
      border-bottom: $divided-colored-border-width solid $color;
    }

    /* Inverted */
    .ui.inverted.#{$name}.header {
      color: color-light($color) !important;
    }
    a.ui.inverted.#{$name}.header:hover {
      color: color-light(color-hover($color)) !important;
    }
  }
}

@if $auto-include-colors-main == true {
  @include colors($colors-main);
}