$transition-delay: 0.1s;
$transition-duration: 0.5s;
$transition-easing: cubic-bezier(0.175, 0.885, 0.320, 1);
$transition: all $transition-duration $easing-default $transition-delay;

$bottom-z-index: 2;
$top-z-index: 3;
$active-z-index: 4;

/* Types */
$rotate-degrees: 110deg;
$move-transition: transform $transition-duration $transition-easing $transition-delay;
$slide-transition: transform $transition-duration $easing-default