/*-------------------
       Group
--------------------*/

$step-margin: 1em 0em;
$steps-border-radius: unit-rem($default-border-radius);
$steps-background: none;
$steps-box-shadow: none;
$steps-border: 1px solid color-divider();

/*-------------------
      Element
--------------------*/

$vertical-margin: 0;
$horizontal-margin: 0;

$arrow-size: size('large');
$vertical-padding: size('large');
$horizontal-padding: 2em;

$transition: background-color $default-duration $default-easing,
opacity $default-duration $default-easing,
color $default-duration $default-easing,
box-shadow $default-duration $default-easing;
$line-height: size('large');
$align-items: center;
$justify-content: center;
$background-color: color-main('light');
$background: $background-color;
$border-radius: 0;
$border-width: 1px;
$box-shadow: none;
$border: none;
$divider: $border-width solid color-divider();

/* Icon */
$icon-distance: 1rem;
$icon-size: 2.5em;
$icon-align: center;

/* Title */
$title-font-family: $heading-font-family;
$title-font-weight: bold;
$title-font-size: size('large');
$title-color: color-text();

/* Description */
$description-distance: 0.25em;
$description-font-size: size('small');
$description-font-weight: normal;
$description-color: color-text();

/* Arrow */
$arrow-background-color: $background-color;
$arrow-top-offset: 50%;
$arrow-right-offset: 0;
$arrow-border-width: 0 $border-width $border-width 0;

$arrow-display: block;
$last-arrow-display: none;

$active-arrow-display: block;
$active-last-arrow-display: none;

/* Mobile */
$mobile-icon-distance: $icon-distance;

/*-------------------
       Types
--------------------*/

/* Vertical */
$vertical-divider: $divider;
$vertical-arrow-top-offset: 50%;
$vertical-arrow-right-offset: 0;
$vertical-arrow-border-width: 0 $border-width $border-width 0;

$vertical-arrow-display: none;
$vertical-last-arrow-display: $vertical-arrow-display;

$vertical-active-arrow-display: block;
$vertical-active-last-arrow-display: block;

/*-------------------
      Variations
--------------------*/

$attached-horizontal-offset: $border-width;
$attached-vertical-offset: 0;
$attached-width: calc(100% - #{$attached-horizontal-offset * 2});

$ordered-font-family: inherit;
$ordered-font-weight: bold;

/*-------------------
       States
--------------------*/

/* Completed */
$completed-color: color-text();

/* Hover */
$hover-background: color-main('mid');
$hover-color: color-text('primary', 'hovered');

/* Down */
$down-background: color-main('mid');
$down-color: color-text('primary', 'pressed');

/* Active */
$active-background: color-main('mid');
$active-color: $link-color;
$active-icon-color: color-text();

/* Active + Hover */
$active-hover-background: color-text('primary', $inverted: true);
$active-hover-color: color-text();

/* Disabled */
$disabled-background: $background;
$disabled-color: color-text('primary', 'disabled');

/* Breakpoints */
$bp-default-indexes: (1, 2);
$num-used-breakpoints: length($bp-default-indexes);
$bps: map-breakpoints-indexes($bp-default-indexes);
