/*-------------------
       Aligned
--------------------*/

/* Shortcuts */
$left-aligned: selector-left-aligned();
$right-aligned: selector-right-aligned();

#{$ui-segment}.#{$c-aligned} {
  text-align: center;
}

#{$ui-segment}#{$left-aligned} {
  text-align: left;
}

#{$ui-segment}#{$right-aligned} {
  text-align: right;
}