/*-------------------
       Aligned
--------------------*/

/* Shortcuts */
$left-aligned: selector-left-aligned();
$right-aligned: selector-right-aligned();
$center-aligned: selector-center-aligned();

#{$ui-segment} {

  &#{$left-aligned} {
	text-align: left;
  }

  &#{$right-aligned} {
	text-align: right;
  }

  &#{$center-aligned} {
	text-align: center;
  }
}