/*-------------------
      Attached
--------------------*/

/* Shortcuts */
$top-attached: selector-top-attached();
$bottom-attached: selector-bottom-attached();

#{$ui-segment} {

  /* Middle */
  &.#{$c-attached} {
	top: 0;
	bottom: 0;
	margin: 0 $attached-horizontal-offset;
	width: $attached-width;
	max-width: $attached-width;
	box-shadow: attached-box-shadow();
	border: attached-border();
	border-radius: 0;
  }

  /* Top */
  &#{$top-attached} {
	top: $attached-top-offset;
	bottom: 0;
	margin-bottom: 0;
	margin-top: $vertical-margin;
	border-radius: $border-radius $border-radius 0 0;

	&:first-child {
	  margin-top: 0;
	}
  }

  /* Bottom */
  &#{$bottom-attached} {
	top: $attached-bottom-offset;
	bottom: 0;
	margin-top: 0;
	margin-bottom: $vertical-margin;
	box-shadow: bottom-attached-box-shadow();
	border-radius: 0 0 $border-radius $border-radius;

	&:last-child {
	  margin-bottom: 0;
	}
  }

  /* Fix */
  .#{$c-attached}:not(.#{$c-message}) + #{$ui-segment}.#{$c-attached}:not(#{$top-attached}) {
	border-top: none;
  }
}


