/*-------------------
       Basic
--------------------*/

#{$ui-segment}.#{$c-basic} {
  background: basic-background();
  padding: basic-padding();
  border: basic-border();
  border-radius: $basic-border-radius;
  box-shadow: basic-box-shadow();
}