/*-------------------
       Circular
--------------------*/

/* Shortcuts */
$ui-circular-segment: '#{$ui-segment}.#{$c-circular}';

#{$ui-circular-segment} {
  display: table-cell;
  padding: $circular-padding;
  text-align: center;
  vertical-align: middle;
  border-radius: 500em;
}