/*-------------------
       Colors
--------------------*/
@mixin colorize($color-map) {
  @each $name, $color in $color-map {

	/* Colored Segment */
	#{$ui-segment-group} > .#{$c-segment}.#{$name},
	#{$ui-segment}.#{$name} {
	  border-top: $colored-border-size solid $color;
	}

	/* Inverted Colored Segment */
	.#{$c-inverted} > #{$ui-segment-group} > .#{$c-segment}.#{$name},
	.#{$c-inverted} > #{$ui-segment}.#{$name},
	#{$ui-segment-group}.#{$c-inverted} > .#{$c-segment}.#{$name},
	#{$ui-segment-group} > .#{$c-segment}.#{$name}.#{$c-inverted},
	#{$ui-segment}.#{$name}.#{$c-inverted} {
	  color: color-text(true);
	  background: button-background-colorize($color, true);
	  border: none;
	}
  }
}

@if $auto-include-colors-info {
  @include colorize($colors-info);
}
