/*-------------------
       Compact
--------------------*/

/* Compact Segment Group */
#{$ui-segment-group}.#{$c-compact} {
  display: inline-flex;
}

/* Compact Segment inside Group */
#{$ui-segment-group}.#{$c-compact} > .#{$c-segment},
#{$ui-segment-group} > .#{$c-segment}.#{$c-compact} {
  display: block;
  flex: 0 1 auto;
}

/* Compact Single Segment */
#{$ui-segment}.#{$c-compact} {
  display: table;
}