/*-------------------
       Compact
--------------------*/

/* Shortcuts */
$ui-compact-segment: '#{$ui-segment}.#{$c-compact}';
$ui-compact-segment-group: '#{$ui-segment-group}.#{$c-compact}';

#{$ui-compact-segment-group} .#{$c-segment},
#{$ui-segment-group} .#{$c-segment}.#{$c-compact} {
  display: block;
  flex: 0 1 auto;
}

#{$ui-compact-segment} {
  display: table;
}

/* Compact Group */
#{$ui-compact-segment-group} {
  display: inline-flex;
}