/*-------------------
     Emphasis
--------------------*/

#{$ui-segment-group} > .#{$c-segment},
#{$ui-segment} {

  /* Secondary */
  &.secondary {
	color: secondary-color();
	background: secondary-background();

	&.#{$c-inverted} {
	  color: secondary-color(true);
	  background: secondary-background(true);
	}
  }

  /* Tertiary */
  &.tertiary {
	color: tertiary-color();
	background: tertiary-background();

	&.#{$c-inverted} {
	  color: tertiary-color(true);
	  background: tertiary-background(true);
	}
  }
}