/*-------------------
       Floated
--------------------*/

/* Shortcuts */
$right-floated: selector-right-floated();

#{$ui-segment-group},
#{$ui-segment} {

  /* Left by default */
  &.#{$c-floated} {
	float: left;
	margin-right: $floated-distance;
  }

  &#{$right-floated} {
	float: right;
	margin-left: $floated-distance;
	margin-right: 0;
  }
}