/*-------------------
      Inverted
--------------------*/

/* Shortcuts */
$ui-inverted-segment: '#{$ui-segment}.#{$c-inverted}';

#{$ui-inverted-segment} {

  border: none;
  box-shadow: none;
  background: $inverted-background;
  color: color-text($inverted: true);

  /* Nested Segment */
  .#{$c-segment} {
	color: color-text();

	&.#{$c-inverted} {
	  color: color-text($inverted: true);
	}
  }

  /* Attached */
  &.#{$c-attached} {
	border-color: color-divider-solid($inverted: true);
  }
}