/*--------------
    Loading
---------------*/

/* Shortcuts */
$ui-loading-segment: '#{$ui-segment}.#{$c-loading}';

#{$ui-loading-segment} {

  pointer-events: none;
  cursor: default;

  &::before {
	@include overlay;

	background: $loader-dimmer-color;
	border-radius: $border-radius;
	z-index: $loader-dimmer-z-index;
  }

  &::after {
	@include loader($loader-line-color, $loader-fill-color, $loader-size);
  }

  /*&::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;

	margin: $loader-margin;
	width: $loader-size;
	height: $loader-size;

	animation: segment-spin $loader-speed linear;
	animation-iteration-count: infinite;

	border-radius: $border-radius-circular;

	border-color: $loader-line-color $loader-fill-color $loader-fill-color $loader-fill-color;
	border-style: solid;
	border-width: $loader-line-width;

	box-shadow: 0 0 0 1px transparent;
	visibility: visible;
	z-index: $loader-line-z-index;
  }*/
}