/*-------------------
       Padded
--------------------*/

/* Shortcuts */
$very-padded: selector-very-padded();

#{$ui-segment}.#{$c-padded} {
  padding: padded-padding();
}

#{$ui-segment}#{$very-padded} {
  padding: very-padded-padding();
}