/*-------------------
       Padded
--------------------*/

/* Shortcuts */
$very-padded: selector-very-padded();

#{$ui-segment} {

  &.#{$c-padded} {
	padding: $padded-segment-padding;
  }
  &#{$very-padded} {
	padding: $very-padded-segment-padding;
  }
}