/*-------------------
        Piled
--------------------*/

/* Shortcuts */
$ui-piled-segment: '#{$ui-segment}.#{$c-piled}';
$ui-piled-segment-group: '#{$ui-segment-group}.#{$c-piled}';
$top-attached: selector-top-attached();
$bottom-attached: selector-bottom-attached();

#{$ui-piled-segment-group},
#{$ui-piled-segment} {

  margin: piled-margin();
  box-shadow: piled-box-shadow();
  z-index: $piled-z-index;

  &::before,
  &::after {
	content: '';
	display: block;
	position: absolute;
	visibility: visible;

	left: 0;
	width: 100%;
	height: 100%;

	background-color: white;
	border: piled-border();
	box-shadow: piled-box-shadow();
  }

  &::before {
	top: 0;
	z-index: -2;
	transform: rotate(-$piled-degrees);
  }

  &::after {
	top: 0;
	z-index: -1;
	transform: rotate($piled-degrees);
  }
}

#{$ui-piled-segment} {

  &:first-child {
	margin-top: 0;
  }
  &:last-child {
	margin-bottom: 0;
  }

  /* Piled Attached */
  &#{$top-attached} {
	margin: piled-top-attached-margin();

	&:first-child {
	  margin-top: 0;
	}
  }

  &#{$bottom-attached} {
	margin: piled-bottom-attached-margin();

	&:first-child {
	  margin-bottom: 0;
	}
  }
}