/*-------------------
       Stacked
--------------------*/

#{$ui-segment-group}.#{$c-stacked},
#{$ui-segment}.#{$c-stacked} {

  padding-bottom: stacked-padding-value();

  &::before,
  &::after {
	content: '';
	position: absolute;
	visibility: visible;

	left: 0;
	bottom: -($stacked-height / 2);
	width: 100%;
	height: $stacked-height;

	background: stacked-background();
	border-top: stacked-border();
  }

  &::before {
	display: none;
  }

  /* Add additional page */
  &.#{$c-tall} {
	padding-bottom: tall-stacked-padding-value();

	&::before {
	  display: block;
	  bottom: 0;
	}
  }

  /* Inverted */
  &.#{$c-inverted} {

	&::before,
	&::after {
	  background: stacked-background(true);
	  border-top: stacked-border(true);
	}
  }
}