/* Shortcuts */
$ui-segment: selector-ui-segment();
$ui-segment-group: selector-ui-segment-group();

#{$ui-segment-group} > .#{$c-segment},
#{$ui-segment} {

  position: relative;
  background: background();

  margin: margin();
  padding: padding();

  border: border();
  border-radius: $border-radius;
  box-shadow: box-shadow();

  &:first-child {
	margin-top: 0;
  }

  &:last-child {
	margin-bottom: 0;
  }
}

/* Inverted Segment */
.#{$c-inverted} > #{$ui-segment-group} > .#{$c-segment},
.#{$c-inverted} > #{$ui-segment},
#{$ui-segment-group}.#{$c-inverted} > .#{$c-segment},
#{$ui-segment-group} > .#{$c-segment}.#{$c-inverted},
#{$ui-segment}.#{$c-inverted} {
  color: color-text(true);
  background: background(true);

  border: none;
  box-shadow: none;

  /* Nested Segment */
  /*> .#{$c-segment} {
	color: color-text();

	&.#{$c-inverted} {
	  color: color-text(true);
	}
  }*/

  /* Attached Inverted Segment */
  &.#{$c-attached} {
	border-color: color-divider-solid(true);
  }
}

/* Disabled Segment */
#{$ui-segment-group}.#{$c-disabled} > .#{$c-segment},
#{$ui-segment-group} > .#{$c-segment}.#{$c-disabled},
#{$ui-segment}.#{$c-disabled} {
  color: color-text-disabled();
  opacity: $opacity-disabled;
}

/* Segment Group */
#{$ui-segment-group} {

  position: relative;
  flex-direction: column;
  margin: group-margin();

  border: group-border();
  border-radius: $grouped-border-radius;
  box-shadow: group-box-shadow();

  &:first-child {
	margin-top: 0;
  }
  &:last-child {
	margin-bottom: 0;
  }

  /* Nested Segment */
  > .#{$c-segment} {
	margin: 0;
	border: none;
	border-top: grouped-segment-divider();
	border-radius: 0;
	box-shadow: none;
  }
}

/* Nested Group */
#{$ui-segment-group} > .#{$c-segment-group} {
  margin: nested-group-margin();

  /*&:first-child {
	border-top: none;
  }*/
}

/* Nested Vertical Group After Segment */
#{$ui-segment-group} > .#{$c-segment} + .#{$c-segment-group}:not(.#{$c-horizontal}) {
  margin-top: 0;
}

/* Vertical Group */
#{$ui-segment-group}:not(.#{$c-horizontal}) > .#{$c-segment} {

  &:first-child {
	border-top: none;
	border-radius: $border-radius $border-radius 0 0;
  }

  &:last-child {
	border-radius: 0 0 $border-radius $border-radius;
  }

  &:only-child {
	border-radius: $border-radius;
  }
}

/* Horizontal Group */
#{$ui-segment-group}.#{$c-horizontal} {
  display: flex;
  flex-direction: row;

  margin: margin();
  padding: 0;

  background-color: background();

  border: border();
  border-radius: $border-radius;
  box-shadow: box-shadow();

  /* Horizontal Segment */
  > .#{$c-segment} {
	flex: 1 1 auto;

	margin: 0;
	background: none;

	border: none;
	border-left: border();
	border-radius: 0;
	box-shadow: none;

	/* Border Fixes */
	&:first-child {
	  border-left: none;
	}
  }
}

/* Nested Horizontal Group */
#{$ui-segment-group} > .#{$c-segment-group}.#{$c-horizontal} {
  margin: 0;
  background: none;

  border: none;
  border-top: grouped-segment-divider();
  border-radius: 0;
  box-shadow: none;

  /* Border Fixes */
  &:first-child {
	border-top: none;
  }
}

@import "sizes";
@import "colors";
@import "attached";
@import "basic";
@import "dividing";
@import "raised";
@import "stacked";
@import "padded";
@import "piled";
@import "compact";
@import "circular";
@import "clearing";
@import "floated";
@import "aligned";
@import "emphasis";