/*-------------------
       Element
--------------------*/

$vertical-padding: 1em;
$horizontal-padding: 1em;
@function padding() {
  @return $vertical-padding $horizontal-padding;
}

$vertical-margin: 1rem;
$horizontal-margin: 0;
@function margin() {
  @return $vertical-margin $horizontal-margin;
}

$border-radius: unit-rem($border-radius-default);
$border-size: 1px;
$colored-border-size: 2px;

@function background($inverted: false) {
  @return if(to-bool($inverted), $color-dark, white);
}

@function background-colorize($color, $inverted: false) {
  @return if(to-bool($inverted), $color, white);
}

@function border($inverted: false) {
  @return $border-size solid color-divider();
}

@function box-shadow($inverted: false) {
  @return 0 1px 2px 0 color-divider();
}

/*-------------------
       Group
--------------------*/

@function group-border($inverted: false) {
  @return border($inverted);
}

@function group-box-shadow($inverted: false) {
  @return box-shadow($inverted);
}

@function group-margin() {
  @return margin();
}

$grouped-border-radius: $border-radius;

@function nested-group-margin() {
  @return $vertical-margin $vertical-margin;
}

@function grouped-segment-divider($inverted: false) {
  @return border($inverted);
}

/*-------------------
       Coupling
--------------------*/

/* Page Grid Segment */
@function page-grid-margin() {
  @return (2 * $vertical-padding);
}

/*******************************
            States
*******************************/

/* Loading Dimmer */
$loader-dimmer-color: rgba(white, 0.8);
$loader-dimmer-z-index: 100;

/* Loading Spinner */
$loader-size: 3em;
$loader-line-z-index: 101;

/*******************************
            Variations
*******************************/

/* Piled */
$piled-z-index: auto;
@function piled-margin() {
  @return 3em 0;
}

@function piled-top-attached-margin() {
  @return 3em 0 0;
}

@function piled-bottom-attached-margin() {
  @return 0 0 3em;
}

@function piled-border($inverted: false) {
  @return border($inverted);
}

@function piled-box-shadow($inverted: false) {
  @return none;
}

$piled-degrees: 1.2deg;

/* Circular */
@function circular-padding() {
  @return 2em;
}

/* Stacked */
$stacked-height: 6px;
@function stacked-background($inverted: false) {
  @return color-transparent-subtle($color-dark);
}

@function stacked-border($inverted: false) {
  @return border($inverted);
}

@function stacked-padding-value() {
  @return $vertical-padding + (0.4em);
}

@function tall-stacked-padding-value() {
  @return $vertical-padding + (0.8em);
}

/* Raised */
@function raised-box-shadow($inverted: false) {
  @return 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
}

/* Padded */
@function padded-padding() {
  @return 1.5em;
}

@function very-padded-padding() {
  @return 3em;
}

/* Attached */
$attached-top-offset: 0;
$attached-bottom-offset: 0;
$attached-horizontal-offset: $border-size;
$attached-width: calc(100% - (#{$attached-horizontal-offset} * 2));
@function attached-border($inverted: false) {
  @return thin solid color-divider-solid();
}

@function attached-box-shadow($inverted: false) {
  @return none;
}

@function bottom-attached-box-shadow($inverted: false) {
  @return box-shadow($inverted), attached-box-shadow($inverted);
}

/* Floated */
$floated-distance: 1em;

/* Basic */
@function basic-background($inverted: false) {
  @return none;
}

@function basic-border($inverted: false) {
  @return none;
}

@function basic-box-shadow($inverted: false) {
  @return none;
}

@function basic-padding() {
  @return 0;
}

$basic-border-radius: 0;

/* Ordinality */
@function secondary-color($inverted: false) {
  @return color-text-muted($inverted);
}

$secondary-inverted-lightness: 0.2;
@function secondary-background($inverted: false) {
  @return if(to-bool($inverted),
		  lighten($color-dark, ($secondary-inverted-lightness * 100)) linear-gradient(
						  rgba(white, $secondary-inverted-lightness) 0%,
						  rgba(white, $secondary-inverted-lightness) 100%
		  ),
		  $color-mid);
}

@function tertiary-color($inverted: false) {
  @return color-text-muted($inverted);
}

$tertiary-inverted-lightness: 0.35;
@function tertiary-background($inverted: false) {
  @return if(to-bool($inverted),
		  lighten($color-dark, ($tertiary-inverted-lightness * 100)) linear-gradient(
						  rgba(white, $tertiary-inverted-lightness) 0%,
						  rgba(white, $tertiary-inverted-lightness) 100%
		  ),
		  $color-mid);
}
