/*-------------------
       Aligned
--------------------*/

$left-aligned: selector-left-aligned();
$right-aligned: selector-right-aligned();

/* Center aligned by default */
#{$ui-header}.#{$c-aligned} {
  text-align: center;
}

#{$ui-header}#{$left-aligned} {

  text-align: left;
}

#{$ui-header}#{$right-aligned} {
  text-align: right;
}

#{$ui-header}.#{$c-justified} {
  text-align: justify;

  &:after {
	display: block;
	content: '';
  }
}