/*-------------------
       Aligned
--------------------*/

$left-aligned: selector-left-aligned();
$right-aligned: selector-right-aligned();
$center-aligned: selector-center-aligned();

#{$ui-header} {

  &#{$left-aligned} {
  	text-align: left;
  }

  &#{$right-aligned} {
  	text-align: right;
  }

  &#{$center-aligned} {
  	text-align: center;
  }

  &.#{$c-justified} {
	text-align: justify;

	&:after {
	  display: inline-block;
	  content: '';
	  width: 100%;
	}
  }
}