/*-------------------
       Attached
--------------------*/

/* Shortcuts */
$top-attached: selector-top-attached();
$bottom-attached: selector-bottom-attached();

#{$ui-header}.#{$c-attached} {

  background: attached-background();

  margin: attached-margin();
  padding: attached-padding();

  border: attached-border();
  border-top: none;
  border-radius: 0;
  box-shadow: attached-box-shadow();

}

#{$ui-header}#{$top-attached} {
  margin-bottom: 0;
  border: attached-border();
  border-radius: $attached-border-radius $attached-border-radius 0 0;
}

#{$ui-header}#{$bottom-attached} {
  margin-top: 0;
  border-radius: 0 0 $attached-border-radius $attached-border-radius;
}