/*-------------------
       Colors
--------------------*/

@mixin colors($color-map) {
  @each $name, $color in $color-map {

	#{$ui-header}.#{$name} {

	  color: $color !important;

	  &.#{$c-dividing} {
		border-bottom: $divided-colored-border-width solid $color;
	  }

	  /* Inverted */
	  &.#{$c-inverted} {
		color: color-light($color) !important;
	  }

	  @at-root a.#{&}.#{$name}:hover {
		color: color-hover($color) !important;
	  }
	  @at-root a.#{&}.#{$c-inverted}.#{$name}:hover {
		color: color-light(color-hover($color)) !important;
	  }
	}
  }
}

@if $auto-include-colors-info == true {
  @include colors($colors-info);
}