/*-------------------
       Colors
--------------------*/

@mixin colorize($color-map) {
  @each $name, $color in $color-map {

	#{$ui-header}.#{$name} {

	  color: $color;

	  &.#{$c-dividing} {
		border-bottom: divided-border-colorize($color);
	  }

	  /* Inverted */
	  &.#{$c-inverted} {
		color: color-light($color);
	  }
	}

	a#{$ui-header}.#{$name}:hover {
	  color: color-hover($color);
	}
	a#{$ui-header}.#{$c-inverted}.#{$name}:hover {
	  color: color-light(color-hover($color));
	}
  }
}

@if $auto-include-colors-info {
  @include colorize($colors-info);
}