/*--------------
	   Content
  ---------------*/

#{$ui-header} {

  .#{$c-content} {
	display: inline-block;
	vertical-align: $content-alignment;
  }

  /* After Image */
  > img + .#{$c-content},
  > .#{$c-image} + .#{$c-content} {
	padding-left: $image-margin;
	vertical-align: $content-image-alignment;
  }

  /* After Icon */
  > .#{$c-icon} + .#{$c-content} {
	padding-left: $icon-margin;
	display: table-cell;
	vertical-align: $content-icon-alignment;
  }
}