/*-------------------
      Dividing
--------------------*/
$ui-dividing-header: '#{$ui-header}.#{$c-dividing}';
$e-icon: selector-element-icon();

#{$ui-dividing-header} {

  padding-bottom: $divided-border-padding;
  border-bottom: divided-border();

  .#{$c-header-sub} {
	padding-bottom: $divided-sub-header-padding;
  }

  > #{$e-icon} {
	margin-bottom: $divided-icon-padding;
  }

  &.#{$c-inverted} {
	border-bottom: divided-border(true);
  }
}