/*-------------------
       Floated
--------------------*/

/* Shortcuts */
$right-floated: selector-right-floated();

#{$ui-header} {

  &.#{$c-floated} {
	margin-top: 0;
	margin-right: $floated-margin;

	// float left by default
	float: left;
  }

  &#{$right-floated} {
	float: right;
  }
}