/*-------------------
        Icon
--------------------*/

/* Shortcuts */
$ui-icon-header: '#{$ui-header}.#{$c-icon}';

#{$ui-header} {

  > .#{$c-icon} {
	display: table-cell;
	opacity: $icon-opacity;
	font-size: $icon-size;
	padding-top: $icon-offset;
	vertical-align: $icon-alignment;

	/* With Text Node */
	&:only-child {
	  display: inline-block;
	  padding: 0;
	  margin-right: $icon-margin;
	}
  }

}

#{$ui-icon-header} {

  display: inline-block;
  text-align: center;
  margin: $icon-header-top-margin 0 $icon-header-bottom-margin;

  &:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
  }

  &:first-child {
	margin-top: $icon-header-first-margin;
  }

  > .#{$c-icon} {
	float: none;
	display: block;
	width: auto;
	height: auto;
	line-height: 1;
	padding: 0;
	font-size: $icon-header-size;
	margin: 0 auto $icon-header-margin;
	opacity: $icon-header-opacity;

	&.#{$c-circular} {
	  font-size: $circular-header-icon-size;
	}
	&.#{$c-square} {
	  font-size: $square-header-icon-size;
	}
  }

  /* Icon Header Content */
  .#{$c-content} {
	display: block;
	padding: 0;
  }

  /* Block Icon Header */
  &.#{$c-block} > .#{$c-icon} {
	margin-bottom: 0;
  }

  /* Aligned Icon Header */
  &.#{$c-aligned} {
	margin-left: auto;
	margin-right: auto;
	display: block;
  }
}





