/*-------------------
        Icon
--------------------*/

/* Icon inside Header */
#{$ui-header} > .#{$c-icon} {

  display: table-cell;
  opacity: $icon-opacity;
  font-size: $icon-size;
  padding-top: $icon-offset;
  vertical-align: $icon-alignment;

  /* With Text Node */
  &:only-child {
	display: inline-block;
	padding: 0;
	margin-right: $icon-margin;
  }
}

/* Content after Icon inside Header */
#{$ui-header} > .#{$c-icon} + .#{$c-content} {
  padding-left: $icon-margin;
  display: table-cell;
  vertical-align: $content-icon-alignment;
}

/* Icon Header */
#{$ui-header}.#{$c-icon} {

  text-align: center;
  margin: icon-header-margin();

  &:first-child {
	margin-top: $icon-header-first-margin;
  }

  /* Icon inside Icon Header */
  > .#{$c-icon} {
	display: block;
	width: auto;
	height: auto;
	margin: icon-header-margin-icon();
	padding: icon-header-padding-icon();

	font-size: $icon-header-size;
	line-height: 1;

	opacity: $icon-header-opacity;

	&.#{$c-circular} {
	  font-size: $circular-header-icon-size;
	}
	&.#{$c-square} {
	  font-size: $square-header-icon-size;
	}
  }

  /* Icon Header Content */
  > .#{$c-content} {
	display: block;
	padding: 0;
  }
}

/* Icon inside Block Icon Header */
#{$ui-header}.#{$c-icon}.#{$c-block} > .#{$c-icon} {
  margin-bottom: 0;
}

/* Aligned Icon Header */
#{$ui-header}.#{$c-icon}.#{$c-aligned} {
  display: block;
  margin: aligned-icon-header-margin();
}





