/*-------------------
		Image
--------------------*/
$e-content: selector-element-content();

#{$ui-header} {

  > .#{$c-image},
  > img {
	display: inline-block;
	margin-top: $image-offset;
	width: $image-width;
	height: $image-height;
	vertical-align: $image-alignment;

	&:only-child {
	  margin-right: $image-margin;
	}

	/* Content after Image inside Header */
	+ #{$e-content} {
	  padding-left: $image-margin;
	  vertical-align: $content-image-alignment;
	}
  }
}