/*-------------------
      Inverted
--------------------*/

/* Shortcuts */
$ui-inverted-header: '#{$ui-header}.#{$c-inverted}';

#{$ui-inverted-header} {
  color: $inverted-color;

  .#{$c-header-sub} {
	color: $inverted-sub-header-color;
  }

  &.#{$c-attached} {
	background: $inverted-attached-background;
	box-shadow: none;
	border-color: transparent;
  }

  &.#{$c-block} {
	background: $inverted-block-background;
	box-shadow: none;
  	border-bottom: none;
  }
}