/*--------------
   Sub Heading
---------------*/

$ui-sub-header: selector-ui-header-sub();

#{$ui-header} .#{$c-header-sub},
#{$ui-sub-header} {

  display: block;
  color: sub-header-color();

  font-size: heading-size(4);
  font-weight: $sub-heading-font-weight;
  line-height: $sub-header-line-height;

  margin: sub-header-margin();
  margin-bottom: $sub-heading-distance;
  padding: sub-header-padding();

  text-transform: $sub-heading-text-transform;
}

/* Inverted sub-header */
.#{$c-inverted} > #{$ui-header} .#{$c-header-sub},
.#{$c-inverted} > #{$ui-sub-header},
#{$ui-header}.#{$c-inverted} .#{$c-header-sub},
#{$ui-header} .#{$c-header-sub}.#{$c-inverted},
#{$ui-sub-header}.#{$c-inverted} {
  color: sub-header-color(true);
}