$ui-header: ui-header();

#{$ui-header} {

  border: none;
  margin: $margin;
  padding: $vertical-padding $horizontal-padding;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
  font-size: heading-size(3);
  text-transform: $text-transform;
  color: $color;

  &:first-child {
	margin-top: $first-margin;
  }

  &:last-child {
	margin-bottom: $last-margin;
  }

  /* Label */
  .#{$c-label} {
	font-size: $label-size;
	margin-left: $label-distance;
	vertical-align: $label-vertical-align;
  }

  /* Positioning */
  + p {
	margin-top: $next-paragraph-distance;
  }

  /* Disabled */
  &.#{$c-disabled} {
	opacity: $opacity-disabled;
  }
}

//@import "aligned";
//@import "attached";
//@import "block";
//@import "colors";
//@import "content";
//@import "dividing";
//@import "fitted";
//@import "floated";
//@import "icon";
//@import "image";
//@import "inverted";
//@import "sizes";
//@import "sub-header";

