/* Shortcuts */
$ui-divider: ui-divider();

/* Divider */
#{$ui-divider} {

  margin: $margin;

  line-height: 1;
  height: 0;

  font-size: size('medium');
  font-weight: $font-weight;
  text-transform: $text-transform;
  letter-spacing: $letter-spacing;
  color: $color;

  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* Hidden Divider */
  &.#{$c-hidden} {

	border-color: transparent !important;

	&:before,
	&:after {
	  display: none;
	}
  }

  //TODO check if selector can be removed
  &:not(.#{$c-vertical}):not(.#{$c-horizontal}) {
	border-top: $shadow-width solid $shadow-color;
	border-bottom: $highlight-width solid $highlight-color;
  }
}


@import "grid";