.ui.cards > .card,
.ui.card {
  max-width: 100%;
  position: relative;
  display: $display;
  flex-direction: column;

  width: $width;
  min-height: $min-height;
  background: $background;
  padding: $padding;

  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: $transition;
  z-index: $z-index;
}

.ui.card {
  margin: $margin;
}

.ui.cards > .card a,
.ui.card a {
  cursor: pointer;
}

.ui.card:first-child {
  margin-top: 0;
}

.ui.card:last-child {
  margin-bottom: 0;
}

/*--------------
      Cards
---------------*/

.ui.cards {
  display: $group-display;
  margin: $group-margin;
  flex-wrap: wrap;
}

.ui.cards > .card {
  display: $group-card-display;
  margin: $group-card-margin;
  float: $group-card-float;
}

/* Clearing */
.ui.cards:after,
.ui.card:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* Consecutive Card Groups Preserve Row Spacing */
.ui.cards ~ .ui.cards {
  margin-top: $consecutive-group-distance;
}

/*--------------
  Rounded Edges
---------------*/

.ui.cards > .card > :first-child,
.ui.card > :first-child {
  border-radius: $border-radius $border-radius 0 0 !important;
  border-top: none !important;
}

.ui.cards > .card > :last-child,
.ui.card > :last-child {
  border-radius: 0 0 $border-radius $border-radius !important;
}

.ui.cards > .card > :only-child,
.ui.card > :only-child {
  border-radius: $border-radius !important;
}

/*--------------
     Images
---------------*/

.ui.cards > .card > .image,
.ui.card > .image {
  position: relative;
  display: block;
  flex: 0 0 auto;
  padding: $image-padding;
  background: $image-background;
}

.ui.cards > .card > .image > img,
.ui.card > .image > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.ui.cards > .card > .image:not(.ui) > img,
.ui.card > .image:not(.ui) > img {
  border: $image-border;
}

/*--------------
     Content
---------------*/

.ui.cards > .card > .content,
.ui.card > .content {
  flex-grow: 1;
  border: $content-border;
  border-top: $content-divider;
  background: $content-background;
  margin: $content-margin;
  padding: $content-padding;
  box-shadow: $content-box-shadow;
  font-size: $content-font-size;
  border-radius: $content-border-radius;
}

.ui.cards > .card > .content:after,
.ui.card > .content:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.ui.cards > .card > .content > .header,
.ui.card > .content > .header {
  display: block;
  margin: $header-margin;
  font-family: $heading-font-family;
  color: $header-color;
}

/* Default Header Size */
.ui.cards > .card > .content > .header:not(.ui),
.ui.card > .content > .header:not(.ui) {
  font-weight: $header-font-weight;
  font-size: $header-font-size;
  margin-top: $header-line-height-offset;
  line-height: $heading-line-height;
}

.ui.cards > .card > .content > .meta + .description,
.ui.cards > .card > .content > .header + .description,
.ui.card > .content > .meta + .description,
.ui.card > .content > .header + .description {
  margin-top: $description-distance;
}

/*----------------
 Floated Content
-----------------*/

.ui.cards > .card [class*="left floated"],
.ui.card [class*="left floated"] {
  float: left;
}

.ui.cards > .card [class*="right floated"],
.ui.card [class*="right floated"] {
  float: right;
}

/*--------------
     Aligned
---------------*/

.ui.cards > .card [class*="left aligned"],
.ui.card [class*="left aligned"] {
  text-align: left;
}

.ui.cards > .card [class*="center aligned"],
.ui.card [class*="center aligned"] {
  text-align: center;
}

.ui.cards > .card [class*="right aligned"],
.ui.card [class*="right aligned"] {
  text-align: right;
}

/*--------------
  Content Image
---------------*/

.ui.cards > .card .content img,
.ui.card .content img {
  display: inline-block;
  vertical-align: $content-image-vertical-align;
  width: $content-image-width;
}

.ui.cards > .card img.avatar,
.ui.cards > .card .avatar img,
.ui.card img.avatar,
.ui.card .avatar img {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: $avatar-border-radius;
}

/*--------------
   Description
---------------*/

.ui.cards > .card > .content > .description,
.ui.card > .content > .description {
  clear: both;
  color: $description-color;
}

/*--------------
    Paragraph
---------------*/

.ui.cards > .card > .content p,
.ui.card > .content p {
  margin: 0 0 $paragraph-distance;
}

.ui.cards > .card > .content p:last-child,
.ui.card > .content p:last-child {
  margin-bottom: 0;
}

/*--------------
      Meta
---------------*/

.ui.cards > .card .meta,
.ui.card .meta {
  font-size: $meta-font-size;
  color: $meta-color;
}

.ui.cards > .card .meta *,
.ui.card .meta * {
  margin-right: $meta-spacing;
}

.ui.cards > .card .meta :last-child,
.ui.card .meta :last-child {
  margin-right: 0;
}

.ui.cards > .card .meta [class*="right floated"],
.ui.card .meta [class*="right floated"] {
  margin-right: 0;
  margin-left: $meta-spacing;
}

/*--------------
      Links
---------------*/

/* Generic */
.ui.cards > .card > .content a:not(.ui),
.ui.card > .content a:not(.ui) {
  color: $content-link-color;
  transition: $content-link-transition;
}

.ui.cards > .card > .content a:not(.ui):hover,
.ui.card > .content a:not(.ui):hover {
  color: $content-link-hover-color;
}

/* Header */
.ui.cards > .card > .content > a.header,
.ui.card > .content > a.header {
  color: $header-link-color;
}

.ui.cards > .card > .content > a.header:hover,
.ui.card > .content > a.header:hover {
  color: $header-link-hover-color;
}

/* Meta */
.ui.cards > .card .meta > a:not(.ui),
.ui.card .meta > a:not(.ui) {
  color: $meta-link-color;
}

.ui.cards > .card .meta > a:not(.ui):hover,
.ui.card .meta > a:not(.ui):hover {
  color: $meta-link-hover-color;
}

/*--------------
     Buttons
---------------*/

.ui.cards > .card > .buttons,
.ui.card > .buttons,
.ui.cards > .card > .button,
.ui.card > .button {
  margin: $button-margin;
  width: $button-width;
}

/*--------------
      Dimmer
---------------*/

.ui.cards > .card .dimmer,
.ui.card .dimmer {
  background-color: $dimmer-color;
  z-index: $dimmer-z-index;
}

/*--------------
     Labels
---------------*/

/*-----Star----- */

/* Icon */
.ui.cards > .card > .content .star.icon,
.ui.card > .content .star.icon {
  cursor: pointer;
  opacity: $action-opacity;
  transition: $action-transition;
}

.ui.cards > .card > .content .star.icon:hover,
.ui.card > .content .star.icon:hover {
  opacity: $action-hover-opacity;
  color: $star-color;
}

.ui.cards > .card > .content .active.star.icon,
.ui.card > .content .active.star.icon {
  color: $star-active-color;
}

/*-----Like----- */

/* Icon */
.ui.cards > .card > .content .like.icon,
.ui.card > .content .like.icon {
  cursor: pointer;
  opacity: $action-opacity;
  transition: $action-transition;
}

.ui.cards > .card > .content .like.icon:hover,
.ui.card > .content .like.icon:hover {
  opacity: $action-hover-opacity;
  color: $like-color;
}

.ui.cards > .card > .content .active.like.icon,
.ui.card > .content .active.like.icon {
  color: $like-active-color;
}

/*----------------
  Extra Content
-----------------*/

.ui.cards > .card > .extra,
.ui.card > .extra {
  max-width: 100%;
  min-height: 0 !important;
  flex-grow: 0;
  border-top: $extra-divider !important;
  position: $extra-position;
  background: $extra-background;
  width: $extra-width;
  margin: $extra-margin;
  padding: $extra-padding;
  top: $extra-top;
  left: $extra-left;
  color: $extra-color;
  box-shadow: $extra-box-shadow;
  transition: $extra-transition;
}

.ui.cards > .card > .extra a:not(.ui),
.ui.card > .extra a:not(.ui) {
  color: $extra-link-color;
}

.ui.cards > .card > .extra a:not(.ui):hover,
.ui.card > .extra a:not(.ui):hover {
  color: $extra-link-hover-color;
}

/*******************************
           Variations
*******************************/

/*-------------------
       Raised
--------------------*/

.ui.raised.cards > .card,
.ui.raised.card {
  box-shadow: $raised-shadow;
}

.ui.raised.cards a.card:hover,
.ui.link.cards .raised.card:hover,
a.ui.raised.card:hover,
.ui.link.raised.card:hover {
  box-shadow: $raised-shadow-hover;
}

.ui.raised.cards > .card,
.ui.raised.card {
  box-shadow: $raised-shadow;
}

/*-------------------
       Centered
--------------------*/

.ui.centered.cards {
  justify-content: center;
}

.ui.centered.card {
  margin-left: auto;
  margin-right: auto;
}

/*-------------------
        Fluid
--------------------*/

.ui.fluid.card {
  width: 100%;
  max-width: 9999px;
}

/*-------------------
        Link
--------------------*/

.ui.cards a.card,
.ui.link.cards .card,
a.ui.card,
.ui.link.card {
  transform: none;
}

.ui.cards a.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover,
.ui.link.card:hover {
  cursor: pointer;
  z-index: $link-hover-z-index;
  background: $link-hover-background;
  border: $link-hover-border;
  box-shadow: $link-hover-box-shadow;
  transform: $link-hover-transform;
}

/*-------------------
       Colors
--------------------*/

@mixin colors($color-map) {

  @each $name, $color in $color-map {

    .ui.#{$name}.cards > .card,
    .ui.cards > .#{$name}.card,
    .ui.#{$name}.card {
      box-shadow: $border-shadow,
      0 $colored-shadow-distance 0 0 $color,
      $shadow-box-shadow;
    }

    .ui.#{$name}.cards > .card:hover,
    .ui.cards > .#{$name}.card:hover,
    .ui.#{$name}.card:hover {
      box-shadow: $border-shadow,
      0 $colored-shadow-distance 0 0 color-hover($color),
      $shadow-hover-box-shadow;
    }
  }
}

/*--------------
   Card Count
---------------*/
@for $i from 1 through 10 {

  $cardOffset: -(nth($card-spacings, $i));

  .ui.#{number-name($i)}.cards {
    margin-left: $cardOffset;
    margin-right: $cardOffset;
  }
  .ui.#{number-name($i)}.cards > .card {
    width: nth($card-widths, $i);
  }
}

/*-------------------
      Doubling
--------------------*/
@mixin doubling-card($doubling-value: 0.5) {
  @for $i from 2 through length($card-widths) {

    $card-width: nth($card-widths, ceil($i * $doubling-value));
    $card-spacing: nth($card-spacings, ceil($i * $doubling-value));

    .ui.#{number-name($i)}.doubling.cards {
      margin-left: -$card-spacing;
      margin-right: -$card-spacing;
    }
    .ui.#{number-name($i)}.doubling.cards .card {
      width: $card-width;
      margin-left: $card-spacing;
      margin-right: $card-spacing;
    }
  }
}

/* Mobile Default */
@include doubling-card(0.3);

$bp-largest-mobile: map-value-by-index($bps, 1);
@include media('screen', '>=#{$bp-largest-mobile}') {
  @include doubling-card();
}

/* Mobile Only */
@include media('screen', '<#{$bp-largest-mobile}') {

  .ui.stackable.cards {
    display: block !important;
  }
  .ui.stackable.cards .card:first-child {
    margin-top: 0 !important;
  }
  .ui.stackable.cards > .card {
    display: block !important;
    height: auto !important;
    margin: $stackable-row-spacing $stackable-card-spacing;
    padding: 0 !important;
    width: $stackable-margin !important;
  }
}

/*--------------
      Size
---------------*/

.ui.cards > .card {
  font-size: size('medium');
}