/*******************************
             Card
*******************************/

/*-------------------
         View
--------------------*/

/* Shadow */
$shadow-distance: 1px;
$shadow-box-shadow: 0 $shadow-distance 3px 0 color-divider-solid();

/* Card */
$text-color: color-text();
$font-family: $font-family;
$display: flex;
$background: $color-light;
$border-radius: $border-radius-default;
$margin: 1em 0;
$min-height: 0;
$padding: 0;
$width: 290px;
$border-width: 1px;
$border-shadow: 0 0 0 $border-width color-divider-solid();
$box-shadow: $shadow-box-shadow, $border-shadow;
$border: none;
$z-index: 0;
$transition: box-shadow $duration-default $easing-default,
transform $duration-default $easing-default;

/* Card Group */
$horizontal-spacing: 1em;
$row-spacing: 1.75em;

$group-margin: -($row-spacing / 2) -($horizontal-spacing / 2);
$group-display: flex;

$group-card-float: none;
$group-card-display: flex;
$group-card-margin: ($row-spacing / 2) ($horizontal-spacing / 2);

/* Consecutive Cards */
$consecutive-group-distance: ($row-spacing / 2);

/*-------------------
       Content
--------------------*/

/* Image */
$image-background: color-transparent($color-dark);
$image-padding: 0;
$image-border: none;
$image-box-shadow: none;
$image-border: none;

/* Content */
$content-divider: $border-width solid color-divider-internal();
$content-margin: 0;
$content-background: none;
$content-padding: 1em 1em;
$content-font-size: 1em;
$content-border-radius: 0;
$content-box-shadow: none;
$content-border: none;

/* Header */
$header-margin: 0;
$header-font-weight: bold;
$header-font-size: size('big');
$header-line-height-offset: -($line-height - 1em) / 2;
$header-color: color-text();

/* Metadata */
$meta-font-size: size('medium');
$meta-spacing: 0.3em;
$meta-color: color-light(color-text());

/* Icons */
$action-opacity: 0.75;
$action-hover-opacity: 1;
$action-transition: color $duration-default $easing-default;

$star-color: #FFB70A;
$star-active-color: #FFE623;

$like-color: #FF2733;
$like-active-color: #FF2733;

/* Links */
$content-link-color: $link-color;
$content-link-hover-color: $link-hover-color;
$content-link-transition: color $duration-default $easing-default;

$header-link-color: $header-color;
$header-link-hover-color: $link-hover-color;

$meta-link-color: color-light(color-text());
$meta-link-hover-color: $text-color;

/* Description */
$description-distance: 0.5em;
$description-color: rgba(0, 0, 0, 0.68);

/* Content Image */
$content-image-width: auto;
$content-image-vertical-align: middle;

/* Avatar Image */
$avatar-size: 2em;
$avatar-border-radius: $border-radius-circular;

/* Paragraph */
$paragraph-distance: 0.5em;

/* Dimmer */
$dimmer-z-index: 10;
$dimmer-color: $color-mid;

/* Additional Content */
$extra-divider: 1px solid rgba(0, 0, 0, 0.05);
$extra-background: none;
$extra-position: static;
$extra-width: auto;
$extra-top: 0;
$extra-left: 0;
$extra-margin: 0 0;
$extra-padding: 0.75em 1em;
$extra-box-shadow: none;
$extra-color: color-light(color-text());
$extra-transition: color $duration-default $easing-default;

/* Extra Links */
$extra-link-color: color-text-unselected();
$extra-link-hover-color: $link-hover-color;

/* Buttons */
$button-margin: 0 -$border-width;
$button-width: calc(100% + #{$border-width * 2});

/*-------------------
      Variations
--------------------*/

/* Link */
$link-hover-background: $color-light;
$link-hover-border: $border;
$link-hover-z-index: 5;
$link-hover-raise-distance: 3px;
$link-hover-transform: translateY(-$link-hover-raise-distance);

$shadow-hover-box-shadow: 0 $shadow-distance $link-hover-raise-distance 0 color-divider-solid-selected();
$link-hover-box-shadow: $shadow-hover-box-shadow, $border-shadow;

/* Raised */
$raised-shadow: $border-shadow, $floating-shadow;
$raised-shadow-hover: $border-shadow, $floating-shadow-hover;

/* Card Count */
$wide-card-spacing: 1em;
$card-spacing: 0.75em;
$small-card-spacing: 0.5em;

$card-spacings: (
		0, // 1
		$wide-card-spacing, // 2
		$wide-card-spacing, // 3
		$card-spacing, // 4
		$card-spacing, // 5
		$card-spacing, // 6
		$small-card-spacing, // 7
		$small-card-spacing, // 8
		$small-card-spacing, // 9
		$small-card-spacing, // 10
);

$card-widths: (column(1),);

@for $i from 2 through 10 {
	$card-widths: append($card-widths, calc(#{column($i)} - #{nth($card-spacings, $i) * 2}), 'comma');
}

/* Stackable */
$stackable-row-spacing: 1em;
$stackable-card-spacing: 1em;
$stackable-margin: calc(#{column(1)} - #{$stackable-card-spacing * 2});

/* Colored */
$colored-shadow-distance: 2px;

/* Breakpoints */
$bp-default-indexes: (1,);
$bps: breakpoint-collect-by-indexes($bp-default-indexes);