
.ui.items > .item {
  display: $display;
  margin: $item-spacing 0;
  width: $width;
  min-height: $min-height;
  background: $background;
  padding: $padding;

  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  transition: $transition;
  z-index: $z-index;
}

.ui.items > .item a {
  cursor: pointer;
}

/*--------------
      Items
---------------*/

.ui.items {
  margin: $group-margin;
}

.ui.items:first-child {
  margin-top: 0 !important;
}

.ui.items:last-child {
  margin-bottom: 0 !important;
}

/*--------------
      Item
---------------*/

.ui.items > .item:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.ui.items > .item:first-child {
  margin-top: 0;
}

.ui.items > .item:last-child {
  margin-bottom: 0;
}

/*--------------
     Images
---------------*/

.ui.items > .item > .image {
  position: relative;
  flex: 0 0 auto;
  display: $image-display;
  float: $image-float;
  margin: $image-margin;
  padding: $image-padding;
  max-height: $image-max-height;
  align-self: $image-vertical-align;
}

.ui.items > .item > .image > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: $image-border-radius;
  border: $image-border;
}

.ui.items > .item > .image:only-child > img {
  border-radius: $border-radius;
}

/*--------------
     Content
---------------*/

.ui.items > .item > .content {
  display: block;
  flex: 1 1 auto;
  background: $content-background;
  margin: $content-margin;
  padding: $content-padding;
  box-shadow: $content-box-shadow;
  font-size: $content-font-size;
  border: $content-border;
  border-radius: $content-border-radius;
}

.ui.items > .item > .content:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.ui.items > .item > .image + .content {
  min-width: 0;
  width: $content-width;
  display: $content-display;
  margin-left: $content-offset;
  align-self: $content-vertical-align;
  padding-left: $content-image-distance;
}

.ui.items > .item > .content > .header {
  display: inline-block;
  margin: $header-margin;
  font-family: $heading-font-family;
  font-weight: $header-font-weight;
  color: $header-color;
}

/* Default Header Size */
.ui.items > .item > .content > .header:not(.ui) {
  font-size: $header-font-size;
}

/*--------------
     Floated
---------------*/

.ui.items > .item [class*="left floated"] {
  float: left;
}

.ui.items > .item [class*="right floated"] {
  float: right;
}

/*--------------
  Content Image
---------------*/

.ui.items > .item .content img {
  align-self: $content-image-vertical-align;
  width: $content-image-width;
}

.ui.items > .item img.avatar,
.ui.items > .item .avatar img {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: $avatar-border-radius;
}

/*--------------
   Description
---------------*/

.ui.items > .item > .content > .description {
  margin-top: $description-distance;
  max-width: $description-max-width;
  font-size: $description-font-size;
  line-height: $description-line-height;
  color: $description-color;
}

/*--------------
    Paragraph
---------------*/

.ui.items > .item > .content p {
  margin: 0 0 $paragraph-distance;
}

.ui.items > .item > .content p:last-child {
  margin-bottom: 0;
}

/*--------------
      Meta
---------------*/

.ui.items > .item .meta {
  margin: $meta-margin;
  font-size: $meta-font-size;
  line-height: $meta-line-height;
  color: $meta-color;
}

.ui.items > .item .meta * {
  margin-right: $meta-spacing;
}

.ui.items > .item .meta :last-child {
  margin-right: 0;
}

.ui.items > .item .meta [class*="right floated"] {
  margin-right: 0;
  margin-left: $meta-spacing;
}

/*--------------
      Links
---------------*/

/* Generic */
.ui.items > .item > .content a:not(.ui) {
  color: $content-link-color;
  transition: $content-link-transition;
}

.ui.items > .item > .content a:not(.ui):hover {
  color: $content-link-hover-color;
}

/* Header */
.ui.items > .item > .content > a.header {
  color: $header-link-color;
}

.ui.items > .item > .content > a.header:hover {
  color: $header-link-hover-color;
}

/* Meta */
.ui.items > .item .meta > a:not(.ui) {
  color: $meta-link-color;
}

.ui.items > .item .meta > a:not(.ui):hover {
  color: $meta-link-hover-color;
}

/*--------------
     Labels
---------------*/

/*-----Star----- */

/* Icon */
.ui.items > .item > .content .favorite.icon {
  cursor: pointer;
  opacity: $action-opacity;
  transition: $action-transition;
}

.ui.items > .item > .content .favorite.icon:hover {
  opacity: $action-hover-opacity;
  color: $favorite-color;
}

.ui.items > .item > .content .active.favorite.icon {
  color: $favorite-active-color;
}

/*-----Like----- */

/* Icon */
.ui.items > .item > .content .like.icon {
  cursor: pointer;
  opacity: $action-opacity;
  transition: $action-transition;
}

.ui.items > .item > .content .like.icon:hover {
  opacity: $action-hover-opacity;
  color: $like-color;
}

.ui.items > .item > .content .active.like.icon {
  color: $like-active-color;
}

/*----------------
  Extra Content
-----------------*/

.ui.items > .item .extra {
  display: $extra-display;
  position: $extra-position;
  background: $extra-background;
  margin: $extra-margin;
  width: $extra-width;
  padding: $extra-padding;
  top: $extra-top;
  left: $extra-left;
  color: $extra-color;
  box-shadow: $extra-box-shadow;
  transition: $extra-transition;
  border-top: $extra-divider;
}

.ui.items > .item .extra > * {
  margin: ($extra-row-spacing / 2) $extra-horizontal-spacing ($extra-row-spacing / 2) 0;
}

.ui.items > .item .extra > [class*="right floated"] {
  margin: ($extra-row-spacing / 2) 0 ($extra-row-spacing / 2) $extra-horizontal-spacing;
}

.ui.items > .item .extra:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/*******************************
          Responsive
*******************************/

/* Default Image Width */
.ui.items > .item > .image:not(.ui) {
  width: $image-width;
}

$bp-largest-mobile: map-value-by-index($bps, 1);
$bp-largest-tablet: map-value-by-index($bps, 2);

/* Tablet Only */
@include media('screen', '>=#{$bp-largest-mobile}', '<#{$bp-largest-tablet}') {
  .ui.items > .item {
	margin: $tablet-item-spacing 0;
  }
  .ui.items > .item > .image:not(.ui) {
	width: $tablet-image-width;
  }
  .ui.items > .item > .image + .content {
	display: block;
	padding: 0 0 0 $tablet-content-image-distance;
  }

}

/* Mobile Only */
@include media('screen', '<#{$bp-largest-mobile}') {
  .ui.items > .item {
	flex-direction: column;
	margin: $mobile-item-spacing 0;
  }
  .ui.items > .item > .image {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  .ui.items > .item > .image,
  .ui.items > .item > .image > img {
	max-width: 100% !important;
	width: $mobile-image-width !important;
	max-height: $mobile-image-max-height !important;
  }
  .ui.items > .item > .image + .content {
	display: block;
	padding: $mobile-content-image-distance 0 0;
  }

}

/*******************************
           Variations
*******************************/

/*-------------------
       Aligned
--------------------*/

.ui.items > .item > .image + [class*="top aligned"].content {
  align-self: flex-start;
}

.ui.items > .item > .image + [class*="middle aligned"].content {
  align-self: center;
}

.ui.items > .item > .image + [class*="bottom aligned"].content {
  align-self: flex-end;
}

/*--------------
     Relaxed
---------------*/

.ui.relaxed.items > .item {
  margin: $relaxed-item-spacing 0;
}

.ui[class*="very relaxed"].items > .item {
  margin: $very-relaxed-item-spacing 0;
}

/*-------------------
      Divided
--------------------*/

.ui.divided.items > .item {
  border-top: $divided-border;
  margin: $divided-margin;
  padding: $divided-padding;
}

.ui.divided.items > .item:first-child {
  border-top: none;
  margin-top: $divided-first-last-margin !important;
  padding-top: $divided-first-last-padding !important;
}

.ui.divided.items > .item:last-child {
  margin-bottom: $divided-first-last-margin !important;
  padding-bottom: $divided-first-last-padding !important;
}

/* Relaxed Divided */
.ui.relaxed.divided.items > .item {
  margin: 0;
  padding: $relaxed-item-spacing 0;
}

.ui[class*="very relaxed"].divided.items > .item {
  margin: 0;
  padding: $very-relaxed-item-spacing 0;
}

/*-------------------
        Link
--------------------*/

.ui.items a.item:hover,
.ui.link.items > .item:hover {
  cursor: pointer;
}

.ui.items a.item:hover .content .header,
.ui.link.items > .item:hover .content .header {
  color: $header-link-hover-color;
}

/*--------------
      Size
---------------*/

.ui.items > .item {
  font-size: size('medium');
}