/*--------------------
        Colors
---------------------*/

@mixin colors($color-map) {
  @each $name, $color in $color-map {

	$placeholder-color: lighten($color, 40);
	$placeholder-focus-color: lighten($color, 30);

	#{$ui-input}.#{$name} {

	  input {
		background-color: color-bg($color);
		border-color: color-divider($color);
		color: $color;
		box-shadow: none;

		/* Color Placeholder */
		@include placeholder {
		  color: $placeholder-color;
		}

		&:focus {
		  /* Focused Color Placeholder */
		  @include placeholder {
			color: $placeholder-focus-color;
		  }
		}
	  }
	}
  }
}

@if $auto-include-colors-info {
  @include colors($colors-info);
}