/*--------------------
        Fluid
---------------------*/

/* Shortcuts */
$ui-fluid-input: '#{$ui-input}.#{$c-fluid}';

#{$ui-fluid-input} {

  display: flex;

  > input {
	width: 0 !important;
  }
}
