$margin: 1em 0;
$overflow: hidden;

$test-background: color-light($color-dark);
$test-color: $color-light;
$test-font-weight: bold;
$test-text: 'Ad';
$test-font-size: size('medium');
$test-mobile-font-size: size('tiny');

/* Breakpoints */
$bp-default-indexes: (1,);
$bps: breakpoint-collect-by-indexes($bp-default-indexes);