/*--------------------
     User Actions
---------------------*/

.ui.comments .comment .actions {
  font-size: $action-font-size;
}

.ui.comments .comment .actions a {
  cursor: pointer;
  display: inline-block;
  margin: 0 $action-content-distance 0 0;
  color: $action-link-color;
}

.ui.comments .comment .actions a:last-child {
  margin-right: 0;
}

.ui.comments .comment .actions a.active,
.ui.comments .comment .actions a:hover {
  color: $action-link-hover-color;
}