/*--------------
     Author
---------------*/

#{$ui-comment-group} {

  .#{$c-comment} {

	.#{$c-author} {
	  font-size: $author-font-size;
	  color: $author-color;
	  font-weight: $author-font-weight;
	}

	a.#{$c-author} {
	  cursor: pointer;

	  &:hover {
		color: $author-hover-color;
	  }
	}
  }
}



