/*--------------
     Avatar
---------------*/

.ui.comments .comment .avatar {
  display: $avatar-display;
  width: $avatar-width;
  height: $avatar-height;
  float: $avatar-float;
  margin: $avatar-margin;
}

.ui.comments .comment img.avatar,
.ui.comments .comment .avatar img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: $avatar-border-radius;
}