/*--------------------
        Minimal
---------------------*/

#{$ui-comment-group}.#{$c-minimal} {

  .#{$c-comment} .#{$c-action-group} {
	opacity: 0;
	position: $minimal-action-position;
	top: $minimal-action-top;
	right: $minimal-action-right;
	left: $minimal-action-left;
	transition: $minimal-transition;
	transition-delay: $minimal-transition-delay;
  }

  .#{$c-comment} > .#{$c-content}:hover > .#{$c-action-group} {
	opacity: 1;
  }
}

