/*--------------------
        Threaded
---------------------*/

.ui.threaded.comments .comment .comments {
  margin: $threaded-comment-margin;
  padding: $threaded-comment-padding;
  box-shadow: $threaded-comment-box-shadow;
}