/*--------------------
        Threaded
---------------------*/

#{$ui-comment-group}.#{$c-threaded} {

  /* Nested Comment Group */
  .#{$c-comment} .#{$c-comment-group} {
	margin: $threaded-comment-margin;
	padding: $threaded-comment-padding;
	box-shadow: $threaded-comment-box-shadow;
  }
}
