/* Shortcuts */
$ui-comment-group: selector-ui-comment-group();

#{$ui-comment-group} {

  margin: $margin;
  max-width: $max-width;

  &:first-child {
	margin-top: 0;
  }

  &:last-child {
	margin-bottom: 0;
  }

  /* Comment */
  .#{$c-comment} {
	position: relative;
	background: $comment-background;
	margin: $comment-margin;
	padding: $comment-padding;
	border: $comment-border;
	border-top: $comment-divider;
	line-height: $comment-line-height;

	&:first-child {
	  margin-top: $first-comment-margin;
	  padding-top: $first-comment-padding;
	}
  }

  /* Nested Comment Group */
  .#{$c-comment} .#{$c-comment-group} {
	margin: $nested-comments-margin;
	padding: $nested-comments-padding;

	&::before {
	  position: absolute;
	  top: 0;
	  left: 0;
	}

	.comment {
	  border: $nested-comment-border;
	  border-top: $nested-comment-divider;
	  background: $nested-comment-background;
	}
  }
}