.ui.comments {
  margin: $margin;
  max-width: $max-width;
}

.ui.comments:first-child {
  margin-top: 0;
}

.ui.comments:last-child {
  margin-bottom: 0;
}

/*--------------
     Comment
---------------*/

.ui.comments .comment {
  position: relative;
  background: $comment-background;
  margin: $comment-margin;
  padding: $comment-padding;
  border: $comment-border;
  border-top: $comment-divider;
  line-height: $comment-line-height;
}

.ui.comments .comment:first-child {
  margin-top: $first-comment-margin;
  padding-top: $first-comment-padding;
}

/*--------------------
    Nested Comments
---------------------*/

.ui.comments .comment .comments {
  margin: $nested-comments-margin;
  padding: $nested-comments-padding;
}

.ui.comments .comment .comments:before {
  position: absolute;
  top: 0;
  left: 0;
}

.ui.comments .comment .comments .comment {
  border: $nested-comment-border;
  border-top: $nested-comment-divider;
  background: $nested-comment-background;
}