.ui.breadcrumb {
  line-height: 1;
  display: $display;
  margin: $vertical-margin 0;
  vertical-align: $vertical-align;
}
.ui.breadcrumb:first-child {
  margin-top: 0;
}
.ui.breadcrumb:last-child {
  margin-bottom: 0;
}

/*******************************
          Content
*******************************/

/* Divider */
.ui.breadcrumb .divider {
  display: inline-block;
  opacity: $divider-opacity;
  margin: 0 $divider-spacing 0;

  font-size: $divider-size;
  color: $divider-color;
  vertical-align: $divider-vertical-align;
}

/* Link */
.ui.breadcrumb a {
  color: $link-color;
}
.ui.breadcrumb a:hover {
  color: $link-hover-color;
}


/* Icon Divider */
.ui.breadcrumb .icon.divider {
  font-size: $icon-divider-size;
  vertical-align: $icon-divider-vertical-align;
}

/* Section */
.ui.breadcrumb a.section {
  cursor: pointer;
}
.ui.breadcrumb .section {
  display: inline-block;
  margin: $section-margin;
  padding: $section-padding;
}

/* Loose Coupling */
.ui.breadcrumb.segment {
  display: inline-block;
  padding: $segment-padding;
}

/*******************************
            States
*******************************/

.ui.breadcrumb .active.section {
  font-weight: $active-font-weight;
}


/*******************************
           Variations
*******************************/

@each $name, $size in $sizes {
  .ui.mini.breadcrumb {
	font-size: size($name);
  }
}