/*-------------------
      Coupling
--------------------*/

/* Shortcuts */
$ui-dimmer: selector-ui-dimmer();

#{$ui-dimmer} {

  /* Show inside active dimmer */
  .#{$c-loader} {
	display: block;
  }

  /* Black Dimmer */
  #{$ui-loader} {
	color: $inverted-loader-text-color;

	&::before {
	  border-color: $inverted-loader-fill-color;
	}
	&::after {
	  border-color: $inverted-shape-border-color;
	}
  }

  /* White Dimmer (Inverted) */
  &.#{$c-inverted} {

	#{$ui-loader} {
	  color: $loader-text-color;
	  &::before {
		border-color: $loader-fill-color;
	  }
	  &::after {
		border-color: $shape-border-color;
	  }
	}
  }
}