/*-------------------
        Sizes
--------------------*/

@mixin loader-size($name, $default-size: false) {

  $size-class: if(to-bool($default-size), '', '.#{$name}');
  $loader-size: loader-size($name);

  /* Loader */
  #{$ui-loader}#{$size-class} {

	width: $loader-size;
	height: $loader-size;
	font-size: size($name);

	&::before,
	&::after {
	  width: $loader-size;
	  height: $loader-size;
	  margin: loader-offset($name);
	}
  }

  /* Text Loader */
  #{$ui-loader}.#{$c-text}#{$size-class} {
	min-width: $loader-size;
	padding-top: $loader-size + $text-distance;
  }
}

/* Default Size */
@include loader-size('medium', true);

@each $name, $size in $loader-sizes {
  @include loader-size($name);
}