/* Shortcuts */
$ui-loader: selector-ui-loader();
$ui-dimmer: selector-ui-dimmer();

/* Standard Size */
#{$ui-loader} {

  // Hidden by default
  display: none;
  position: absolute;

  // Centering
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  color: color-text();

  text-align: center;
  z-index: 1000;

  /* Active Shape */
  &::after {
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;

	animation: loader-animation $loader-speed linear;
	animation-iteration-count: infinite;

	border: shape-border();
	border-color: shape-border-color();
	border-radius: $border-radius-circular;
	box-shadow: button-box-shadow();
  }

  /* Inverted */
  &.#{$c-inverted} {
	color: color-text(true);

	&::after {
	  border-top-color: color-text(true);
	}
  }

  /* Active Visible */
  &.#{$c-active},
  &.#{$c-visible} {
	display: block;
  }

  /* Disabled Hidden */
  &.#{$c-disabled},
  &.#{$c-hidden} {
	display: none;
  }

  /* Indeterminate */
  &.#{$c-indeterminate} {

	&::after {
	  animation-direction: $indeterminate-direction;
	  animation-duration: $indeterminate-speed;
	}
  }
}

/*-------------------
        Text
--------------------*/

#{$ui-loader}.#{$c-text} {
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-style: normal;
}

/*-------------------
       Inline
--------------------*/

#{$ui-loader}.#{$c-inline} {

  position: relative;
  vertical-align: middle;
  margin: 0;

  &.#{$c-active},
  &.#{$c-visible} {
	display: inline-block;
  }
}

/* Centered Inline */
#{$ui-loader}.#{$c-inline}.#{$c-centered} {

  &.#{$c-active},
  &.#{$c-visible} {
	display: block;
	margin: auto;
  }
}

/*-------------------
      Coupling
--------------------*/

/* Black Dimmer */
#{$ui-dimmer} > #{$ui-loader} {

  // Show inside dimmer
  display: block;

  color: color-text(true);

  &::after {
	border-color: shape-border-color(true);
  }
}

/* White Dimmer (Inverted) */
#{$ui-dimmer}.#{$c-inverted} > #{$ui-loader} {

  color: color-text();

  &::after {
	border-color: shape-border-color();
  }
}

@import "sizes";
