.relative {
  position: relative;
}

.example {
  display: block;
  padding: 2em;

  &::after {
	@extend %clearfix;
  }
}

.example.container {
  display: block;
  margin: auto;
  width: 768px;
  padding: 2em;
  max-width: 100%;
}

.example.inverted {
  background-color: #1B1C1D;

  > h1, > h2, > h3, > h4, > h5, > h6, > p {
	color: white;
  }
}

.example.list {

  > .item {
	display: inline-block;
	margin: 0.5em;
	padding: 1em;
	border: thin gray solid;
	border-radius: 0.2em;
	cursor: pointer;
	text-transform: uppercase;
  }
}

.dimmer {
  @include overlay(0);
  background-color: rgba(black, 0.75);
}

.dimmer.inverted {
  background-color: rgba(white, 0.75);
}
